[2016-04-23 12:05] sunyifan112358 opened #40 "Compile in 32-bit mode"
I wonder if there is a way to compile c++ amp program in 32-bit mode. I tried to use `hcc 'hcc-config --cxxflags --ldflags' -m32 saxpy.cpp -o saxpy`, but I got the error
[code]
How does hcc link HSA runtime? Is there a way we can link another implementation of the runtime library in 32 bit mode?

[2016-04-23 13:17] whchung commented on #40
So far we only do 64-bit. To my knowledge HSA runtime implementation only has 64-bit version as of now

[2016-04-23 13:26] whchung commented on #40
For missing dependencies, please make sure you apt-get these packages:

cmake git subversion g++ libstdc++-4.8-dev libdwarf-dev libelf-dev libtinfo-dev libc6-dev-i386 gcc-multilib llvm llvm-dev llvm-runtime libc++1 libc++-dev libc++abi1 libc++abi-dev re2c libncurses5-dev

[2016-04-23 18:53] bensander commented on #40
Right, 64-bit only.  Nearly all linux distress and apps have moved to 64-bit.

On Apr 23, 2016, at 8:26 AM, Jack Chung <notifications@github.com<mailto:notifications@github.com>> wrote:

For missing dependencies, please make sure you apt-get these packages:

cmake git subversion g++ libstdc++-4.8-dev libdwarf-dev libelf-dev libtinfo-dev libc6-dev-i386 gcc-multilib llvm llvm-dev llvm-runtime libc++

[2016-04-24 00:55] sunyifan112358 commented on #40
I thought HSA is a public standard and all other devices can work with HSA runtime. The runtime implementation should not only be limited to the AMD version. We have a virtual device (our simulator) that only support 32-bit memory address mode, and we have an in-house HSA runtime implementation.
Clang should support m32 option natively. I wonder if HCC can link with another HSA runtime library?

[2016-04-24 01:13] whchung commented on #40
@sunyifan112358 it's possible for hcc-clang to produce 32-bit. In fact it was the default option in the early days. It's just been disabled now, as the HSA runtime contributed by AMD is the only widely visible implementation, and it only supports 64-bit.

May I understand the HSA stack you're working on better? For example, its HSAIL finalization capability, and HSA runtime API version.

In HCC ru

[2016-04-24 02:08] sunyifan112358 commented on #40
@whchung Thank you for your prompt reply. We have been working on providing an intermediate language level emulator for HSA in Multi2Sim. The emulator should produce a vendor-independent HSA program execution result. Currently, we do not finalize HSAIL code but directly execute it. But later on, we may plan to finalize the code to GCN3 and simulate it in out timing simulator. Due to the limitation

[2016-04-25 03:48] whchung commented on #40
it seems SNACK/CLOC doesn't use any AMD-specific HSA runtime API, so that explains why it could be integrated with Multi2sim easily.

HCC runtime on the other hand depends on various AMD extensions to fulfill features yet ratified in HSA Standard. So there would be some gaps to make it work on a plain vanilla HSA runtime.

I'm currently in another cycle of refactoring HCC runtime, to leverage asyn

[2016-04-27 04:03] briansp2020 opened #41 "hcc-config output problem."
I installed rocm-1.0 release from repository and I'm having problem compiling hccaffe from bitbucket/multicoreware. I think the problem is that hcc-config is returning incorrect path.

Shouldn't the path be /opt/rocm/hcc/include ?

[2016-04-27 05:00] scchan commented on #41
That's probably a problem in hccaffe's config.
In general, users should avoid using the --build flag because that instructs the compiler driver to include headers and link to the runtime in the compiler build environment and that's mostly used when testing the compiler.

[2016-04-27 13:33] psteinb opened #42 "is there any way of using hcc for pre-fiji hardware?"
I was wondering if HCC can be used with pre-fiji hardware (say AMD ATI FirePro S9150). if not right now, do you guys have any plans to do so?

[2016-04-27 14:10] whchung commented on #42
Hawaii support is in the roadmap an we should be expecting it in a couple of months.

[2016-04-27 14:24] psteinb commented on #42
ok, thanks a bunch. that gives me a clear road ahead.

[2016-04-27 14:24] #42 closed

[2016-04-28 04:31] briansp2020 commented on #41
You are right. It was my misunderstanding of the make file.

[2016-04-28 04:31] #41 closed

[2016-05-02 04:38] briansp2020 opened #47 "Problem compiling OpenCV example."
Hi,
I'm trying to compile OpenCV example using hcc and am having link error. It's a simple example that loads and saves an image. I compile it with the following command

`hcc `hcc-config --cxxflags` test.cpp -lstdc++ -lopencv_highgui -lopencv_imgcodecs -lopencv_core`

and get

`/tmp/tmp.dCfO0GVjM9/test-5fdd60.host.o: In function `main':
/tmp/test-d09a2a.s.bc:(.text+0x65b): undefined reference to

[2016-05-03 22:21] yan-ming opened #48 "[HSA] Implicitly resource leaking on kernelBufferMap"
Hi @whchung,

I'm going through the HCC runtime to seek other chances to improve the overall performance for the porting applications. After some profiling experiments, I noticed that `LaunchKernelWithDynamicGroupMemoryAsync` somehow takes a portion of time and the cost of `std::map` operations seems to be one main reason for that.

By looking closer, I noticed that the map used for recording kern

[2016-05-03 22:28] whchung commented on #48
@yan-ming in hsa_async_copy branch the work is mostly about removing hsa_memory_copy() and swithc to hsa_amd_memory_copy_async() , so it's most likely be orthogonal with your proposed changes here.

[2016-05-04 22:47] yan-ming commented on #48
@whchung I see. Although the leaking here doesn't really hurt the performance, I'm still feeling it would be better if we can have this patch applied in HCC. Would it be okay for you if I propose a PR with the patch above to the `develop` branch?

[2016-05-04 22:51] whchung commented on #48
sure thing.

[2016-05-05 00:32] #48 closed

[2016-05-05 14:02] sunyifan112358 commented on #40
@whchung Thanks a lot for your help. I wonder if there is a place to find the header files that includes the hsa runtime with AMD extension. We may want to include that in out simulator. If possible, it would still be very helpful if we can have an interface that links with another implementation of the runtime.

I am wondering what is the status of HSAIL? Is AMD going to give it up and fully move

[2016-05-05 14:14] bensander commented on #40
The project is open-source so both of these are avail : the amd extension header is alongisde the hsa.h and in our recent distributions is available in /opt/rocm/include/hsa/hsa_amd_ext.h.   This file has doxygen comments that describe the new APIs in detail.
The HCC runtime which uses these is also open-source, in particular take a look at the HCC language runtime here:
https://github.com/RadeonO

[2016-05-05 14:15] adityaatluri commented on #40
Hi @sunyifan112358 ,
Let me set it up for you the AMD compute stack in pieces so that you can stitch it together.
For using HSA on discrete GPUs, use ROCR and ROCK from [here](https://github.com/RadeonOpenCompute). Once you have them successfully installed, you can use AMD extensions of HSA to do memory transfers between GPU and CPU. You can use existing compiler tools to generate brig file and us

[2016-05-05 15:56] whchung commented on #47
@briansp2020 your build command may impose some problem:

[code]

```hcc-config -cxxflags``` will tell hcc to use libc++, but you also specified to link with libstdc++ . So that's where problem may occur.

To my understanding HIP team are working on a solution to cope with HIP/CUDA applications which must link with libstdc++ , and they should have something working now. I'd suggest you contact the

[2016-05-11 03:43] sunyifan112358 opened #59 "error: invalid argument '-std=c++amp' not allowed with 'C/ObjC'"
I was compiling some code that was mostly written in plain c++ and a function is written with C++ HC. When compile, I got the error in the title. Even if I only use `hcc-config --cxxflags` to compile a .o file, it will still give me this error. Is there any explaination to this error? Can that be caused by may header file has the extension of h rather than hpp? I think .h is still very wildly used

[2016-05-11 03:56] whchung commented on #59
@sunyifan112358 hcc does support .h header files. You should be able to find quite a few under include directory. If possible could you come up with a minimal case and post on gist, so I can understand your issue better?

[2016-05-22 21:40] jvesely opened #62 "GPU kernel access to global variables"
Simple program produces incorrect results. (see attached file)

[code]

$ ./test
1

simple modification to add local pointer gives expected result:
[code]
$ ./test
101

I'm using hcc configured with amdgpu llvm backend and latest git of llvm and lld. The result is the same both on kaveri and carrizo.

Note: CBackend segfaults in the second case, but the resulting binary works.

[2016-05-22 22:18] jvesely opened #63 "Compilation failure when accessing global variables in different compilation unit"
test.cpp:
[code]

other.cpp:
[code]
compiler failure:
error: <unknown>:0:0: in function ZZ4mainEN3_EC__019__cxxamp_trampolineEPNSt3__16atomicIjEE void (%"struct.std::__1::atomic.0" addrspace(1)*): unsupported initializer for address space

error: <unknown>:0:0: in function ZZ4mainEN3_EC__019__cxxamp_trampolineEPNSt3__16atomicIjEE void (%"struct.std::__1::atomic.0" addrspace(1)*): unsupported initi

[2016-05-22 22:40] jvesely commented on #62
note that the same problem exists when using static local variables.
fails.cpp:
[code]
$ ./test
608

works.cpp:
[code]
$ ./test
707

[2016-05-24 18:59] zgu153522 opened #64 "Strange behavior of pointer casts"
I'm not sure whether pointer typecasts are allowed operations in HC kernels when performed on registers and/or LDS.  For example, say I have a register and I access part of it like this:
[code]
It seems depending on possibly what operations are performed before this piece of code, the results in the char variables may be incorrect.  I'm confident that this does work properly if x is in LDS, but wh

[2016-05-24 23:56] zgu153522 commented on #64
Nevermind, the issue is unrelated to this. I need to diagnose it further.

[2016-05-24 23:56] #64 closed

[2016-05-25 16:22] zgu153522 opened #65 "HCC compile permission error requiring recompile"
Typically hcc seems to need to compile something twice - first time it gives a permission denied error, and the second time it goes through.
[code]

[2016-05-25 16:42] whchung commented on #65
@zgu153522 From the error message it seems to be a bug in the backend ("-lc" part in "hcc-lc").Would it be possible to let me know your configuration (ROCm stack version , hcc --version), plus perhaps a minimized case to reproduce the issue so I could forward to backend team for further investigation?

[2016-05-25 16:43] whchung commented on #65
Also, could you try build the program with hcc-hsail ? You could do that by:
[code]

[2016-05-25 17:38] zgu153522 commented on #65
I have:
[code]
Any test case seems to work - I made one that launches an empty kernel.  But I think the pattern is:
if the output file already exists (from a previous call to compile), hcc will put out that error and remove the executable.  Then a subsequent call will work since the file isn't there.  I can confirm that manual removal like this will work:
[code]
It may just be that I'm using it wr

[2016-06-04 05:30] speeder commented on #42
No Tonga? If this library do what I think it does, it would be great to make simulation games (think SimCity), and Tonga + Haswell is something that many gamers own, and is not expensive, and will get even cheaper in the future...

[2016-06-04 14:23] adityaatluri commented on #42
Hi @speeder ,
We have thought about supporting games with HSA. Here are the issues we have right now.
1. Hardware support. Right now only Fiji (GCN 1.2) based cards can use HCC. I don't know about polaris but future products can be supported. As said by Jack, Hawaii is in road map which is GCN 1.1
2. No Windows support for HSA. Note that HSA has no support on Windows. Why? HSA lets writing to the

[2016-06-04 16:02] speeder commented on #42
Still, no Tonga? Tonga is GCN 1.2 too, to the point that using any of AMDGPU-based drivers reach stellar performance in it (example: Tonga are the fastest Radeon with Dota-2+Vulkan, except in very, very high resolutions, when HBM becomes important... I doubt that Tonga hardware is faster than Fiji, so I think the drivers are just more tested on Tonga, or something like that).

[2016-06-04 17:12] adityaatluri commented on #42
Yes. Tonga is GCN 1.2. That's why the road map shows support will be out in two months.

[2016-06-06 02:14] LWisteria opened #71 ""GPU fault detected" for concurrency::parallel_for_each"
I'm trying C++AMP with [simple "vector_add" code](https://gist.github.com/LWisteria/76915d7e7cf2a852b95f98f2e2be4d09), but it doesn't work.

Environment is following:
* Ubuntu 14.04.4
* Core i7-3770K
* AMD Radeon R9 FuryX
* DDR3-1600 2GBx4

Steps to reproduce are following:

0. Clean-install ubuntu 14.04.4 ("Erase disk and install ubuntu")
0. Boot normally, and I got "low level graphic mode" (this

[2016-06-06 02:28] whchung commented on #71
@LWisteria From dmesg it seems there's something wrong in the kernel. Could you first check if ROCm stack is working properly on your system?

In section "Verify Installation" at:
https://github.com/RadeonOpenCompute/ROCm#add-the-rocm-apt-repository

there's a "vector_copy" example which only use HSA API and doesn't involve HCC. Please check if this work or not.

[2016-06-06 03:04] whchung commented on #71
@LWisteria I've changed your test case a bit, please check [my updated version](https://gist.github.com/whchung/f312b353b57ff43e1fc75f678e65687c). It works fine on my system with AMD R9 Nano + Ubuntu 14.04 + ROCm 1.1 stack.

I changed:
1) use "clamp-config", not "hcc-config". for pure C++AMP codes "clamp-config" is preferred.
2) iterate devices from cbegin() to cend(), instead of crbegin() to cren

[2016-06-06 06:09] LWisteria commented on #71
@whchung

Thank you for your answer.

I overlooked https://github.com/RadeonOpenCompute/ROCm#verify-installation and I found [hsa_signal_wait_acquire()](https://github.com/RadeonOpenCompute/ROCR-Runtime/blob/roc-1.1.0/sample/vector_copy.c#L409) doesn't return.
This means the problem is not on hcc but for ROCm run-time or etc?
Could you tell me where I should report?

And thanks for modifying my co

[2016-06-06 06:22] whchung commented on #71
@LWisteria I noticed you are using an Intel i7-3770k, which is Ivy Bridge. To my knowledge to get ROCm stack working properly you need a Haswell, Skylake or later ones which support PCIe 3.0 atomics.

I would still recommend you raise the question at [ROCm git repo]( https://github.com/RadeonOpenCompute/ROCm/issues) so folks there could help you triage your issue better.

[2016-06-06 06:55] LWisteria commented on #71
@whchung

Thank you for your very helpful advice. I file the problem on the [ROCm repo's issue](https://github.com/RadeonOpenCompute/ROCm/issues/13).
And I will try getting Haswell or later CPU and executing on it.

Please close this issue if you don't have any other problem.
Thanks again!

[2016-06-06 07:05] #71 closed

[2016-06-07 22:55] briansp2020 commented on #47
I was able to compile OpenCV example using ROCm-1.1.1

[2016-06-07 22:55] #47 closed

[2016-06-20 06:45] psteinb opened #76 "rocm 1.1 device query?"
Hi,
I am using rocm `4.4.0-kfd-compute-rocm-rel-1.1.1-10` and wanted to write a simple device query app with hc:

[code]
The output I am getting on a R730 with 2xE5-2620v3 and 1x S9300x2 is:
[code]
Am I using the API wrong or is the driver not ready yet?
Best -

[2016-06-20 06:59] whchung commented on #76
@psteinb hc::accelerator::get_description() returns std::wstring . So you'll need to use std::wcout instead of std::out .

[2016-06-20 07:07] psteinb commented on #76
good catch, but that doesn't explain the "0" with the other functions.

[2016-06-20 07:11] psteinb commented on #76
also, what is the rational behind a wide string for `get_description()`? Do you expect any non-ASCII characters in device names?

[2016-06-20 07:23] whchung commented on #76
```hc.hpp``` was derived from C++AMP, and it C++AMP specification and the interface is defined to return ```std::wstring```.

```hc::accelerator::get_dedicated_memory()``` and ```hc::accelerator::get_version()``` have only dummy implementation right now. Let me fix them, as it seems memory region / pool API in HSA runtime have been stabilized.

[2016-06-20 07:25] psteinb commented on #76
very good, thanks a bunch. I am not sure about others reading this thread, but when I start working with a new parallel programming paradigm/environment introspection of hardware is always a nice playground. before I close this thread, is there any way to infer the amount of available memory through HCC?

[2016-06-20 07:32] whchung commented on #76
Please leave this thread open for now, as there's indeed no API to query device memory via HCC at this moment.

I'm going to refactor [HIP runtime](https://github.com/GPUOpen-ProfessionalCompute-Tools/HIP/blob/master/src/hip_hcc.cpp#L625), so a proper dependency is formed between HIP/HCC/HSA.

[2016-06-23 01:20] #65 closed

[2016-06-23 06:46] whchung commented on #76
@psteinb I've made a few commits on "develop" branch of hcc. Now HCC runtime should be able to report version string and device memory for HSA agents:

[code]

[2016-06-23 06:47] #76 closed

[2016-06-23 08:08] psteinb commented on #76
Very good, I'll have a look in due course.
Thanks

[2016-06-29 14:41] Plumax opened #88 "std::bad_function_call error on examples in simple program"
Hello everyone

I installed the hcc compiler using debian rep. I tried to run a little example to test if I'm able to use it properly.

Here's my code:

[code]

And then, I build it as shown in the doc:
`hcc `hcc-config --cxxflags --ldflags` ../src/_SandboxTEST/test.cpp -o test`

However, when I'm trying to run the result `./test`, I got:

[code]

Is anybody have an idea of what it can be?

Thank

[2016-06-29 14:55] whchung commented on #88
@Plumax could you share me your machine configuration (CPU / MB / GPU / Linux distro / kernel version / ROCm stack version)?

[2016-06-29 15:11] Plumax commented on #88
I got :

- CPU :  double processor Intel Xeon E5-2630 v3
- MB : 16 Go memory DDR3
- GeForce GTX 480
- Distro : Linux Mint 17.3
-  kernel version: 3.19.0-32-generic
- ROCm : 1.1.1 package

[2016-06-29 15:47] whchung commented on #88
It seems your configuration isn't supported right now:
- GeForce GTX 480 : it doesn't support either HSAIL or AMD GCN. You could try install CUDA SDK and let hcc be built using its OpenCL stack though.
- Linux Mint 17.3 : it's suggested to use Ubuntu 14.04 or 16.04
- ROCm : ROCm only works on AMD GPU, and your kernel version (3.19.0-32) suggests ROCm stack isn't properly installed (uname -a should

[2016-07-02 19:32] mcopik opened #92 "Capturing temporary object by reference in completion_future"
Method then() in completion_future, responsible for launching a callback functor when completion_future is ready, takes a const reference to functor and then passes it **by reference to newly created thread:**
https://github.com/RadeonOpenCompute/hcc/blob/master/include/hc.hpp#L953

Hence a reference to a temporary object may be saved by the thread. The result is quite obvious to foresee - a myste

[2016-07-02 21:57] mcopik opened #93 "Semantics of asynchronous operations"
The API of HC defines three ways to obtain a completion_future:
1) as a synchronization point with device through create_marker()
2) as a return value of asynchronous copy
3) as a return value of p_f_e

In cases 2 and 3, I guess any exception thrown during execution of this specific operation is going to be rethrown after calling .get(). I'm curious how HC defines the exception handling of first c

[2016-07-06 23:54] #63 closed

[2016-07-06 23:55] jvesely commented on #63
I can't reproduce the compiler error, the behaviour is now same as #62

[2016-07-14 05:08] mcopik opened #95 "Synchronization of copy_async"
I have found out that a synchronization of device (accelerator) doesn't affect the asynchronous copy, for both explicit synchronization and waiting for an accelerator marker; [sample](https://github.com/mcopik/cppamp_samples/blob/master/hc/data_transfer_async.cpp) proves that results are incorrect unless the future returned from copy_async is used.
The consequence is quite clear: usage an asynchro

[2016-07-18 18:53] mcopik opened #96 "False positives in lambda capture"
I had run into issues when capturing compound types which should be amp-compatible. I couldn't reproduce the issue outside HPX and the error was present event for captures without any AMP/HC data structures.
Unfortunately, the error message is a little bit too vague ("variable captured by lambda has unsupported type in amp restricted code") and to properly understand what is happening I had to deb

[2016-07-19 05:37] mcopik opened #97 "Unexpected behaviour of access method to accelerator pointer"
Method accelerator_pointer() in hc::array gives direct address of data allocated on an accelerator. Unfortunately, the behaviour is not predictable as a sample presents:
https://github.com/mcopik/cppamp_samples/blob/master/hc/accelerator_pointer.cpp

Allocating another data on a CPU through accessing array_view changes currently used queue:
https://github.com/RadeonOpenCompute/hcc/blob/master/incl

[2016-07-19 06:32] whchung commented on #97
@mcopik Thanks for spotting this. Would you mind submit a pull request? I'd be happy to merge it.

[2016-07-19 06:32] #88 closed

[2016-07-20 18:29] mcopik opened #99 "HC restriction attribute causes compilation failures"
Adding [[hc]] attribute to template functions results in unexpected compilation errors, even in non-GPU HPX stuff. Those errors doesn't make sense most of the time, they can't be reproduced with any other compiler or hcc when neither [[hc]] nor [[hc, cpu]] is used.

One of the problems could be repeated with this simple sample:
https://gist.github.com/mcopik/6e1cf89c44df783b08a125b83df80b83
If std

[2016-07-20 18:33] mcopik commented on #99
I tried using HCC branch with updated clang (clang_tot_upgrade), but hcc doesn't build at all.

[2016-07-21 02:26] whchung commented on #99
@mcopik Sorry for not being able to address your issues. You surely uncovered a lot of them for HCC. I've achieved some important milestone in clang_tot_upgrade so my time there could be greatly reduced from now on.

clang_tot_upgrade is still in its early phase so I wouldn't recommend try your application on it yet.

[2016-07-21 04:55] mcopik commented on #99
Thanks @whchung
If you need any help with debugging this issue, please let me know. I'll help as much as I can, but it can't be reproduced without HPX.

[2016-07-21 12:48] psteinb opened #101 "looping through all devices causes pthread_detach to segfault"
Hi - I am trying to contribute a stream benchmark using HCC
[psteinb/GPU-STREAM/tree/hcc](https://github.com/psteinb/GPU-STREAM/tree/hcc)
I got the code to compile, but a simple loop through all devices

[code]

causes a segfault that originates in `Kalmar::HSAContext::~HSAContext`:

[code]

`listDevices` is called by `parseArguments` in `main.cpp:279`. What am I missing?

[2016-07-21 13:04] psteinb opened #102 "HSAIL source buffer not available"
Hi - I am trying to contribute a stream benchmark using HCC as aluded to #101 . the code does compile alright with the default `hcc-config --cxxflags` and `hcc-config --ldflags`, when I want to launch the benchmark however, I receive a SIGABRT from libc.so: clone() ! Inside rocm-gdb, I see the following:

[code]
am I compiling against the wrong backend? I am confused. Can you help?

[2016-07-21 15:13] scchan commented on #101
The code looks fine to me.
When exit is called, the hcc runtime will destroy the execution context, which triggers the teardown of the rocr/hsa runtime and that's where the segfault happens.
I'll take a look at this with a debug build of rocr runtime and forward it to the rocr team if needed.

[2016-07-21 15:15] psteinb commented on #101
thanks a bunch - I'll keep this issue open until further notice

[2016-07-22 09:22] whchung commented on #99
I'm looking into this issue now. For some reason, std::move(lvalue) becomes a l-value instead of an x-value when [[hc]] is annotated in HPX_HOST_DEVICE macro. So the compiler thinks the whole initializer expression as an l-value and rejects it.

[2016-07-25 09:40] whchung commented on #99
I'm still working on this issue. Since it's related to type system is quite complicated. Let me jot down my findings so far:

Tracing into ctor initialization codes, right now I've identified that with `[[hc]]` annotated in `HPX_HOST_DEVICE` macro, then while doing template instantiation for the following codes:

[code]

The type of `int&&` would somehow be incorrectly resolved as an l-value refer

[2016-07-25 12:37] whchung commented on #99
Still working on getting to the bottom of this issue.

At:
https://github.com/RadeonOpenCompute/hcc-clang/blob/master/lib/Sema/SemaTemplateInstantiate.cpp#L2707

I can observe the following erratic behavior when `[[hc]]` is annotated in `HPX_HOST_DEVICE` macro.

[code]

In normal case it would be like this:
[code]

The next step would be to check call sites of `void LocalInstantiationScope::Instan

[2016-07-26 11:16] whchung commented on #99
@mcopik After being able to setup a good breakpoint, and comparing stacks between good case and bad case, I've finally spotted the code which triggers the issue: https://github.com/RadeonOpenCompute/hcc-clang/blob/master/lib/Sema/SemaExpr.cpp#L11751

As `hpx::util::tuple` contains member functions with `HPX_HOST_DEVICE` macro, with `[[hc]]` attribute annotated, GPU deserialize function would be pr

[2016-07-26 12:01] psteinb commented on #101
btw, the same error occurs with all examples contained in (RadeonOpenCompute/HCC-Example-Application)[https://github.com/RadeonOpenCompute/HCC-Example-Application]!

here are some more information about my system:
[code]
on a two socket Intel(R) Xeon(R) CPU E5-2603 v3 @ 1.60GHz!

[2016-07-26 16:00] mcopik commented on #99
@whchung We don't use rvalues on device ;-) Tuple are used for a shape container (determines the execution of algorithm: iterator, number of samples, offset), maybe for passing args in hpx::util::invoke or for zip iterators - it's always an lvalue.

Those errors I can see when compiling internal library of HPX which does *not* store any code related to GPU. However, it's necessary for those types

[2016-07-26 17:33] mcopik commented on #99
I do understand your point with serialization and data transfer, but I believe rvalue references should be allowed in the device code. Otherwise it's not C++11.

[2016-07-27 14:50] whchung commented on #99
@mcopik Thanks for your clarification. It seems there are compounding issues here. After finding out the spot which triggered the error, I tried to disable it and build the test. Compilation could now be completed, but at link time it would fail.

I've compared LLVM IR coming out from the frontend between good case (`[[cpu]]`) and bad case (`[[cpu, hc]]`), it seems some host functions wouldn't be

[2016-07-27 17:03] mcopik commented on #99
@whchung  Thanks for update! I'm glad you resolved compiler issues.

[2016-08-05 05:36] mcopik commented on #99
@whchung Jack, any progress on this issue?

[2016-08-07 03:38] whchung commented on #99
sorry for late reply. recently I've encountered another application which shares the same issue as this one. I'm still working on it and will definitely keep you posted.

[2016-08-08 18:55] mcopik commented on #99
Thanks!

sob., 6.08.2016 o 22:38 użytkownik Wen-Heng (Jack) Chung <
notifications@github.com> napisał:

[2016-08-23 08:19] psteinb commented on #101
this problem is still present with rocm/1.2.0,
[code]
any progress on your side on this?

[2016-08-23 09:26] whchung commented on #101
@scchan is still looking into this issue. We are narrowing down potential issues in ROCR runtime where code objects may not be correctly placed in device memory under multi-GPU scenario.

[2016-09-06 19:17] scchan commented on #101
@psteinb
I just dropped a fix on the develop branch of hcc to fix the compiler issues.  The GPU-STREAM benchmark also requires some changes since the original version wasn't allocate memory and launching kernel on the selected device.
Here's my pull request for GPU-STREAM:   https://github.com/psteinb/GPU-STREAM/pull/1

[2016-09-07 07:46] psteinb commented on #101
Very cool, I'll comment on it in the forked GPU-STREAM benchmark PR.
thanks for your efforts so far.

[2016-09-07 07:52] psteinb commented on #101
as posted to the PR, the segfault is still there with:
[code]

[2016-09-07 21:05] scchan commented on #101
Currently the fix is only available in the develop branch of the hcc compiler and you'll have to get a new compiler built from source: https://github.com/RadeonOpenCompute/hcc/tree/develop

Here's the instruction:
https://github.com/RadeonOpenCompute/HCC-Native-GCN-ISA/wiki#develop
https://github.com/RadeonOpenCompute/HCC-Native-GCN-ISA/wiki#build-instructions

[2016-09-13 17:07] almson opened #122 "LLVM-MC does not support `ds_add_f32`"
I wasn't sure where to put this issue, since the `llvm` repository does not allow posting issues. The `llvm-mc` currently does not implement a number of instructions. In particular, I need `ds_add_f32`

[2016-09-13 17:09] almson opened #123 "How to compile to HSACO"
How can I compile an HCC kernel into an HSACO binary that can be loaded in HSA?

[2016-09-13 22:06] adityaatluri commented on #123
Hi,
Currently, there is no command line option to dump code object from HCC.
The work around is setting env variables KMDUMPISA or KMDUMPLLVM[1] to 1. Which dumps ISA and LLVM IR respectively. Once you get the ISA, you can use clang(4.0) or llvm-mc and clang shipped with ROCm to generate code object. I wrote a sample which generates code object from LLVM IR and ISA [2]. Hope it'll be useful.

This

[2016-09-14 02:17] almson commented on #123
Thanks! That was very helpful. I'll try the HIP method.

[2016-09-14 02:57] bensander commented on #123
HIP is probably best supported flow for this right now but we are also providing some tools so you can do this a pure HCC environment, if desired.  See this checkin:
https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/lib/extractkernel.in
You need to generate a full linked executable (not just object files) but then can use the tool above to extract all of the "code objects".

[2016-09-19 02:10] bshaozi opened #124 "Compile problem"
I use  'tile_static std::atomic_int' define a int variate in my code. But there is compile problem as follows:

**/opt/rocm/hcc-hsail/compiler/bin/clamp-device: line 167: 13996 Killed                  $OPT -load $LIB/LLVMPromote.so -load $LIB/LLVMEraseNonkernel.so -load $LIB/LLVMTileUniform.so -promote-globals -promote-privates -erase-nonkernels -tile-uniform -malloc-select -dce -globaldce -S -o $

[2016-09-20 14:34] atamazov commented on #122
Thanks for reporting the ds_add_f32 issue. We are preparing the fix.
BTW you can register at llvm bugzilla and report issues there.

[2016-09-20 14:42] atamazov commented on #122
Patch it in review https://reviews.llvm.org/D24765

[2016-09-21 16:45] atamazov commented on #122
Fix committed r282086

[2016-09-21 16:45] #122 closed

[2016-09-21 21:25] pfultz2 commented on #96
Can you post the preprocessed file where the error occurs?

[2016-09-22 13:09] pfultz2 commented on #99
Here's a reduced case that i've found that seems to demonstrates the problem:

[code]
Also, writing `al<int&&>(0)` works but writing `ap<int&&>(0)` fails with an undefined reference.

[2016-09-29 05:42] smithakihide opened #135 "Unable Compile with error of "fatal error: 'amp.h' file not found""
hello, I am exploring a HPC code by C++ AMP.

I am in trouble about building environment of HCC on Ubuntu, could you help me?
I am Japanese, sorry for my poor English.

summary, I couldn't compile this test case code by HCC packaged in rocm explained in this site.
here is the full code.
[code]
compile command is,
```hcc `hcc-config --cxxflags --ldflags` test.cpp```
then, this is outputted.
```test

[2016-09-29 05:52] whchung commented on #135
could you show the result of `hcc-config --cxxflags` , and check if the path specified is really there?

[2016-09-29 05:58] whchung commented on #135
Once you resolve the path inclusion issue, based on your hardware configuration (AMD R9 390), I would suggest you replace your compile command as:

[code]

Reason for this is because by default hcc is configured to produce AMD GCN ISA codes for Fiji/Polaris cards with ISA version string "AMD:AMDGPU:8:0:3", and your GPU (AMD R9 390) is Hawaii with ISA version string "AMD:AMDGPU:7:0:1".

[2016-09-29 06:19] smithakihide commented on #135
thank you for replying.

I excute  `hcc-config --cxxflags` , and got the output `hcc-config: command not found`

could you teach to me where should I set PATH to?

[2016-09-29 06:23] smithakihide commented on #135
thank you suggestion.

I ' ll put it in mind to use the option of AMDGPU:7:0:1.

[2016-09-29 06:32] whchung commented on #135
@smithakihide Looking at your original post, I think you set PATH incorrectly:

Your config:
[code]
It should be:
[code]

[2016-09-29 06:45] smithakihide commented on #135
thank you,
I could compile my cord by setting `export PATH=$PATH:/opt/rocm/hcc/bin`

but , new problem occurred.

I execute
```hcc `hcc-config --cxxflags --ldflags` --amdgpu-target=AMD:AMDGPU:7:0:1 test.cpp```
to compile and I could get a.out file.

then I execute a.out, and get this output,
[code]

My knowledge is too narrow to understand this problem.
could you tell me why this occurred.

my cli

[2016-09-29 07:06] whchung commented on #135
From your description it seems you already have ROCm stack installed. Could you check if ROCm stack is up & running on your system? You can follow instructions at: `https://github.com/RadeonOpenCompute/ROCm#verify-installation`

[2016-09-29 07:53] smithakihide commented on #135
thank you for helping me.

yes,

I tried to verify follow  `https://github.com/RadeonOpenCompute/ROCm#verify-installation` now,
and got output this message.
[code]
yes, I installed Radeon Pro GPU driver. I don't know that ROCm have own drive within.
The reason I installed Radeon Pro GPU Driver that ROCm GPU driver not work fine. when I tried boot using ROCm GPU driver by loading kernel 4.4.0-kfd-c

[2016-09-29 08:36] smithakihide commented on #135
I tried to Uninstall Radeon Pro GPU driver. And boot using ROCm kernel.

As I knew it, the graphic driver within ROCm did not work well. I got noised desktop graphics.
then I log in console only. to press Alt + F1, it worked.

then I tried to compile the cord I mentioned in first comment of this topic, I could compile and execute the output file  exactly I expected.
I also tried to run the Matrix

[2016-09-29 09:42] whchung commented on #135
@smithakihide I'm glad you are able to run GPGPU computation on ROCm stack now.

For corrupted graphics, I'm sorry I don't have the exact model of Hawaii-based GPU (R9 390) so I can't say. To my knowledge Fiji-based GPUs (ex: R9 Nano, R9 Fury X) don't suffer from this issue.

As this seems to be a kernel driver issue, I would recommend you post your information at: `https://github.com/RadeonOpenCo

[2016-09-29 09:53] smithakihide commented on #135
thank you, Mr. whchung. you are very helpful for me.
I managed to run GPGPU computation with help by you.

my computation score, compare  with  VS2015 on Win 10 with same hardware environment.
at the simple matrix calculation test.

VS2015 172[ms]
HCC   430[ms]

a bit slow....,

anyway, thank you very much.

I also post the rest problem about graphics to that site as you say.

[2016-09-29 09:53] #135 closed

[2016-10-03 20:09] #123 closed

[2016-10-03 20:37] #59 closed

[2016-10-03 20:40] #40 closed

[2016-10-06 12:17] szellmann opened #138 "Link hcc outfiles with external compilation units"
Hi,

sorry for misusing the issue tracker for a mere question.

I'd like to link hcc-compiled compilation units with .o files that are generated with a different compiler and found no section in the docs where this is explained. I built the hcc .o with a command similar to `hcc `hcc-config --cxxflags` file.cpp -c -o file.o` and would now like to do linking with an "ordinary" host compiler so I can

[2016-10-07 02:34] whchung commented on #138
@szellmann mixing .o between HCC and other compilers won't work as of now, the reason is because there is a special section ".kernel" in every .o file produced by HCC. Inside is the LLVM bitcode for HCC kernels. At link-time, a special linker script in HCC will traverse ".kernel" sections among all object files, and produce either HSA BRIG, or AMD GCN ISA. Therefore, right now you have to use HCC

[2016-10-07 08:32] szellmann commented on #138
Thanks for the clarification. I will try if I can either build the entire application with hcc, or dynamically link the GPU code into my binary as a last resort.

Not sure if it is on your roadmap to relax this. I think in most cases one can make do with using hcc as the sole compiler since it's a clang anyway, but there are cases where it may be more convenient to have the option to use a linker

[2016-10-18 22:09] Dekken commented on #138
I'm having a similar problem just using hcc over two commands rather than one

This works
hcc -o out $(hppconfig --cxxflags --ldflags) cpp.cpp

but this does not
hcc -o out.obj $(hppconfig --cxxflags) -c cpp.cpp
hcc -o out out.obj $(hppconfig --ldflags)

Is this correct?

[2016-10-19 09:58] szellmann opened #144 "-lm does not end up on the linker command line with hcc-config"

[2016-10-19 10:03] szellmann commented on #144
Sorry, accidentally submitted the issue w/o a description. I'm having the problem that with a command line like

```hcc `hcc-config --ldflags` ```

-lm does not end up on the command line so that when I have a program that uses math functions in the host program part it won't link. Adding ```-lm``` manually solves the issue but this is probably not the intended way to do since libm's implementatio

[2016-10-20 09:30] szellmann commented on #144
This can btw. reproduced nicely with the following really tiny program:

[code]

When calling

```hcc `hcc-config --cxxflags --ldflags` main.cpp```

the linker complains:

```/tmp/tmp.4WoGgeEz7y/hcc-5728f9.host.o: In function `main':
/tmp/hcc-ece2c5.s.bc:(.text+0x18): undefined reference to `sqrtf'```

while

```hcc `hcc-config --cxxflags --ldflags` hcc.cpp -lm```

compiles and links just fine.

B

[2016-10-20 10:07] whchung commented on #138
@Dekken your 2-steps commands seem to be correct. could you post a reduced test case which reproduces the error you are seeing?

[2016-10-20 10:09] whchung commented on #144
@szellmann normally it's anticipated that user would link with `-lm` if math functions are used in host codes. but as you mentioned, it could also be easier for users to rely on `hcc-config` to provide all the necessary linker flags. I'm wondering would you mind come up with a pull request? I'd love to accept it.

[2016-10-20 11:09] Dekken commented on #138
The second command doesn't give an error, but no binary is created either.

I will post a minimal example later today.

[2016-10-20 20:21] Dekken commented on #138
Minimal test case, which for me does not create a binary.

http://pastebin.com/raw/mD7KY1pu

[2016-10-22 12:28] PhilipDeegan commented on #138
I get a segfault in that example so it might not be the best

[2016-10-24 21:30] PhilipDeegan commented on #138
It appears the file type must be nothing other than ".o" for successful linking.

[2016-10-26 22:11] PhilipDeegan opened #150 "Building clang twice"
Is it necessary to build clang twice for hcc?

Once for https://github.com/RadeonOpenCompute/ROCm-Device-Libs
and once for this?

[2016-10-27 02:00] aditya4d commented on #150
Well, you can build clang for once and use it for building RocDL. HCC builds its own for clang-tot-upgrade branch. For develop branch, you can re-use the installed clang.

[2016-10-27 02:00] #150 closed, assigned to nobody

[2016-10-28 15:37] #144 closed

[2016-10-31 05:39] mcopik commented on #99
Guys, any progress on this issue?

CC: @hkaiser

[2016-10-31 06:04] mcopik commented on #96
@pfultz2 I believe if you take a look at source code link, you'd definitely notice how easily this error is triggered (string comparison in lines 1491-1492). Although I can't check it with newest hcc at that time, it seems this code hasn't changed so this error sample should still be valid:
https://github.com/mcopik/cppamp_samples/blob/master/hc/incorrect_capture.cpp

CC: @hkaiser

[2016-10-31 21:52] PhilipDeegan opened #155 "Linking two modules of different data layouts"
After building clang_tot_upgrade and everything else from source, I get this warning, which doesnt' appear to cause any problems, but more unsightly than anything.
[code]

[2016-10-31 22:04] PhilipDeegan commented on #155
If you split it over two commands it doesn't complain though

[code]

[2016-11-02 10:07] almson commented on #122
Thanks!

[2016-11-12 18:54] scchan opened #161 "clamp-link: issue with handling paths containing spaces"
Reported by @briansp2020 in RadeonOpenCompute/ROCm#47

I tried to build my code at cs344 Problem Set 1 and I get errors.

    $ make
    hipcc -o HW1 main.o student_func.o compare.o reference_calc.o -L /usr/lib -lopencv_core -lopencv_imgproc -lopencv_highgui -g -hc -std=c++amp
    /opt/rocm/hcc-lc/compiler/bin/clamp-link: line 302: cd: /home/briansp/git/cs344/Problem: No such file or directory

[2016-11-15 14:48] scchan commented on #161
GPU linker fix for paths containing spaces:  https://github.com/RadeonOpenCompute/hcc/pull/162

[2016-11-15 14:48] #161 closed, assigned to nobody

[2016-11-18 02:06] bshaozi opened #170 "How to use hcc_hsail in Rocm 1.3"
I had compiled my code successful and run correctly  in rocm 1.2 envrionment(Kaveri).
 But after I update the rocm to 1.3, I found it seems the hcc_hsail had been deprecated.
So, I use '/opt/rocm/hcc/' instead of `/opt/rocm/hcc-hsail/`. (for instance , use /opt/rocm/hcc/bin/hcc `/opt/rocm/hcc/bin/hcc-config --cxxflags  --ldflags`  -I /opt/rocm/hcc/include/ xxx.cpp -o xxx  to compile). It compiles

[2016-11-18 18:23] whchung commented on #170
could you try add "--amdgpu-target=AMD:AMDGPU:8:0:1" in your compile option? The default compiler backend now generates GCN instructions instead of HSAIL by default, and `--amdgpu-target=` let's you specify GCN ISA for your APU or dGPU.

[2016-11-19 22:31] PhilipDeegan opened #172 "CPU Node [0] has no GPU connected"
First, congratulations on the 1.3 release.

Not sure what you did but my GNOME openbox desktop is working again.

Using the new 4.6 kernel, and much the same setup as the 1.2 setup for clang_tot_upgrade branch, I am having difficulty running the saxpy example.

hcc $(hcc-config --ldflags --cxxflags)  -o sax saxpy.cpp -g3
LD_LIBRARY_PATH=/opt/rocm/lib ./sax
CPU Node [0] has no GPU connected
Segment

[2016-11-20 00:58] aditya4d commented on #172
Can you try running hsa sample in /opt/rocm/hsa/sample ?

[2016-11-21 02:39] bshaozi commented on #170
Thank you for the reply. I had added the '--amdgpu-target=AMD:AMDGPU:8:0:1' in  my compile option.  But when I run the program, it still  crash and return error information as follows:

### HCC STATUS_CHECK Error: HSA_STATUS_ERROR_INCOMPATIBLE_ARGUMENTS (0x100d) at file:/home/scchan/code/github/radeonopencompute/hcc.1.3/hcc/lib/hsa/mcwamp_hsa.cpp line:2504

Aborted (core dumped)

Follows is my com

[2016-11-21 04:11] bshaozi commented on #170
I add  '--amdgpu-target=AMD:AMDGPU:7:0:0'  instead of '--amdgpu-target=AMD:AMDGPU:8:0:1.
It works fine.

Thanks again!

[2016-11-21 12:10] PhilipDeegan commented on #172
LD_LIBRARY_PATH=/opt/rocm/lib ./vector_copy
CPU Node [0] has no GPU connected
Segmentation fault

[2016-11-21 14:07] aditya4d commented on #172
Can you paste in uname -a ?

[2016-11-21 14:13] PhilipDeegan commented on #172
uname -a
Linux toast 4.6.0-kfd #1 SMP Sat Nov 19 19:04:45 GMT 2016 x86_64 GNU/Linux

[2016-11-21 14:20] aditya4d commented on #172
Seems like a runtime issue. Can you create an issue here[1]?
[1]. https://github.com/RadeonOpenCompute/ROCR-Runtime/issues

[2016-11-21 15:52] #170 closed, assigned to nobody

[2016-11-21 15:55] scchan commented on #172
@Dekken

Looks like you didn't install the kernel from AMD?  Mine shows:

Linux d7e13bb11ac9 4.6.0-kfd-compute-rocm-rel-1.3-63 #1 SMP Fri Oct 28 13:14:45 CDT 2016 x86_64 x86_64 x86_64 GNU/Linux

[2016-11-21 15:57] PhilipDeegan commented on #172
I built https://github.com/RadeonOpenCompute/ROCK-Kernel-Driver/tree/roc-1.3.x so I would imagine it's right.

[2016-11-21 16:10] scchan commented on #172
I don't think this is related to the hcc compiler at this point.  Do you mind opening a ticket against RadeonOpenCompute/ROCm so that the driver and runtime guys could respond to it?  Thanks.

[2016-11-21 16:31] PhilipDeegan commented on #172
I've already opened up a ticket on runtime, rather not be spamming tickets tbh

[2016-11-21 16:46] scchan commented on #172
to be investigated by the runtime  https://github.com/RadeonOpenCompute/ROCR-Runtime/issues/17

[2016-11-21 16:46] #172 closed, assigned to nobody

[2016-11-21 21:30] ghost opened #173 "Supported Platform Clarification?"
I know this is horribly pedantic, but I will have to buy a CPU & board to play with a Polaris card and HCC, my dev box is a Sandy Bridge. If I must buy Intel I would prefer to buy a low price i3 or Pentium instead of an expensive i5 or i7. And, I'm sort of waiting for Zen...

The HCC page at gpuopen says:

"Discrete GPU system support
CPU: Intel Haswell or Newer, Core™ i5, Core™ i7; Xeon® E3 v4 &

[2016-11-21 21:40] whchung commented on #173
@emerth ROCm stack requires processors which support PCIe Gen 3 atomic operations. I've not personally checked i3 or Pentium before. Zen will be supported.

[2016-11-21 21:40] #173 closed, assigned to nobody

[2016-11-21 21:42] ghost commented on #173
Thanks whchung! I will research that.

[2016-11-30 22:03] PhilipDeegan opened #176 "-O2 -g2 = segfault"
Using 1.3.x (1.3.1) branch of everything and the saxpy example

[gist](https://gist.githubusercontent.com/Dekken/5232ba10df3711e11c0f3b41c719a474/raw/c474f07b86c7dcc6846920517703891e48c2253a/gistfile1.txt)

[hcc build script](https://github.com/lxcy/2.0.5-x86_64-debian8.6_hcc/blob/master/setup/rocm_1.3.sh)

[2016-12-01 20:51] PhilipDeegan opened #179 "1.3.1 saxpy SIGABRT"
[gist](https://gist.githubusercontent.com/Dekken/bacb268d3e517ab29d6bb2600ee634b4/raw/b73253bd7d7606408e3f3371500c2b025df90e6b/gistfile1.txt)

[2016-12-02 14:47] aditya4d opened #180 "Couldn't build HCC clang_tot_upgrade branch on Ubuntu 16.04.1"
Hi,
I am trying to build hcc on clang_tot_upgrade branch on Ubuntu 16.04.1 system. `make world` works fine but doing `make` produces this error.

[code]

[2016-12-02 14:51] aditya4d commented on #180
This is a issue with libc++ debian package (not ROCm). After following the issue [here](https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=808086), getting new [libc++1](https://packages.debian.org/sid/libc++1) and [libc++-dev](https://packages.debian.org/sid/libc++-dev), solved this. Make sure to install libc++1 first. I am using 3.9.0-3 version. (The old one is 3.7.x).
@jedwards-AMD , we may have

[2016-12-02 14:51] #180 closed, assigned to nobody

[2016-12-06 22:12] PhilipDeegan commented on #179
This has been resolved since some recent commits, I would consider it closed, will leave it to your discretion

[2016-12-08 02:06] bshaozi opened #186 "How to re-install 1.2 after update to 1.3 in KAVERI with ubuntu 14.04？"
There is some problem  in my KAVERI environment after I update rocm to 1.3.
So I want to re-isntall rocm-1.2 in my environment,  what should I do?
I had tried 'sudo apt-get install rocm=1.2' ,but  failed.
BTW, my system is ubuntu 14.04.

Thanks.

[2016-12-08 02:10] whchung commented on #186
@jedwards-AMD could we post 1.2 packages on `packages.amd.com` incase users want to downgrade?

[2016-12-08 04:07] bshaozi commented on #186
Yes. That's great if we can download the 1.2 from source.

Now, there is only 1.3.1, but it is not suitable for KAVERI.

Package: rocm
Source: AMD
Maintainer: James Edwards (JamesAdrian.Edwards@amd.com)
Homepage: https://github.com/RadeonOpenCompute/ROCm
Version: 1.3.1
Architecture: amd64
Depends: rocm-dev (=1.3.1), rocm-kernel (=1.3.1), rocm-profiler (=4.0.6036)
Priority: extra
Section: devel
Fil

[2016-12-09 00:34] vanceNyriad opened #187 "Runtime crash on APU when using HCC compiler"
Ubuntu VERSION="16.04.1 LTS (Xenial Xerus)"
AMD A10-7860K Radeon R7, 12 Compute Cores 4C+8G
Attempting to compile and run the saxpy code found at: https://gist.github.com/scchan/540d410456e3e2682dbf018d3c179008 saved in a file called hcctestfile.cpp
Compiling using : hcc `hcc-config --cxxflags --ldflags` hcctestfile.cpp -o test && ./test
compiles successfully but when run produces: HCC STATUS_CHEC

[2016-12-09 00:34] bshaozi commented on #186
There is any update?

Thanks.

haochen@multicorewareinc.com

发件人： Wen-Heng (Jack) Chung
发送时间： 2016-12-08 10:10
收件人： RadeonOpenCompute/hcc
抄送： bshaozi; Author
主题： Re: [RadeonOpenCompute/hcc] How to re-install 1.2 after update to 1.3 in KAVERI with ubuntu 14.04？ (#186)
@jedwards-AMD could we post 1.2 packages on packages.amd.com incase users want to downgrade?
―
You are receiving this because you au

[2016-12-09 03:30] whchung commented on #187
@vanceNyriad can you try "--amdgpu-target=AMD:AMDGPU:7:0:0"?

[2016-12-09 22:00] vanceNyriad commented on #187
@whchung it has run succesfully

[2016-12-12 01:08] bshaozi commented on #186
Can  I  get  ROCm-1.2 from the packages.amd.com now???

haochen@multicorewareinc.com

发件人： Wen-Heng (Jack) Chung
发送时间： 2016-12-08 10:10
收件人： RadeonOpenCompute/hcc
抄送： bshaozi; Author
主题： Re: [RadeonOpenCompute/hcc] How to re-install 1.2 after update to 1.3 in KAVERI with ubuntu 14.04？ (#186)
@jedwards-AMD could we post 1.2 packages on packages.amd.com incase users want to downgrade?
—
You are rece

[2016-12-12 16:27] jedwards-AMD commented on #186
You can find the old repository for ROCm 1.2 here:

http://packages.amd.com/rocm/gz/rocm_1.2-debian-repo.tar.gz

[2016-12-13 01:03] bshaozi commented on #186
Thanks for reply.
Can I  use 'sudo apt-get install rocm=1.2' to auto install the 1.2 version?  Just like I  install it(before update to 1.3 version) before?

Thanks.

haochen@multicorewareinc.com

发件人： James Edwards
发送时间： 2016-12-13 00:27
收件人： RadeonOpenCompute/hcc
抄送： bshaozi; Comment
主题： Re: [RadeonOpenCompute/hcc] How to re-install 1.2 after update to 1.3 in KAVERI with ubuntu 14.04？ (#186)
You

[2016-12-13 01:19] jedwards-AMD commented on #186
No, we archive the old releases. If you want to install 1.2 you have to download the archived repo and use the method I suggested.

[2016-12-16 01:25] bshaozi commented on #186
Hi.

I can;t download the 'rocm_1.2-debian-repo.tar.gz' from  'http://packages.amd.com/rocm/gz/rocm_1.2-debian-repo.tar.gz', is there any other source for downloading?

haochen@multicorewareinc.com

发件人： James Edwards
发送时间： 2016-12-13 09:19
收件人： RadeonOpenCompute/hcc
抄送： bshaozi; Comment
主题： Re: [RadeonOpenCompute/hcc] How to re-install 1.2 after update to 1.3 in KAVERI with ubuntu 14.04？ (#186)
N

[2016-12-16 01:31] #187 closed, assigned to nobody

[2016-12-16 01:35] whchung commented on #186
@bshaozi could you let me know what error you are seeing downloading the archive?

[2016-12-16 15:53] jedwards-AMD commented on #186
Also, try this command: 'wget http://packages.amd.com/rocm/gz/rocm_1.2-debian-repo.tar.gz'

[2016-12-18 11:10] aunzat opened #195 "C++14 support?"
Is there C++14 support for hc planed? I would quite like this.

[2016-12-19 01:05] bshaozi commented on #186
Thanks reply. It has been downloading. But it will cost several hours.

Can you give me some detail  information about how to install rocm1.2  from this  archived file?

haochen@multicorewareinc.com

发件人： James Edwards
发送时间： 2016-12-16 23:53
收件人： RadeonOpenCompute/hcc
抄送： bshaozi; Mention
主题： Re: [RadeonOpenCompute/hcc] How to re-install 1.2 after update to 1.3 in KAVERI with ubuntu 14.04？ (#186)

[2016-12-19 03:59] whchung commented on #186
In the archive it contains all the debian packages. So you should be able to install them via normal `dpkg -i`.

[2016-12-19 03:59] #186 closed, assigned to nobody

[2016-12-19 07:58] bshaozi commented on #186
Thanks for your reply.

I had added this packages to my local software soure ,and install it via apt-get install.
But there is another problem.  Because I had updated rocm  to 1.3 before ,and now linux kernel is "4.6.0-kfd-compute-rocm-rel-1.3-63" although I had removed romc1.3 and install rocm1.2 again.

How can I resotre the kernel to rocm1.2?

Thanks

haochen@multicorewareinc.com

发件人： Wen-Heng

[2016-12-19 10:13] whchung commented on #186
@bshaozi you should be able to install 1.2 packages with `dpkg -i`, and you may need to edit your grub configuration to pick `4.4.0-kfd-compute-rocm-rel-1.2-31` as your default kernel.

[2016-12-19 12:12] whchung commented on #195
@aunzat we do plan to get C++14 and 1z implemented. In fact there is already an outstanding PR `https://github.com/RadeonOpenCompute/hcc-clang-upgrade/pull/12` waiting to be approved.

[2016-12-19 12:27] #195 closed, assigned to nobody

[2016-12-19 15:09] jedwards-AMD commented on #186
You have to manually uninstall kernel packages; apt-get will not uninstall them. Executing 'dpkg -r <kernel package name>' will take care of it. The 1.2 kernel package should still be installed, and should become your default boot image.

[2016-12-19 22:32] PhilipDeegan opened #196 "Couldn't build HCC clang_tot_upgrade branch on Debian gcc 6.2.1"
After finding this ticket: https://github.com/RadeonOpenCompute/hcc/issues/180

And upgrading the libs, the problem is still occuring:

[code]

[2016-12-19 22:58] PhilipDeegan opened #197 "HCC STATUS_CHECK Error: HSA_STATUS_ERROR_INCOMPATIBLE_ARGUMENTS"
Saxpy example fails with message

[code]

[2016-12-19 23:14] whchung commented on #196
Could you share with us your system configuration? The most well-tested Linux distro + gcc + C++ library  is Ubuntu 14.04 + gcc 4.8.4 + libc++ . There are known issues on Ubuntu 16.04 with newer gcc + libc++. We are currently experimenting moving away from libc++ to libstdc++ to allow HCC compiler frontend and HCC runtime be more gcc-friendly.

[2016-12-19 23:19] whchung commented on #197
Could you let me know your hardware configuration? By default HCC produces GCN ISA for Fiji ASIC with `AMD:AMDGPU:8:0:3` ISA version string. The error message you saw are mostly related to incompatible GCN ISA version. You can use:

`--amdgpu-target=AMD:AMDGPU:7:0:0` for Kaveri devices
`--amdgpu-target=AMD:AMDGPU:7:0:1` for Hawaii devices
`--amdgpu-target=AMD:AMDGPU:8:0:1` for Carrizo devices
`--a

[2016-12-19 23:25] PhilipDeegan commented on #197
That's probably it, when I build it hcc/etc from source I use "AMD:AMDGPU:7:0:1" and it was fine with 1.3.1, haven't been able to finish building 1.4 from source due to https://github.com/RadeonOpenCompute/hcc/issues/196

[2016-12-19 23:27] PhilipDeegan commented on #196
Sure, what would you like to know?

I had no problems building 1.3.1, then I upgraded to Debian stretch repos. getting gcc 6.2.1 in the process, then I looked at the ticket about libc++1 and then upgraded to sid to get libc++1 3.9.

[2016-12-20 01:05] bshaozi commented on #186
Thanks. I had changed the default kernel image to rocm1.2 via edited grub file ,rocm1.2 kernel is loaded in my KAVERI.
Thanks agian!

haochen@multicorewareinc.com

发件人： James Edwards
发送时间： 2016-12-19 23:09
收件人： RadeonOpenCompute/hcc
抄送： bshaozi; Mention
主题： Re: [RadeonOpenCompute/hcc] How to re-install 1.2 after update to 1.3 in KAVERI with ubuntu 14.04？ (#186)
You have to manually uninstall kerne

[2016-12-20 01:05] bshaozi commented on #186
Thanks. I had changed the default kernel image to rocm1.2 via edited grub file ,rocm1.2 kernel is loaded in my KAVERI.
Thanks agian!

haochen@multicorewareinc.com

发件人： Wen-Heng (Jack) Chung
发送时间： 2016-12-19 18:13
收件人： RadeonOpenCompute/hcc
抄送： bshaozi; Mention
主题： Re: [RadeonOpenCompute/hcc] How to re-install 1.2 after update to 1.3 in KAVERI with ubuntu 14.04？ (#186)
@bshaozi you should be able

[2016-12-28 22:36] utopiabhsg opened #203 "Executing the binaries generated by the HCC-Example-Application Segfaults"
I have APU Carrizo environment (AMD Embedded R-Series RX-421BD Radeon R7 SOC board) and im running Ubuntu 16.04 on it. Installed ROCm 1.4 and ran vector_copy sample, got all success messages. I git cloned HCC-Example-Application repository on my system built all the example samples and executing the ArrayBandwidth and HCFFT binaries gave the correct output. But when i try to execute MD, SPMV and S

[2016-12-28 23:11] PhilipDeegan commented on #203
Are you running with

[code]

And if not, could you try that?

Following on please post the

results of

[code]

If you have debug symbols please also post the stack trace.

[2016-12-28 23:33] PhilipDeegan commented on #197
Linking with "--amdgpu-target=AMD:AMDGPU:7:0:1" has resolved this.

[2016-12-28 23:33] #197 closed, assigned to nobody

[2016-12-28 23:33] PhilipDeegan commented on #203
Have a look at this https://github.com/RadeonOpenCompute/hcc/issues/197

[2016-12-29 16:25] #179 closed, assigned to nobody

[2016-12-29 19:07] utopiabhsg commented on #203
Hi,
Im trying to complie saxpy.cpp example (All HCC applications segfaults)
I have linked '--amdgpu-target=AMD:AMDGPU:8:0:1' in the complie options. Here are my env variables:

/opt/rocm/bin:/opt/rocm/hcc/bin:/home/saa/bin:/home/saa/.local/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/usr/games:/usr/local/games:/snap/bin

Results of ldd ./saxpy:

	linux-vdso.so.1 =>  (0x00007ff

[2016-12-29 19:23] PhilipDeegan commented on #203
Your LD_LIBRARY_PATH should be set like this

[code]

You appear to have included the binary in the export which I think makes the variable invalid. I have had numerous segfaults with the saxpy example, but it works for me at the moment when the LD_LIBRARY_PATH has visibility of the hsa-runtime(64).so

Can youi also do a

[code]

just to confirm you have the hsa runtime library?

Thanks

[2016-12-29 19:40] utopiabhsg commented on #203
So i just set export LD_LIBRARY_PATH=/opt/rocm/lib in my .bashrc file

/opt/rocm/lib

./saxpy still segfaults.

I believe i do hsa runtime library!
Results of ls -l /opt/rocm/lib:
total 4
lrwxrwxrwx 1 root root 27 Dec 21 12:23 hip_ir.ll -> /opt/rocm/hip/lib/hip_ir.ll
lrwxrwxrwx 1 root root 64 Nov 11 15:34 libCXLActivityLogger.so -> ../profiler/CXLActivityLogger/bin/x86_64/libCXLActivityLogger.so
l

[2016-12-29 20:33] PhilipDeegan commented on #203
Can you show me the entire command you used to compile the saxpy example?

And can you confirm that the symlink is valid for /opt/rocm/lib/libhsa-runtime64.so (I'm assuming it is but just to be sure)

[2016-12-29 20:56] utopiabhsg commented on #203
i tried the below 2 ways to compile the saxpy example:
* hcc `hcc-config --cxxflags --ldflags` --amdgpu-target=AMD:AMDGPU:8:0:1 saxpy.cpp -o saxpy
* hcc `hcc-config --cxxflags` saxpy.cpp -c -o saxpy.cpp.o
   hcc `hcc-config --ldflags` --amdgpu-target=AMD:AMDGPU:8:0:1 saxpy.cpp.o -o saxpy

Also to confirm the symlink, i typed 'readlink -f /opt/rocm/lib/libhsa-runtime64.so' on the terminal and got t

[2016-12-29 21:10] utopiabhsg commented on #203
PS: i did put hcc-config --cxxflags --ldflags , hcc-config --cxxflags , hcc-config --ldflags in between the two backticks.

[2016-12-29 21:29] PhilipDeegan commented on #203
Yeah I figured, for sake of sanity consider using the following in future ;)

[code]

I'm stumped, if you're interested in compiling (I have outstanding issues currently preventing me) with debug symbols you can attempt to use the following [script](https://github.com/lxcy/2.0.5-x86_64-debian8.6_hcc/blob/master/setup/rocm_master_dbg.sh) I have put together.

[2016-12-29 22:26] utopiabhsg commented on #203
I compiled saxpy like so:

executing ./saxpy is still segfaulting.
What am i missing?
I'm happy to provide any information regarding my system/environment.
Running the executable through gdb says i do not have any debug symbols.

[2016-12-29 22:32] PhilipDeegan commented on #203
You'll likely have to wait for one of the actual maintainers to respond, sorry.

[2016-12-29 22:46] utopiabhsg commented on #203
Thanks @Dekken.

[2017-01-03 09:14] psteinb commented on #101
solved with rocm `1.4.0`

[2017-01-03 09:14] #101 closed

[2017-01-07 16:42] PhilipDeegan commented on #196
I have reverted back to Debian jessie and gcc 4.9, and have not seen this issue since.

[2017-01-23 14:51] aditya4d commented on #203
Hi,
Sorry to say this, Merlin Falcon boards are not supported by ROCm yet. Please find relevant information here: https://radeonopencompute.github.io/install.html

[2017-01-23 14:51] #203 closed, assigned to nobody

[2017-02-08 03:35] syifan opened #236 "Compile error when -Werror, -Wreorder enabled"
I got the following error if -Werror -Wall enabled. I am not sure if it is my mistake or some potential problem in HCC. Although I can use -Wno-reorder to disable the error detection, I think it is better to get rid of this problem, since it should be a very easy fix.

[code]

[2017-02-08 03:46] whchung commented on #236
@syifan this was fixed a while ago in this commit

https://github.com/RadeonOpenCompute/hcc/commit/10a2a89fbffd0e2e08da31c203cdaa5cfe59af3b#diff-fd44e4acc497ae0c856f2e116d5fe4c1

could you try pull a newer version of HCC?

[2017-02-08 03:46] #236 closed, assigned to nobody

[2017-02-23 05:25] VishwasRao17 opened #246 "Run a Sample HCFFT ?"
How to run a sample HCC FFT script or any HCC sample code?

[2017-02-23 08:03] psteinb commented on #246
just out of curiosity, the instructions at the bottom of
https://bitbucket.org/multicoreware/hcfft
don't work for you?

[2017-02-23 08:08] VishwasRao17 commented on #246
@psteinb No, we tried it and we were getting error. We installed ROCm on AMD 7860K APU, then we followed instructions in the Bit bucket, but we got some runtime issues . So I was confused with the steps I was doing wrong.

[2017-02-23 08:12] whchung commented on #246
@VishwasRao17 A10-7860K uses a different ISA version (7:0:0) than the default one (8:0:3). Could you try build HCFFT with an extra flag `--amdgpu-target=gfx700`?

[2017-02-23 08:15] VishwasRao17 commented on #246
@whchung Sure, I will check that and let you know. Thank you.
By the way, the A10-7860K is well supported by ROCM and HCC right. I mean from Hardware perspective

[2017-02-23 08:25] whchung commented on #246
From compiler perspective HCC is able to produce ISA for A10-7860K. But some OS & runtime-level features may not be present on Kaveri architecture, so we don't claim it's fully supported now. For more information please refer to: `https://github.com/RadeonOpenCompute/ROCm#are-you-ready-to-rock` .

[2017-02-23 08:29] VishwasRao17 commented on #246
@whchung Thank you, but in ROCM Kernel Driver we see tested HW platform is found to be
The following is a reference hardware configuration that was used for testing purposes:

APU Config:
•APU: AMD A10-7850K APU
•Motherboard: ASUS A88X-PRO motherboard (ATX form factor)
•Memory: G.SKILL Ripjaws X Series 16GB (2 x 8GB) 240-Pin DDR3 SDRAM DDR3 2133
•OS: Ubuntu 14.04 64-bit edition
•No discrete GPU pr

[2017-02-24 02:19] pszi1ard commented on #197
I'm running into the same issues while trying to use a machine with a Fiji and a Hawaii GPU. I tried to compile passing either or both  --amdgpu-target=AMD:AMDGPU:7:0:1 --amdgpu-target=AMD:AMDGPU:8:0:3, but I still get the HSA_STATUS_ERROR_INCOMPATIBLE_ARGUMENTS error.

[2017-02-24 02:58] whchung commented on #197
@pszi1ard may I understand the output of `hcc --version` in your installation? If it shows `clang-3.5`, then it does not support one single binary with multiple ISAs. It's only supported in Clang 4.0-based HCC, which should be included in the upcoming ROCm 1.5.

In case you are not afraid of building the compiler from source, you can find a useful script at:
https://github.com/GPUOpen-Professional

[2017-02-24 09:05] vrajeshlm commented on #246
@whchung me and @VishwasRao17 has done the ROCm installation and testing of vector_copy example to test if it is installed properly is successful. now we want to compile hcfft_1D_R2C.cpp as shown in https://bitbucket.org/multicoreware/hcfft/src and compilation is successful using following command
**/opt/rocm/hcc/bin/clang++ `/opt/rocm/hcc/bin/hcc-config --cxxflags --ldflags`  -lhc_am -L/opt/rocm/

[2017-02-24 09:14] whchung commented on #246
@vrajeshlm could you let me know the following information:

- Linux distro version
- `g++ --version`
- `/opt/rocm/hcc/bin/clang++ --version`
- `/opt/rocm/hip/bin/hipconfig`

I would also recommend you open an ticket at HCFFT site, as it seems to be a library issues instead of a compiler issue.

[2017-02-24 09:21] vrajeshlm commented on #246
@whchung
- Linux Distro version: Ubuntu 16.04 64 bit   (Ubuntu 16.04.4 64 bit)
- g++ --version: 5.4.0
- /opt/rocm/hcc/bin/clang++ --version: HCC clang version 3.5.0  (based on HCC 0.10.16501-81f0a2f-02246a0 LLVM 3.5.0svn) ... Target: x86_64-unknown-linux-gnu ... Thread model: posix

[2017-02-24 09:39] whchung commented on #246
The configuration seem pretty normal. I do recommend you open a ticket at HCFFT site, as to my understanding, HCFFT would invoke extra HCC instances on-the-fly to generate FFT kernels. And perhaps in its implementation it doesn't pass `--amdgpu-target=gfx700` to HCC.

[2017-02-24 10:00] vrajeshlm commented on #246
@whchung i tried using --amdgpu-target=gfx700 option using following command:
/opt/rocm/hcc/bin/hcc `/opt/rocm/hcc/bin/hcc-config --cxxflags --ldflags` **--amdgpu-target=gfx700** -lhc_am -lhcfft hcfft_1D_R2C.cpp
i get warning:  -amdgpu-target argument 'gfx700' is not recognized, using fiji instead
i hope this is fine but still i am getting no suitable runtime detected. fall back to cpu!

[2017-02-24 10:13] whchung commented on #246
@vrajeshlm unfortunately if you see the warning then it's not fine. Fiji is of ISA version 8:0:3, but A10-7850K is based on Kaveri which is of ISA version 7:0:0.

As a first step we need to get rid of this warning message, could you try replace the flag with `--amdgpu-target=AMD:AMDGPU:7:0:0` ? That was the old (now obsolete) syntax to specify ISA version for the compiler. I assume you are using s

[2017-02-24 10:45] vrajeshlm commented on #246
@whchung as per your guidance I tried reduction_hc.cpp and it compiled and runs fine.
following is the output of reduction_hc.cpp program which shows it is detecting amdgpu  gfx7000:
Using device : AMD HSA Agent gfx7000
Running kernels...
SUCCESS: sequential_reduction.
SUCCESS: reduction_simple_1.
SUCCESS: reduction_simple_2.
SUCCESS: reduction_tiled_1.
SUCCESS: reduction_tiled_2.
SUCCESS: reducti

[2017-02-24 16:32] #246 closed, assigned to nobody

[2017-02-24 17:32] pszi1ard commented on #197
Indeed, it's based on clang 3.5.

$ /opt/rocm/hcc/bin/hcc --version | head -n1
HCC clang version 3.5.0  (based on HCC 0.10.16501-81f0a2f-02246a0 LLVM 3.5.0svn)

However I still can't run any hcc program, even if I specify only one of the target. Is that because the binary ends up with code for only one target arch, but by default the code will execute on both detected devices? How can I restrict w

[2017-02-24 17:50] whchung commented on #197
@pszi1ard  Given your system configuration ( Fiji + Hawaii ), I would recommend you to try build HIP & HCC from source, before we officially publish Clang 4.0 (or 5.0)-based HCC in the next ROCm release.

could you open up a new ticket and post relevant information there? we can continue the discussion over there.

[2017-02-24 18:06] PhilipDeegan commented on #197
I have a source build [here](https://github.com/lxcy/2.0.5-x86_64-debian8.6_hcc/blob/master/setup/rocm_master_rel.sh) change line 67 to target different GPU by default.

Personally I'd never mix GPUs in a system. didn't even know it was possible.

[2017-02-24 19:11] pszi1ard opened #249 "RFE: select GPU devices using GPU_DEVICE_ORDINAL"
It is often beneficial to select/restrict GPU devices exposed to an application, just like it is done with the proprietary AMD OpenCL stack's GPU_DEVICE_ORDINAL env. var.

Please implement this feature for the ROC runtime too.

(The issue originally came up in the context of #197)

[2017-02-24 19:14] pszi1ard commented on #197
I'm not sure I'll have the time, but I will report back if I do. Not sure what to open a ticket for, but here's an RFE for selecting devices using and env var: #249)/

Thanks, I might try that!

Why? I have dev boxes with different gen devices exactly in order to facilitate testing. Not supporting such a setup is just counter-intuitive.

[2017-02-24 19:21] pszi1ard commented on #249
Besides an env. var. to tell the runtime which devices to (not) enumerate, how can I tweak the driver to not use one of the devices? As a real-world use-case perhaps I want to use one GPU for display with mesa and the other with rocm...

[2017-02-24 19:50] pszi1ard commented on #249
PS: Actually, I'm realizing that this issue is not hcc-specific. The same mechanism is relevant for all ROC runtimes. Should the issue be moved?

[2017-02-24 22:22] fxkamd commented on #249
I think HCC or HIP has an environment variable for this: HIP_VISIBLE_DEVICES. It's been a while since I looked at that.

[2017-02-24 23:05] pszi1ard commented on #249
Thanks for the info. Unfortunately this _seems_ to not address the original issue (#197) where the binary I compile with the current release does not run on a machine where there are two different cards, no matter what I pass in HIP_VISIBLE_DEVICES. I would expect that, even if the compiler can't embed code for multiple target arch, I should be able to pick the right device and still be able to ru

[2017-02-25 23:08] jvesely opened #250 "Build failure"
When trying to build hcc:

[code]

[2017-02-25 23:14] jvesely commented on #250
afaik this only happens when trying to build using gcc-6.
the fix is simple (in compiler/tools/clang):
[code]

[2017-02-26 23:37] whchung commented on #250
@jvesely thanks. I've made a commit:
https://github.com/RadeonOpenCompute/hcc-clang-upgrade/commit/a1a0e3f8a5f83ae51629b1f570021d4e49f6dddd

[2017-02-26 23:37] #250 closed, assigned to nobody

[2017-02-26 23:37] #196 closed, assigned to nobody

[2017-02-27 11:36] vrajeshlm commented on #203
@bhsomegowda  will you pls help me to get some sample input and way to execute those ArrayBandwidth and HCFFT code because when i do it i am getting following error:

[code]

and it is refering to a file which doesnt even exist on machine.

[2017-02-27 16:58] fxkamd commented on #249
HIP_VISIBLE_DEVICES applies only to HIP applications. If your application doesn't use HIP, the environment variable doesn't have any effect.

AIUI #197 will be fixed in the next release. I'm afraid I don't know any other short-term fix.

[2017-02-27 17:06] scchan commented on #197
@pszi1ard You could also get a newer hcc installer package from the preview HIP release so you won't have to build hcc from source
https://github.com/GPUOpen-ProfessionalCompute-Tools/HIP/releases

[2017-02-27 17:11] scchan commented on #249
@pszi1ard  For #197  , I believe you have an hcc based on clang 3.5 which doesn't support multiple ISAs in a single binary, could you try installing a newer hcc compiler based on clang 4 which provides that support?  You could refer to my comment in #197 on how to get a newer hcc installer package.

[2017-02-27 18:18] jvesely commented on #250
thank you.
I was wondering if this is an upstream clang issue, or something introduced with AMP/HC changes.

[2017-02-27 18:33] pszi1ard commented on #249
@fxkamd Thanks for the clarification. I was trying to run the HIP samples (e.g. ```hipBusBandwidth```). It's still not clear to me whether this should work if I e.g. compile with ```--amdgpu-target=AMD:AMDGPU:8:0:3``` and try to run with ```env HIP_VISIBLE_DEVICES=0``` (assuming that device 0 is a Fiji card)?

@scchan Thanks for the feedback. Indeed, as I noted on #197, I do have a clang 3.5-based

[2017-02-27 19:10] fxkamd commented on #249
I'm not sure how HCC and HIP enumerate accelerators. SiuChi, do you know if it includes CPUs? Then 0 would be the CPU, 1 would be the first GPU etc. Or if not, then 0 would refer to the first GPU.

[2017-02-27 20:41] pszi1ard commented on #249
I di checked both devices 0 and 1 (and now tried few more values in case) and none of them work so the issue seems to be somewhere else:

[code]

The behavior is identical for HIP_VISIBLE_DEVICES=0,1,2,3.

[2017-02-27 23:53] whchung commented on #250
@jvesely that part is HCC-specific.

[2017-03-03 13:56] gstoner commented on #246
A10-7860K is not officially supported Processor in ROCm, please refer to the officially supported hardware section at https://rocm.github.io/hardware.html.

I will get the Readme corrected

Best regards

G

[2017-03-07 10:25] szellmann opened #257 "Event-based timing"
Hi,

I'd like to perform event-based timing. With CUDA you can place a special event in the GPU command queue to perform timing for asynchronous operations. Is there something similar available with hcc (or maybe by means of interop with HSA, I've seen e.g. HSA_EXTENSION_PROFILING_EVENTS but am not sure if this is what I'm searching for and how to use it).

Cheers,
Stefan

[2017-03-10 06:01] wdx04 opened #260 "Need more intrinsic functions"
Hi,

I'm porting some C++ AMP applications from Windows/MSVC to Linux/HCC.
I used some GPU intrinsic functions in Microsoft's C++ AMP implementation, such as clamp, mad, imax, imin(declared in direct3d namespace). Though these functions can be emulated by software but they may affect performance.
Will you add such intrinsic functions in your C++AMP/HCC implementation?

[2017-03-10 07:30] whchung commented on #260
@wdx04 could you check https://github.com/RadeonOpenCompute/ROCm-Device-Libs/ and see if functions you need are implemented there? If they are implemented in ROCm-Device-Libs, I can certainly create C++ wrappers for them.

You can refer to https://github.com/RadeonOpenCompute/ROCm-Device-Libs/blob/master/doc/OCML.md#supported-functions for functions implemented.

[2017-03-10 15:10] szellmann opened #262 "Issues with thread_local in host code"
I'm experiencing erratic issues with global host variables declared thread_local. I stripped it down to the following:

[code]

[code]

[code]

Compiling this causes hcc to crash ([error log](https://github.com/RadeonOpenCompute/hcc/files/834262/log.txt)). Randomly changing variable types (e.g. bool state_t::initialized bool -> int) fixes this for this very example (I haven't found no regularity y

[2017-03-11 05:04] wdx04 commented on #260
@whchung Thanks.
I used the following "direct3d" functions in my code:
operand is int32: max,min,abs,clamp,mad
operand is fp32: clamp,mad
max, min, mad is in the supported function list but I don't know if they support integer-type operand
Also I found implementations of these functions in the source code, for example, builtins.h defines a BUILTIN_CLAMP_S32 macro that implements clamp for int32 bu

[2017-03-20 10:29] vrajeshlm commented on #246
@whchung is there any way to declare this amdgpu hcc compiler flag as a variable which will be taken care for any further compilation as I have many dependent files and libraries to compile.

[2017-03-27 22:31] jvesely opened #271 "misplaced files after instalation"
trying to compile a program after the latest cmake changes results in:
`clang-5.0: error: unable to execute command: Executable "hc-host-assemble" doesn't exist!`
copying the file from `compiler/bin` to `bin` fixes the issue.
there are multiple files with the same problem:
[code]
the problem is that the new cmake rules install a lot of files (but not all) to `bin` instead of `compiler/bin`:
[code]

[2017-03-28 01:51] whchung commented on #271
@jvesely For the time being I've reverted all relevant commits.

[2017-03-28 12:07] vrajeshlm opened #272 "Error HSA_STATUS_ERROR_INVALID_ISA_NAME"
I am trying a simple code on following configuration:
- Hardware Info :   AMD APU A10-7860K   (No Discrete GPU)
- SW Info:              Ubuntu 16.04 64bit

Code I am Executing:
[code]

I have compiled it with flag **-amdgpu-target=gfx700**
while executing it gives me error HSA_STATUS_ERROR_INVALID_ISA_NAME.

Callstack:
[code]

[2017-03-28 12:14] whchung commented on #272
@vrajeshlm I'm sorry to inform you that we don't actively support Kaveri chips now. So your program is likely not going to run, even though the compiler produces ISA for it. Please refer to https://github.com/RadeonOpenCompute/ROCm#supported-cpus for recommended system configuration for ROCm development.

[2017-03-28 12:14] #272 closed, assigned to nobody

[2017-03-30 04:02] vrajeshlm commented on #272
@whchung  As per the reference provided by you...

[code]

It clearly says that support is not there for Kaveri APU for dGPU attachments, but we dont have any dGPU in our hardware setup. That means Kaveri APU is supported with internal graphics setup.

[2017-03-30 04:13] whchung commented on #272
@vrajeshlm sorry I should be more specific. I was actually referring to this paragraph for supported CPUs:
[code]

[2017-04-06 05:52] vrajeshlm opened #282 "HCC Sources Compatible with ROCM_1.4"
I just tried latest HCC repository branch = clang_tot_upgrade  but those sources are not compatible with ROCM_1.4. Hence I also tried branch = rocm_1.4.x of HCC and compiled but whenever I try to compile any program from it, gives me error as following :

[code]

[2017-04-06 05:56] whchung commented on #282
@vrajeshlm `clang_tot_upgrade` branch is compatible ROCm 1.4 and is the recommended branch to use because it's the most actively maintained one. could you share what difficulty you encountered?

[2017-04-06 05:58] #271 closed, assigned to dfukalov

[2017-04-06 06:09] vrajeshlm commented on #282
the source of hc_am.hpp file doesn't match with hc_am.hpp source which we get by installing rocm from AMD PPA.
For Ex: I am trying to use hc::am_alloc() function and there it says  _allocSeqNum(0) undefined for AmPointerInfo class.

so looks like there might be such more changes which makes it incompatible with rocm 1.4

[2017-04-06 06:15] whchung commented on #282
I would recommend follow steps at: `https://github.com/RadeonOpenCompute/hcc#download-hcc` and do a fresh clone of HCC, and build from source. Once the build is complete, `sudo make install` to replace what's installed from stock ROCm 1.4 distribution.

[2017-04-07 04:10] vrajeshlm commented on #282
Hi @whchung I compiled latest HCC sources as per your guidance and used
[code]
to compile it
after installation of this compiled sources whenever I try to compile any code it gives me following warning:
**'AMD:AMDGPU:7:0:0' is not a recognized processor for this target (ignoring processor)**

and runtime error :
[code]

I am using   export HCC_AMDGPU_TARGET=AMD:AMDGPU:7:0:0 to specify gpu info.

a

[2017-04-07 06:18] whchung commented on #282
@vrajeshim I think you are using hardware not supported by ROCm. Please check https://github.com/RadeonOpenCompute/ROCm/blob/master/README.md for supported hardware.

[2017-04-07 06:18] #282 closed, assigned to nobody

[2017-04-07 06:38] vrajeshlm commented on #282
Hi @whchung I am using AMD APU A10-7860 and it says it has some limited support. . Is there any way to add some code to make it working because we(@Samsung_India) would like to contribute to ROCm.

[2017-04-07 06:41] whchung commented on #282
@vrajeshlm Please contact @gstoner for more information wrt reviving Kaveri support. I think we can take this discussion offline.

[2017-04-07 06:47] vrajeshlm commented on #282
@whchung  will you pls help me to get @gstoner 's Email id to take this discussion offline. I tried but I couldn't get it.

[2017-04-07 06:53] whchung commented on #282
@vrajeshlm please shoot me an email first, you can find my address on my personal profile.

[2017-04-07 16:19] jvesely opened #283 "compilation regression: Function in different module (__cmpexch_failure_order)"
hcc has recently started to fail when compiling some programs:
[code]

[2017-04-07 17:00] whchung commented on #283
@jvesely we have recently changed codegen behavior so this is a known issue, especially if you make C++11 library calls inside a kernel. it would be addressed in the next few days.

[2017-04-07 20:33] jvesely commented on #283
thanks, I'll be on a lookout for the fix

[2017-04-17 08:14] whchung commented on #283
@jvesely before a full-fledged solution can be properly devised I've posted a band-aid fix. could you `git pull` + `git submodule update` and see if the issue goes away?

[2017-04-17 17:15] jvesely commented on #283
thanks. The failing function has changed, it now fails to call `std::array::size()`:
[code]

I have a working hcc-1.2 based setup, so the issue is not really urgent.

[2017-04-20 20:29] jvesely opened #297 "debug build fails in rocdl"
I'm pretty sure this worked in the past, but I can't pinpoint the breaking commit. (debug builds are rather time consuming)

[code]

[2017-05-04 07:25] psteinb commented on #155
I see this with rocm-1.5 as well. trying to compile a GPU memory bandwidth benchmark using this [Makefile](https://github.com/psteinb/GPU-STREAM/blob/rocm_hc_support/HC.make).

[code]

[2017-05-04 07:29] psteinb commented on #155
If I used `hcc-config` in the Makefile, the error occurs as well:

[code]

the produced binary appears to work perfectly though.

[2017-05-04 08:11] whchung commented on #155
@psteinb I'm suspecting `HCStream.cpp` doesn't contain actual kernels, right? due to recent changes in the compiler frontend, less bitcodes, even empty bitcode, would be produced by the frontend in case the translation unit contains no kernels. Therefore this warning message may arise at link time.

[2017-05-04 09:27] psteinb commented on #155
[HCStream.cpp](https://github.com/psteinb/GPU-STREAM/blob/rocm_hc_support/HCStream.cpp) does
contain kernels.

[2017-05-09 15:23] szellmann opened #308 "Issue with stack-based binary tree traversal code"
Since updating from Ubuntu 14.04 ROCm 1.4 to Ubuntu 16.04 ROCm 1.5 recently, a stack-based binary tree traversal code that worked just fine for me the other day now causes memory access violations.

The code basically traverses a binary tree. For each node, the routine processes one child node, and pushes the other child node on a stack for later processing. This happens in a loop. Now, even if I

[2017-05-12 08:36] szellmann commented on #308
I just wanted to kindly ask, since there's no comments or so, if there is something I can do to improve the quality of the bug report.

It's of course clear that there can be no solution/fix on such short notice. However, having a fix for this issue is quite important to me because it basically hinders me from further porting my lib to ROCm and thus to AMD GPUs at all. If there is something I can

[2017-05-12 13:52] scchan commented on #308
@szellmann   Thanks for the bug report.  We are a bit short-handed and haven't got a chance to look at this issue yet.  I just took a brief look at the reduced example (very helpful BTW) but I didn't see anything obvious.  I'll set aside time to take a deeper and get back to you.

[2017-05-25 05:06] jvesely commented on #297
works OK after the latest update

[2017-05-25 05:06] #297 closed, assigned to nobody

[2017-05-25 12:20] gsedej opened #338 "Status of c++ amp on linux?"
Hi,
I was just checking the status of hcc c++amp for amd hardware on linux ubuntu 16.04 using rocm packages (https://github.com/RadeonOpenCompute/ROCm)

The 'hcc `clamp-config --build --cxxflags --ldflags` ampTest.cpp' does not work. When executing 'clamp-config --build --cxxflags --ldflags', I get message
`
 -std=c++amp -I/home/jenkins/jenkins-root/workspace/compute-rocm-rel-1.5/external/hcc-tot/

[2017-05-25 12:49] whchung commented on #338
Hi in case you use binary packages please remove "--build" when you invoke "clamp-config" or "hcc-config" and try again.

[2017-05-25 13:16] gsedej commented on #338
Thanks for the reply. The paths seems to be correct now.
[code]

But still error at compilation:
[code]
the code is sample from here: https://msdn.microsoft.com/en-us/library/hh265136.aspx
[code]

[2017-05-25 13:54] whchung commented on #338
could you try use `sum.get_extent()` instead of `sum.extent`?

[2017-05-25 14:17] scchan commented on #338
The issue is that `extent` is a private member of the `array_view` class in the C++AMP spec.

The Visual Studio implementation uses a language extension `__declspec(property(get=get_extent))` that would replace `sum.extent` with `sum.get_extent()` but this language extension is only supported by Visual Studio and not by any other compiler

https://msdn.microsoft.com/en-us/library/hh305260.aspx#arr

[2017-05-26 11:23] gsedej commented on #338
I will close the issue, since what I taught is a bug actually wasn't.

**EDIT: I did change to `sum.get_extent()`**
The compiler crashes while compiling in following error. I might come back to c++amp later.
```$ hcc `clamp-config  --cxxflags --ldflags` ampTest.cpp ```
[code]

[2017-05-26 11:23] #338 closed, assigned to nobody

[2017-06-16 19:28] kknox opened #363 "--amdgpu-target= flag emits an erroneous warning"
When passing the `--amdgpu-target=` flag to hcc, a benign warning message is produced that confuses the user stating that the flag is not recognized.

In fact, this flag does work and the the resulting binary does contains multiple ISA's, so the warning messages below are in fact false.

[code]

[2017-06-21 06:26] lawrenceyan commented on #308
Any updates on this?

[2017-06-21 09:09] szellmann commented on #308
@lawrenceyan do you have a similar problem?

[2017-06-21 20:32] lawrenceyan commented on #308
@szellmann Yes, I'm having a similar problem using Ubuntu. Not a huge issue for me as I'm not too focused on Linux support specifically, but I'd definitely be curious to see what ended up being the problem/fix if you do find it.

[2017-07-01 16:22] AlexVlx commented on #363
@kknox thank you for the report. If you don't mind my asking, how is the flag being added - e.g via target_compile_options or target_link_libraries (for a CMake based build). Thank you.

[2017-07-01 18:24] kknox commented on #363
When I configure the project, I used -DCMAKE_CXX_FLAGS

[2017-07-17 06:57] sriharikarnam opened #386 "HCC is throwing errors like "use of overloaded operator '*' is ambiguous""
error log:
src/operator/svm_output.cc:40:46: error: use of overloaded operator '*' is ambiguous (with operand types 'int' and 'mshadow::half::half_t')
          dst[y][k] = margin > src[y][k] ?  2*(margin - src[y][k]) : DType(0.0f);
                                            ~^~~~~~~~~~~~~~~~~~~~~
src/operator/./svm_output-inl.h:94:7: note: in instantiation of function template specialization 'ms

[2017-07-17 07:05] sriharikarnam commented on #386
[err_log.txt](https://github.com/RadeonOpenCompute/hcc/files/1151773/err_log.txt)
see err_log.txt

[2017-07-19 20:59] aaronenyeshi opened #389 "Wiki needs update"
Hi, it seems that the installation in the Wiki page is outdated.

Should be updated to:
[code]

I don't have the access to change it. Also cannot make PRs for Wiki pages. Thanks

[2017-07-21 12:06] sriharikarnam opened #392 "Linker error while generating executable for Thrust Library"
Background: Porting Thrust(Parallel Algorithms Library) to ROCm Platform

Issue: Facing linker error while generating executables in testing/backend/cuda (Attached log for reference)
[/opt/rocm/hcc-1.0/compiler/bin/clamp-device: line 134:  3771 Segmentation fault]

Steps to reproduce:
1) Download source code from https://github.com/ROCmSoftwarePlatform/Thrust/tree/Thrust_Rocm1.5_Dev (It is private

[2017-07-24 10:49] sriharikarnam opened #397 "Compilation error in mxnet Library with variable arguments in kernel launch"
Background: Porting Mxnet Deep Learning framework to ROCm Platform

Issue: Compilaton error while passing variable arguments to kernel launch api. (see log for reference)
The variable arguments in hiplaunchkernel is throwing error as below:

 error: expected ')'
 ...Args...>), dim3(ngrid), dim3(kBaseThreadNum), 0, mshadow::Stream<gpu>::GetStream(s),N, args...);
[errorlog.txt](https://github.com/Ra

[2017-08-03 15:26] syifan opened #410 "Atomic scope"
I am wondering what is the scope of the atomic operation in the hc namespace. HSA platform requires CPU that support system level atomic. So, is the atomic operation in C++ HC system level? Or it depends on the devices? If the atomic is not system level, is that possible to use system level atomic in C++ HC?

[2017-08-12 18:18] aditya4d opened #425 "[GFX9]: v_mad_mix_f32 op_sel inline asm not working"
Hi,
When I write a sample which uses inline asm `v_mad_mix_f32 v1, v2, v3, v4 op_sel:[1,1,0]` and compile with 1.6.3 HIP/HCC, I am getting the following build error:
[code]

But when I use TOT LLVM,
[code]
It is working fine.

Here is the code sample:

[code]

[2017-08-14 22:16] #389 closed, assigned to nobody

[2017-08-16 19:29] AirSquirrels opened #429 "Support SI/Vega in GCN Disassembler?"
Right now llvm-objdump does not work other than on VI. I wanted to debug some performance issues on gfx900 and it would be helpful to be able to disassemble the output from clang-ocl.in.

[2017-08-18 00:22] PhilipDeegan opened #431 "__cplusplus macro not changing with -std argument"
Is there a different way to activate C++14 with hcc, or is it not available?

[2017-08-18 09:40] PhilipDeegan commented on #431
It seems the addition of "-hc" or "--std=c++amp" drops __cplusplus back down to "201103"

[2017-08-21 19:04] jvesely commented on #410
atomic operations are system level (i.e. work between CPU and GPU).
I haven't tested dGPUs which require special flag for the atomic instructions.
the following tests work as expected on carrizo APU:
https://github.com/jvesely/hcc-atomic-test.git

[2017-08-21 19:07] jvesely commented on #283
note that this is still broken, although the last version of the error is:
[code]

[2017-09-01 19:15] gonuco opened #450 "hcc build failed @ [ 97%] Built target ocml_lib"
make[2]: Leaving directory '/home/xxxx/hcc/build'
make[2]: Entering directory '/home/xxxx/hcc/build'
make[2]: Nothing to be done for 'compiler/tools/clang/tools/c-index-test/CMakeFiles/c-index-test.dir/build'.
make[2]: Leaving directory '/home/xxxx/hcc/build'
[ 89%] Built target clang_links
[ 89%] Building OCL object rocdl/opencl/CMakeFiles/opencl_lib.dir/src/misc/atom.cl
cd /home/xxx/hcc/build/ro

[2017-09-01 19:22] aaronenyeshi commented on #450
Hi, I ran into this same issue with atom.cl on latest hcc before too. The fix was to delete the `build` directory, and rebuild HCC again.  Could you give it a try?

[2017-09-05 17:17] gonuco commented on #450
yes,    I tried few times,  and it works now.

[2017-09-05 17:47] gonuco opened #453 "hcc compile failed. with error: Invalid cast (Producer: 'LLVM5.0.0svn' Reader: 'LLVM 5.0.0svn')"
I have a small demo hcc program, but build failed.

following is the log:

/opt/rocm/hcc-1.0/compiler/bin/llvm-dis: error: Invalid cast (Producer: 'LLVM5.0.0svn' Reader: 'LLVM 5.0.0svn')
/opt/rocm/hcc-1.0/compiler/bin/hc-kernel-assemble: line 90: /tmp/tmp.ikQzNJOZ9R/main-8963f3.o.ll: No such file or directory
WARNING: Linking two modules of different data layouts: '/tmp/tmp.EhDlDjAkf1/main-e0900a.

[2017-09-05 17:49] #453 closed, assigned to nobody

[2017-09-05 17:50] #450 closed, assigned to nobody

[2017-09-08 11:34] szellmann commented on #308
Closing this. We just replaced our old Hawaii system with an RX580, PCIe Gen3 and Ryzen system and here the code executes fine. Our old setup will probably no longer be supported by now anyway. Sorry for the noise!

[2017-09-08 11:34] #308 closed, assigned to nobody

[2017-09-08 11:42] szellmann commented on #392
I'm interested in this. I would highly appreciate a hcc backend for thrust and had actually started developing one a few months ago, but then had to stop for some reasons.

How far is the port? I had seen ROCmSoftwarePlatform/thrust but am under the impression that it uses the hip API and not hcc? Is it likely that the port will go back upstream into the thrust repo (esp. given that thrust is main

[2017-09-13 09:50] syifan opened #458 "array_view::accelerator_pointer returns host pointer on host"
I am not sure if the array_view::accelerator_pointer function should return the host pointer or the device pointer if this function is called on the host. Currently, it seems that the function returns the same value as array_view::data() on the host. But from the documentation, I thought it should return the device pointer and hence, should be different from array_view::data(). I tried to pass the

[2017-09-13 13:18] bensander commented on #458
On rocm these pointer are often the same.
Using pointers to array_view is tricky - the hcc runtime usually identifies when these are used and helps with allocation and data transfer.  If you use pointer you bypass all this.
Depends on code but array might work better ?

On Sep 13, 2017, at 4:50 AM, Yifan Sun <notifications@github.com<mailto:notifications@github.com>> wrote:

I am not sure if the a

[2017-09-13 18:50] syifan commented on #458
Thank you very much. Yes, Array works better in my case and I can already make Array work.

It is good to know that the pointers are often the same and the runtime can check the kernel for the necessity of memory transfer.

I just do not want to give up array_view, since array_view may have some advantages on APUs? What I am trying to do is to create an abstract class that wraps both array and arr

[2017-09-13 18:50] #458 closed, assigned to nobody

[2017-09-19 01:46] lintcoder opened #465 "Couldn't build HCC clang_tot_upgrade branch on Ubuntu 16.04-arm64 server with gcc 5.4.0"
I am trying to build ROCm from branch roc-1.6.3 on my ubunu16.04-arm64 server which is running on Cavium Thunder X. Now I have built ROCK-Kernel-Driver, ROCT-Thunk-Interface and ROCR-Runtime.
When it comes to HCC, I follow the steps in repo RadeonOpenCompute/hcc:
1.git clone --recursive -b clang_tot_upgrade https://github.com/RadeonOpenCompute/hcc.git
Now hcc is on branch clang_tot_upgrade
2.cd hc

[2017-09-19 02:34] whchung commented on #465
@lintcoder since it's a new platform I would expect some weird issue could arise, especially when Clang Driver is try deal with target triples. could you capture your build log with this `CMake` command?

` cmake .. -DCMAKE_CXX_FLAGS="-v"`

this should allow more insights on why we are seeing this `No available targets are compatible with this triple`

[2017-09-19 02:38] whchung commented on #465
some places I can quickly think of are `x86-64`-specific, and may need to be switched to your host architecture.

- `lib/clamp-embed.in` : `objcopy` is used to rename a section inside a kernel object file.
- `lib/clamp-link.in` : `clang-offload-bundler` is invoked and use `x86-64`-specific string to identify host objects.
- `lib/extractkernel.in` : same as above.

[2017-09-20 00:54] lintcoder commented on #465
@whchung thanks for your advice, here is my build log with "-DCMAKE_CXX_FLAGS="-v":
........
Scanning dependencies of target mcwamp_atomic
[ 97%] Building CXX object lib/CMakeFiles/mcwamp_atomic.dir/mcwamp_atomic.cpp.o
HCC clang version 6.0.0  (based on HCC 1.0.17373-bd1f35c-c639ce0-e4adac0 )
Target: aarch64-unknown-linux-gnu
Thread model: posix
InstalledDir: /home/cavium/rocm/hcc/build/compiler/b

[2017-09-20 01:25] whchung commented on #465
Please try change those lines I mentioned earlier from x86-64 to aarch64-

[2017-09-20 03:05] lintcoder commented on #465
@whchung I have tried your method while it seems no help

[2017-09-20 04:10] whchung commented on #465
@lintcoder it's failing at this line:
https://github.com/RadeonOpenCompute/hcc-clang-upgrade/blob/clang_tot_upgrade/lib/CodeGen/BackendUtil.cpp#L700

let me do some investigation about this.

[2017-09-22 01:16] lintcoder commented on #465
@whchung thanks, it would be very helpful,  and I wonder if there is any progress?

[2017-09-25 02:36] lintcoder commented on #465
@whchung I see you have made some commits last Friday, are these modifications helpful to fix the build problem?

[2017-09-25 03:55] whchung commented on #465
@lintcoder nope, those commits won't help building on aarch64 yet. I'm getting an aarch64-based system hopefully by Monday my time so I can dig into this issue and make sure host path of `hcc` works with aarch64 architecture.

[2017-09-28 17:31] syifan commented on #410
@jvesely Thank you very much. Finally got a chance to test. The system level atomic works on APUs but not dGPUs. Do you know if there is any way to enable dGPU like R9 nano to support system level atomic? I know system level atomic is a requirement for the hardware to use ROCm, but as a user, can I use it?

[2017-09-29 05:33] jvesely commented on #410
Sounds like either l2$ configuration bug, or wrong code generated by the compiler (missing SLC flag for atomic instructions). Either way you'll need someone from AMD to address it.

[2017-09-29 10:19] sriharikarnam opened #474 "Error: call to constructor is ambiguous for hip port of MXNet"
**Background**: Porting Mxnet Deep Learning framework to ROCm Platform
**Issue**:
When trying to compile device code(.cu) with hcc compiler on HIP/ROCm platform, the compiler throws error as below:

error: call to constructor of 'std::decay_t<decltype(plan)>' (aka 'mshadow::expr::Plan<mshadow::expr::ScalarExp<float>, float>') is ambiguous
    hipLaunchKernelGGL(HIP_KERNEL_NAME(MapPlanKernel<Saver,

[2017-09-29 11:10] sriharikarnam opened #475 "Error: 'amdgpu_flat_work_group_size' attribute requires an integer constant"
**Background:** Porting Thrust to ROCm Platform
**Issue:**
Compilaton error  'amdgpu_flat_work_group_size' attribute requires an integer constant

../Thrust/thrust/system/cuda/detail/bulk/detail/cuda_launcher/triple_chevron_launcher.hpp:63:1: **error:** 'amdgpu_flat_work_group_size' attribute requires an integer constant
bulk_launch_bounds(block_size, 0)

[launch_bounds_error_Thrust.txt]
(https://

[2017-10-02 16:58] whchung commented on #465
@lintcoder sorry for being late on this topic. I've finally secured an aarch64-based system so I'll be working on this issue and keep you posted.

[2017-10-04 15:18] whchung commented on #392
@sriharikarnam the reproduce step seems to be incorrect. I guess you are not able to `cp *.cu *.cpp`? do you mean to "rename each .cu file to .cpp extension"?

[2017-10-04 16:49] sriharikarnam commented on #392
@whchung : Yes "cp *.cu *.cpp" means rename each .cu file to .cpp extension.  We have a script to do that at examples/cu_to_cpp.sh

[2017-10-04 17:07] whchung commented on #392
@sriharikarnam with newer HCC I'm getting different linker errors other than the one described in your attached log. let me look into this and keep you posted.

[2017-10-06 15:16] whchung commented on #392
@sriharikarnam a workaround has been published to solve the issue:
- https://github.com/RadeonOpenCompute/hcc-clang-upgrade/pull/91

if you can build `hcc` from source, you can:
- apply it within `clang` directory of your `hcc` checkout.
- rebuild hcc
- rebuild hip
- rebuild your test
I've verified `merge_by_key.cpp` now builds. it doesn't run yet but you could submit another ticket afterward.

al

[2017-10-06 15:35] whchung commented on #392
@sriharikarnam please ignore my previous comment. just now a more generic fix to this issue has been merged into `hcc` mainline:

- https://github.com/RadeonOpenCompute/hcc-clang-upgrade/pull/62

please do:

- `git pull && git submodule update` in your `hcc` checkout
- rebuild hcc
- rebuild hip
- rebuild your test

[2017-10-06 15:58] jvesely commented on #62
note program built with the latest hcc gives this error:
[code]

[2017-10-06 16:45] whchung commented on #283
@jvesely a full-fledged PR ( https://github.com/RadeonOpenCompute/hcc/pull/484 ) which address this issue was just merged today. could you share your project repository and provide steps to reproduce the issue, so I can verify if it works well for your project?

[2017-10-06 17:54] jvesely commented on #283
hi,
thanks, I'm building today's version right now.
the test cases are at: https://github.com/jvesely/hcc-atomic-test.git
you can try for example interference.cpp (You'll need to adjust the hcc path in makefile)
code currently includes workarounds (#if __hcc_major < 1), removing the workarounds triggers this failure

[2017-10-06 22:25] jvesely commented on #283
the situation is better after today's update some function work. I can use std::vector, but trying to use std::atomic_uint::is_lock_free() still causes:
[code]

[2017-10-07 14:38] AlexVlx commented on #283
@jvesely I think there is a bit of a misunderstanding here (unfortunate one too - I believe we are at fault here). We do not advertise support for any function that is not [[hc]] restricted in a [[hc]] restricted context. Functions in the standard library do not qualify as [[hc]] restricted, and thus they are not usable, be they members of standard containers, or standard algorithms. We are making

[2017-10-08 21:21] jvesely commented on #283
Hi,
thanks for detailed reply. The ability to use the same STL data structures between host and device is rather appealing.

The documentation[0] says:

since includes are handled by the preprocessor I'd assume that header functions (inline and template) from any library would work.

There are several repositories of GPU system call demonstrators that rely on at least std::vector::operator[] to wo

[2017-10-08 21:21] #283 closed, assigned to nobody

[2017-10-09 01:09] lintcoder commented on #465
@whchung sorry for replying so late, since I had been on vacation for these days. I am glad to hear that you've gotten an aarch64-based system in hand, and if you have any progress on this topic, please let me know, many thanks.

[2017-10-10 15:08] whchung commented on #363
`--amdgpu-target=` is a link-time option, therefore it would not be processed at compile-time.

[2017-10-10 15:08] #363 closed, assigned to nobody

[2017-10-11 09:48] sriharikarnam commented on #392
@whchung Thanks! Issue is fixed, we are doing regression testing. If we find anything abnormal will report in another ticket. Closing this.

[2017-10-11 09:48] #392 closed, assigned to whchung

[2017-10-16 19:23] whchung commented on #465
@lintcoder I've made some progress in this ticket. ll be start pushing some commits to `aarch64` branch so you can try reproduce my results.

[2017-10-16 21:08] whchung commented on #465
@lintcoder initial `aarch64` port is at: https://github.com/RadeonOpenCompute/hcc/tree/aarch64 . I'm still working with kernel/runtime team to validate this port. will keep you posted.

[2017-10-16 22:22] JiniusDnn opened #504 "llvm-mc generated hsaco , can't load by hsa_executable_load_code_object."
thanks for everyone who read this , I am new to hcc.

I try to compile asm  into hsaco and load it to hsa.

the asm was the example hello world from hcc project:

[code]
I can compile it by llvm-mc
[code]

but when I load it from hsa api,  it failed at:

hsa_status = hsa_executable_load_code_object(hsaExecutable, device, code_object, NULL);

thanks again if you can point out what's wrong here.

[2017-10-16 22:49] gonuco commented on #504
solved by ld.lld  .

[2017-10-17 07:50] lintcoder commented on #465
@whchung I've updated my local repo to aarch64 port, and change several submodules branches as follows:
clang to aarch64 branch,
clang-tools-extra to amd-hcc branch,
compiler to amd-hcc branch,
compiler-rt to amd-hcc branch,
lld to amd-hcc branch
rocdl to 0d09c00

then I try to build it with multi-thread, some of output are here:
[ 91%] Building OCL object rocdl/ocml/CMakeFiles/ocml_lib.dir/src/fp

[2017-10-17 09:52] #176 closed, assigned to nobody

[2017-10-17 09:52] #155 closed, assigned to nobody

[2017-10-17 13:39] whchung commented on #465
@lintcoder the branches you are using are correct. to save you some time, you can use `git checkout aarch64; git submodule update` to make sure all submodules are in the correct configuration.

there are some changes in kernel/thunk/runtime required to cope with `aarch64` which are not inside `hcc`. I'm going to post them in the next few replies.

[2017-10-17 14:32] whchung commented on #465
@lintcoder several topics you need to be aware of:

1) CPU endianness

[code]

please manually change `/opt/rocm/include/hsa/hsa.h`. I assume the machine you are using is little endian by default.

[code]

I'm going to submit a PR again `ROCR-Runtime` on this change.

---

2) headers in `/usr/include`

I found i have to create several symlinks under `/usr/include`:
- `/usr/include/sys -> /usr/incl

[2017-10-17 18:44] whchung commented on #465
@lintcoder also I'd like to let you that I've verified following `hcc`-based tools/applications now work on my `aarch64`-based system:

- `HIP`: https://github.com/ROCm-Developer-Tools/HIP
- `rocBLAS`: https://github.com/ROCmSoftwarePlatform/rocBLAS

[2017-10-18 08:32] lintcoder commented on #465
@whchung thanks for your detailed reply first. Since I've made symlinks before, after making changes in hsa.h, I build hcc successfully. While I got an error when setting PCIe atomics configuration, my AMD GPU card is RX460:
sudo setpci -v -s 0005:8f:00.0 98.b=60
setpci: Warning: No devices selected for "98.b=60".

what's more, I build HIP:https://github.com/ROCm-Developer-Tools/HIP successfully,

[2017-10-18 14:42] whchung commented on #465
@lintcoder good to hear that. some answers/comments:

1) address for the PCI bridge:

`0005:8f:00.0` is the address of the PCI bridge my AMD GPU talks to. please find the correct address on your system via `lspci -vv | grep "PCI bridge"`. there could be several on your system, and you should check to which PCI bridge your AMD GPU is connected.

2) warning message for `hipify-clang`

you can ignore

[2017-10-20 14:28] whchung commented on #465
@lintcoder I'm hereby closing this ticket as compilation problem of `hcc` is resolved. please feel free to create new tickets in runtime issue.

[2017-10-20 14:28] #465 closed, assigned to nobody

[2017-10-30 15:38] jvesely commented on #410
you can check the discussion here:
https://reviews.llvm.org/D39350
looks like system scope atomics are not supported on dGPUs

[2017-11-10 18:00] tstellar opened #545 "Is the saxpy example known to work with rocm 1.6?"
The saxpy example referenced in the wiki isn't working for me with ROCM 1.6.  Is this expected to work?

[2017-11-10 18:33] scchan commented on #545
It should work, what kind of problem you ran into?

[2017-11-10 19:43] tstellar commented on #545
The program hangs, and I get this in dmesg:  I will verify that I have everything installed correctly.

[ 6379.897468] kfd kfd: HSA Process (PID 15461) got unhandled exception
[ 6379.897942] kfd kfd: Invalid PPR device 0:1.0 pasid 1 address 0x0 flags 0x144
[ 6379.897961] kfd kfd: Sending SIGSEGV to HSA Process with PID 15461

[2017-11-10 21:26] tstellar commented on #545
I don't think there was an issue with my installation.  Does it work for you with 1.6 or some other version?

[2017-11-10 22:44] scchan commented on #545
yes I'm using 1.6.  Which GPU and distro are you using?

[2017-11-10 22:48] tstellar commented on #545
Fedora 26 I'm using a Bristol Ridge APU.

[2017-11-10 23:58] tstellar commented on #545
I noticed some more errors in dmesg, which are probably more relevant:
[  815.678265] mem_banks_count truncated from 1 to 0
[  815.728316] Event page mmap requested illegal size
[  815.952997] Signal event wasn't created because limit was reached

[2017-11-11 00:55] tstellar commented on #545
It looks like HSAContext::HSAContext() in mcwamp_hsa.cpp is running out of memory allocating the signal pool.

[2017-11-11 15:25] scchan commented on #545
I don't have a Bristol Ridge right now.
This line here sets the signal pool size
https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/lib/hsa/mcwamp_hsa.cpp#L79

Could you help me finding out what is a suitable signal pool size for this APU?  I could create a patch to make it work.
BTW, do you know the agent name of the GPU returned by the ROCR?

[2017-11-13 07:06] Prasandhmcw commented on #453
Did this get resolved ?

[2017-11-13 16:52] tstellar commented on #545
I've done more testing, and the problem with running out of memory was only happening on the upstream kernels, so I'll ignore this since this isn't something you support at the moment.  Using the rocm-1.6 stack with the rocm kernel.  There are no dmesg errors, but the program still hangs.  Here is some debugging output:

$ HCC_DB=4095 ./saxpy
   hcc-init tid:1 HSAContext::HSAContext(): init HSA ru

[2017-11-15 01:56] tstellar commented on #545
I ran the same program with an empty parallel_for_each and there was no hang, so maybe there is a problem with the generated ISA?

[2017-11-15 02:34] tstellar commented on #545
After more experimentation, it looks like the hang happens when I try to read from av_x.  Reading/writing to av_y works fine.

[2017-11-15 16:49] smithakihide opened #547 "libcxxabi"
hello.
when I install ROCm from the repository of http://repo.radeon.com/rocm/yum/rpm/ using below command as described in https://github.com/RadeonOpenCompute/ROCm,

sudo yum install rocm

then the below error occurred.
Error: Package: hcc-1.0.17412-1.x86_64 (remote)
           Requires: libcxxabi

although I searched what is libcxxabi, finally I could not get any idea for it.
please help me.

[2017-11-15 16:56] smithakihide opened #548 "about the performance of C++ AMP mode"
is there any difference in the performance with C++ AMP mode compared with HCC mode?
I want to keep compatibility with Windows platform. so the C++ AMP compatible mode is important for me. when I run some program on the both Windows and Linux with C++ AMP, Windows run 2 times faster than Linux, Ubuntu at 2015.

[2017-11-15 18:29] tstellar commented on #547
What version of fedora are you on?  Did you try yum install libcxxabi ?

[2017-11-16 03:53] smithakihide commented on #547
thank you.
CentOS 7.3. clean installed.
yes I tried. but the result is here.

Loaded plugins: fastestmirror, langpacks
base
epel/x86_64/metalink
extras
remote
updates
updates/7/x86_64/primary_db
Loading mirror speeds from cached hostfile
 * epel: ftp.riken.jp
No package libcxxabi available.
Error: Nothing to do

[2017-11-16 06:35] aaronenyeshi commented on #547
It’s strange because it should have been added to the ROCm yum repo. Here are the steps to create it manually.

Installing C++ and C++ ABI packages to support HCC

The HCC compiler requires specific C++ headers and binaries to be able to run. These binaries are not available on the CentOS/RHEL repositories, so they must be installed using release builds following these instructions:

1. Install Su

[2017-11-16 10:48] smithakihide commented on #547
thank you for a lot of things.
I tried those command to build libc++abi and libc++, but I still couldn't install rocm with the same error message of "rocm Requires: libcxxabi".

I also tried to compile the c++ program using `clang++ test.cpp -std=c++11 -stdlib=libc++ -lc++abi
`
to confirm all environments was correctly installed. this worked.

here is the test code.

`#include <iostream>
int main(

[2017-11-18 00:05] tstellar commented on #547
On centos, I would recommend using libstdc++ as your c++ library instead of libc++.  It looks like passing -DUSE_LIBCXX=OFF to cmake when you configure will disable libc++.

[2017-11-18 10:11] smithakihide commented on #547
thank you.
dose it work to compile rocm also?

[2017-11-19 20:35] smithakihide opened #554 "How can I type ”`” ?　"
How can I type ”```” ?　
this is needed for the below command.
``hcc `clamp-config --cxxflags --ldflags` foo.cpp``
sorry for such this stupid question.
but, actually I am in trouble.

[2017-11-19 21:11] smithakihide opened #555 "Why there are two instructions to compile HCC, HCC and HCC wiki?"
hello. thank you for reading.

I wonder why there are two instructions to compile HCC.
I found [https://github.com/RadeonOpenCompute/hcc](url) (will denoted as hcc in this text)and [https://github.com/RadeonOpenCompute/hcc/wiki](url) (will denoted as hcc/wiki in this text)

here is build command in "hcc"
`cmake -DCMAKE_BUILD_TYPE=Release ..`

and this is the "hcc/wiki" one.
`cmake ../hcc`

and alt

[2017-11-19 21:14] smithakihide commented on #548
I tried to compare with simple diffusion equation code.

I examined both versions of single precision and double precision.
the common conditions are
array size = 1048576,
loop number nT = 128.
init means the time consumption for initialization.
calc means the time consumption for calculation.

the compile command is,
`` hcc `clamp-config --cxxflags --ldflags` amp_std_comp.cpp -O3 -o dd``.
ubuntu

[2017-11-19 21:17] aaronenyeshi commented on #554
HI, that key is the “accent grave” key on the same key as the tilde key on the top left of the keyboard. Usually it is beside “1” key

[2017-11-19 21:51] smithakihide commented on #554
thank you. I could find.
I could type this by Shift + @

[2017-11-19 21:51] #554 closed, assigned to nobody

[2017-11-19 21:59] smithakihide commented on #548
here is the whole code for this test.
[code]

[2017-11-20 13:19] sriharikarnam opened #556 "Regression after migrating to ROCm version 1.6.180 from 1.6.148"
The below linker error is being faced while generating executables in Thrust Library after migration to ROCm 1.6.180 . The generation of executables was successful on previous ROCm version 1.6.148.

**Error**:  error: can't create dynamic relocation R_AMDGPU_REL32_HI against symbol: thrust::detail::cons<thrust::system::cuda::detail::bulk_::detail::cursor<0u>, thrust::detail::cons<thrust::zip_itera

[2017-11-20 14:08] smithakihide opened #557 "clamp-config (C++ AMP) and -std=c++11"
hello.
I would be glad if someone help me.

I'd like to use the experimental library of C++. so I have to set the option -std=c++11 when I compile my code with hcc. but when I set `clamp-config` and `-std=c++11` simultaneously, I cannot get a correct result.

here is a sample code although what I want to do is more complex.
[code]

and here are the ones of the outputs.
[code]

I want to use C++ AM

[2017-11-20 15:28] smithakihide commented on #557
may be, I should give up to use filesystem libraries,

[2017-11-20 16:02] tstellar commented on #547
I don't understand your question.

[2017-11-20 16:07] smithakihide commented on #547
sorry,
what I wanted to say is,
is it possible to use the way you told me to install rocm?

[2017-11-21 10:38] mangupta commented on #556
@sriharikarnam could you try adding -fPIC to the hipcc options when building the thrust library and see if it helps?

[2017-11-21 13:17] sriharikarnam commented on #556
Hi Maneesh
We tried adding -fPIC option to hipcc earlier, but the issue was not resolved.
Please find attached log for reference.
[sum_error_log.txt](https://github.com/RadeonOpenCompute/hcc/files/1491412/sum_error_log.txt)

[2017-11-24 13:41] sriharikarnam commented on #556
We are facing the above mentioned linker issue in the classes where there is no user defined destructor.

We tried the below workaround for this error:
Defined destructor for the class pointed in the linker error. This resolved error for that particular class but again reappears for other classes recursively.
In general the compiler should define a default destructor if there is no user-defined de

[2017-11-27 20:49] smithakihide opened #565 ""HCC_RUNTIME" about backend option"
in the past HCC implementation, there are some option to specify which environment to run the code compiled with HCC.

I want OpenCL Back end.
is there still such this option?
or please implement CPU back end mode.

but if there is no plan to implement either OpenCL or CPU mode, I think this option should be removed. it still work and I got strange result. this will be confusing.

[2017-11-27 20:54] whchung commented on #565
@scchan @bensander do we want to consider deprecating x86 backend in HCC? It has been stale for quite awhile and no real-world applications depend on it.

[2017-11-27 21:09] smithakihide commented on #565
thank you to answer.
there are 3 things what I 'd like to say in addition.

1,
yes, eventually we would not need CPU back end as you said.
but there would be experimental case before large scale calculation. such experimental case will consist of small data not to be able to extract enough advantages of GPU.  so we need CPU back end at the development time.

2,
As I said, if you don't have plan to

[2017-11-28 17:08] scchan commented on #556
Could you try with the roc-1.7.x branch of hcc?  It works for me and it will be released very soon.

Follow the steps described in the wiki: https://github.com/RadeonOpenCompute/hcc/wiki#building-hcc-from-source

Except that after cloning the hcc source tree, then do

`git checkout origin/roc-1.7.x; git submodule update`

and then continue to configure the hcc build with `cmake`

[2017-11-28 17:11] scchan commented on #555
The reason is it depends on where your build directory is relative to the hcc source directory

[2017-11-28 17:11] #555 closed, assigned to nobody

[2017-11-28 20:53] smithakihide commented on #555
although your answer was a little different from what I wanted to ask, thank you to reply.

[2017-11-29 14:41] smithakihide commented on #431
hello, I also tried to use C++ 14 even with --std=c++14 on HCC.
but it did not work.

[2017-11-29 14:47] smithakihide commented on #545
I found ROCm dose not support Bristol ridge. this is written in ROCm's README.md.
so, you have to give up to run ROCm on Bristol ridge.

as long as I checked runtime backend of ROCm, there was no option to run the code on independent discrete GPU. ROCm seems to always need HSA compatible system. although Bristol Ridge was called as HSA compatible, but sadly, current ROCm have removed the support o

[2017-12-04 11:21] sriharikarnam commented on #556
@scchan  Thanks for your inputs,
We have upgraded hcc to the latest version(HCC 1.1.17462-5b2aa08-42ceed8-4c229d3) by following the above mentioned steps.
The issue is now resolved.

[2017-12-04 11:21] #556 closed, assigned to scchan

[2017-12-06 21:42] alexanderkjeldaas opened #576 "HSA header/runtime library - missing install instructions?"
I'm getting:

[code]

when running:
[code]

Where can I find the HSA header and runtime library?

[2017-12-06 21:48] whchung commented on #576
@alexanderkjeldaas please install ROCm stack first ( https://rocm.github.io/install.html )

[2017-12-07 08:57] alexanderkjeldaas commented on #576
I'm compiling ROCm from source.

For anyone reading this issue, the correct location for the header/library is https://github.com/HSAFoundation/HSA-Runtime-AMD.git which is a repo with binaries and headers.

[2017-12-07 08:57] #576 closed, assigned to nobody

[2017-12-07 23:38] kibatronic opened #579 "HCC Documentation is not there"
The link to HCC API is dead: http://scchan.github.io/hcc/

[2017-12-07 23:57] alexanderkjeldaas opened #580 "Having trouble compiling, finding libunwind.h"
On NixOS, all of the dependencies are in separate locations, and I have problems figuring out which option I can modify to get libunwind.h available.

At the end of the compile I get:

[code]

I'm using `-DCMAKE_VERBOSE_MAKEFILE=ON -DCMAKE_BUILD_TYPE=Release -DHSA_HEADER_DIR=${rocr-runtime}/include -DHSA_LIBRARY_DIR=${rocr-runtime}/lib`

I'm also setting

[code]

How can I influence the include pa

[2017-12-08 00:13] smithakihide commented on #579
I also have observed.

[2017-12-08 00:17] #565 closed, assigned to nobody

[2017-12-12 12:02] smithakihide opened #584 "dose the array_view's destructor automatically calls synchronize()?"
hellow.
when I used array_view and change its contents with CPU, it seems not to be synchronized if I did not call the method synchronize() explicitly. in the specification of C++ AMP, it is defined the array_view's destructor synchronizes its changes automatically when it called.

I would like you to check this behavior.

[2017-12-13 20:32] scchan commented on #579
The docs have been regenerated and restored.

[2017-12-13 20:32] #579 closed, assigned to nobody

[2017-12-13 20:33] smithakihide commented on #579
thank you.

[2017-12-14 15:56] jszuppe commented on #62
We get the same error when a `constexpr static` data member of a class is odr-used (required definition at namespace scope is provided).

[2017-12-14 21:43] chipfreitag commented on #547
I'm having similar issues installing with RHEL 7.3.
The dependencies ROCm (1.6-180) are complaining about are:
libunwind-devel libcxx libcxxabi libstdc++-static

I was able to get libunwind using yum install libunwind.686.  But  the others's don't seem to be available.
You're really having us build libcxx?

[2017-12-18 13:16] sriharikarnam opened #588 "Issue: HCC STATUS_CHECK Error: HSA_STATUS_ERROR_VARIABLE_UNDEFINED (0x1015) while executing Thrust API on HIP/ROCm Path"
Below error is seen while executing  some of the Thrust API's on HIP/ROCm path. This issue is seen before control enters application / main.

**Error Log:**
Runtime Error: HCC STATUS_CHECK Error: HSA_STATUS_ERROR_VARIABLE_UNDEFINED (0x1015) at file:mcwamp_hsa.cpp line:2936
Aborted (core dumped)

Backtrace:
0x00007fc1258714de:    Kalmar::HSADevice::BuildOfflineFinalizedProgramImpl(void*, int) + 0x3

[2017-12-23 02:03] smithakihide opened #593 "SEGFAULT with Rocm1.7 when I link object files using HCC 1.2"
thank you for reading.

I installed rocm 1.7. (It have become that I cannot chose but this version now)
And I used HCC 1.2. this HCC worked well on the previouse version of rocm 1.6

[code]

I would be glad if you help me. and I can give the source code if you want although I can not expose it on this site directly.

[2018-01-03 14:41] sriharikarnam commented on #588
After migrating to ROCm 1.7.60, instead of HCC status check error we encounter the below error:

**Memory access fault by GPU node-1 on address (nil). Reason: Page not present or supervisor privilege.**

Now the control enters into main() but this error is reported at the end while exercising the functionality of API.

[2018-01-03 15:46] whchung commented on #588
@sriharikarnam based on the new error log after upgrading to ROCm 1.7 I suspect it could be:

1) issue in kernel logic : issue inside Thrust, or the port you are building
2) issue in kernel argument preparation logic : issue inside HIP / HCC

please help:

1) revise reproduce steps, clearly indicate:
    - Thrust branch name
    - Thrust commit #593
    - all other ROCm configuration (ROCm release

[2018-01-10 14:43] sriharikarnam commented on #588
Updated Information @whchung
**Steps to reproduce:**
$ git clone https://github.com/ROCmSoftwarePlatform/Thrust.git (master branch)
$ cd Thrust
$ export HIP_PLATFORM=hcc (For HCC Platform )
$ cd examples
$ cp summary_statistics.cu summary_statistics.cpp
$ /opt/rocm/bin/hipcc summary_statistics.cpp -I../ -o summary_statistics.cpp.out
$ ./summary_statistics.cpp.out (Executable to be run on AMD hardw

[2018-01-10 15:48] scchan commented on #580
could you try inserting the cmake command `target_include_directories` here https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/scripts/cmake/MCWAMP.cmake#L56

[2018-01-10 16:44] pfultz2 commented on #580
You should set `CMAKE_PREFIX_PATH` to where all the dependencies are. This is set to the installation paths of the dependencies. That is, if you install libunwind into `$UNWIND_PATH` and install rocr into `$ROCR_PATH`, then you should set `CMAKE_PREFIX_PATH` with something like `-DCMAKE_PREFIX_PATH=$ROCR_PATH;$UNWIND_PATH`(and there is no need to use the advance `HSA_*` cmake variables either).

[2018-01-10 17:56] scchan commented on #593
@smithakihide could you contact me at siuchiDOTchanATamdDOTcom ?

[2018-01-10 18:24] smithakihide commented on #593
Yes, I can. I sent the initial message to you with my email account. You can delete the message including your email address.

[2018-01-10 22:07] #593 closed, assigned to nobody

[2018-01-11 12:25] sriharikarnam commented on #588
@whchung
Attached LLVM and ISA dump for the issue.
[Thrust_LLVM_ISA_Dump.zip](https://github.com/RadeonOpenCompute/hcc/files/1622485/Thrust_LLVM_ISA_Dump.zip)

[2018-01-17 09:59] sriharikarnam commented on #474
Updated ticket based on latest information.

[2018-01-17 10:27] sriharikarnam commented on #397
Updated ticket based on latest information.

[2018-01-18 09:42] sriharikarnam opened #606 "Error : no matching function for call to 'atomicAdd'"
Background: Porting Mxnet Deep Learning framework to ROCm Platform

Issue : While generating 'libmxnet.so' file for HIP/ROCm platform we are facing below mentioned compilation issue.

Error: src/operator/./nn/./pool.cuh:339:7: error: no matching function for call to 'atomicAdd'
atomicAdd(&in_grad[in_offset+max_idx], out_grad[index]);
[error_log.txt](https://github.com/RadeonOpenCompute/hcc/files/1

[2018-01-18 14:19] whchung commented on #606
Please check if the data type in use fall within supported ones in HIP:
https://github.com/ROCm-Developer-Tools/HIP/blob/master/include/hip/hcc_detail/hip_runtime.h#L177

[2018-01-18 16:36] whchung commented on #588
@sriharikarnam Based on the runtime log `summary_statistics_runtime_log.txt` it shows host side passed 96 bytes to the kernel. But inside `dump-gfx803.isa` from `Thrust_LLVM_ISA_Dump.zip` it seems there is NO kernel which takes 96 bytes. You can grep `KernargSegmentSize` to verify that. There could be a mismatch between host logic and GPU kernel.

However, I'm not sure if the attached IR/ISA dump

[2018-01-22 10:46] sriharikarnam opened #609 "HSADevice::CreateKernel(): Unable to create kernel"
[Sample_Code&logs.zip](https://github.com/RadeonOpenCompute/hcc/files/1651604/Sample_Code.logs.zip)
Below error is seen while executing thrust testing testcases on HIP/ROCm path.
**HSADevice::CreateKernel(): Unable to create kernel**

Issue Description:
Unable to create kernel is seen when device kernel is launched from a test framework of thrust.

**Non Working case:**

While passing thrust::devi

[2018-01-22 13:01] sriharikarnam commented on #588
@whchung
As requested above we are attaching IR/ISA dump for summary_statistics
[Thrust_LLVM_ISA_Dump.zip](https://github.com/RadeonOpenCompute/hcc/files/1652003/Thrust_LLVM_ISA_Dump.zip)

[2018-01-22 15:08] whchung commented on #609
@sriharikarnam In the attachment there is no definition of `DECLARE_VECTOR_UNITTEST`. Please help provide it, or prepare a self-contained example.

[2018-01-22 15:27] sriharikarnam commented on #609
@whchung
Definition of DECLARE_VECTOR_UNITTEST is available in below file at line # 162
https://github.com/ROCmSoftwarePlatform/Thrust/blob/master/testing/unittest/testframework.h

// Macro to create host and device versions of a
// unit test for a couple data types
#define DECLARE_VECTOR_UNITTEST(VTEST)                                                                            \
void VTEST##Host(

[2018-01-22 15:41] whchung commented on #588
@sriharikarnam Thanks. Based on the updated IR/ISA dump. The faulty kernel is:

[code]

From LLVM IR dump, `dump-gfx900.opt.bc`, you can disassemble it with `llvm-dis dump-gfx900.opt.ll` and look for this symbol. You can also find the same symbol in GCN ISA dump, `dump-gfx900.isa`.

Unfortunately, all kernel arguments seems to be in primitive types, and it seems we are passing the correct amount o

[2018-01-22 15:56] whchung commented on #609
@sriharikarnam Could you help provide a minimal self-contained example? Without any knowledge of your application I fail to see where kernels are produced and launched.

[2018-01-22 17:16] sriharikarnam commented on #606
@whchung
We checked the atomicAdd overload in the hip_runtime.h in the link mentioned above.But the overload functions for double and half data types are present in src/common/cuda_utils.h guarded for device compilation path.The code compiles successfully for HIP/CUDA(NVCC) path but reports error for HIP/ROCm(HCC) path.

[2018-01-22 17:22] whchung commented on #606
@sriharikarnam It appears the implementation of HIP is incomplete. Please raise a ticket in HIP repository.

As a temporary workaround, please try cast double / half types to support ones.

[2018-01-23 10:49] sriharikarnam commented on #606
@whchung
1)The overload functions for double and half data types are implemented  in the file src/common/cuda_utils.h of mxnet source code.These are user defined functions in mxnet source code not HIP related.
2)The hcc compiler is not be able to find the overloaded functions for double and half data types and gives error no matching function for call to 'atomicAdd' whereas nvcc compiler succesful

[2018-01-23 16:12] whchung commented on #606
@sriharikarnam thanks for the explanation. Now it does seem to be a limitation in the API exposed by HCC.

Before new APIs can be added, please try workaround the issue by casting to supported data types.

[2018-01-23 16:12] whchung commented on #606
+ @aaronenyeshi / @AlexVlx / @scchan  for awareness

[2018-01-23 18:45] AlexVlx commented on #606
@sriharikarnam can you please try to switch the guards so that the body of the functions is what is guarded and not the outright signature (i.e. move the #if / #endif immediately after and, respectively, immediately before the curly brace). Thanks.

[2018-01-23 21:59] aaronenyeshi commented on #474
Running into this issue trying to reproduce this:
[code]

[2018-01-24 11:47] sriharikarnam commented on #474
@aaronenyeshi  The above error you are facing might be because of not installing openblas. So can you please use the below command to install and recompile.
sudo apt install -y libopenblas-dev liblapack-dev

[2018-01-25 01:28] aaronenyeshi commented on #474
I got it to install correctly.

[2018-01-25 01:36] aaronenyeshi commented on #474
Which versions of rocRAND and blas did you install?

[2018-01-25 10:38] sriharikarnam commented on #474
$sudo apt install -y rocm-device-libs rocm-libs rocm-opencl rocm-opencl-dev rocm-utils.
The above command installs the necessary libraries of rocm to compile.
rocblas v0.10.3.0  and rocrand v1.7.0

[2018-01-25 12:53] sriharikarnam commented on #606
@AlexVlx As suggested by you we have guarded the code between the curl braces, with this change on hcc we were able to compile successfully, whereas on nvcc path below issue is seen, error: cannot overload functions distinguished by return type alone".

**Steps to reproduce**
- $export HIP_PLATFORM=nvcc
- $hipcc -c -o build/src/operator/pooling_gpu.o -std=c++11 -Xcompiler -D_FORCE_INLINES -g -O3 -

[2018-01-25 13:26] AlexVlx commented on #606
@sriharikarnam that is because from CUDA8 onward atomicAdd for doubles is provided by the CUDART itself, see: http://docs.nvidia.com/cuda/cuda-c-programming-guide/index.html#atomicadd. So you need an outer guard for the CUDA version and CUDA arch (see the example above in the same document, which shows precisely atomicAdd for doubles). Fundamentally I think you want to always enable this in HCC (d

[2018-01-25 17:13] aaronenyeshi commented on #474
Which branch of mxnet and thrust are you using? Seems I am getting 50+ errors.

[2018-01-25 17:31] sriharikarnam commented on #474
@aaronenyeshi Steps to compile and reproduce are updated in summary section, having said that please attach the error log, based on that we will prepare a automated script to compile and install all the dependencies.

[2018-01-26 19:14] aaronenyeshi commented on #474
Here is my error log attached
[mxnet_build_log.txt](https://github.com/RadeonOpenCompute/hcc/files/1668893/mxnet_build_log.txt)

[2018-01-27 05:47] sriharikarnam commented on #474
@aaronenyeshi There is a known issue in cub-hip for which we have fixed and raised a PR.
Can you please do the change as per below PR and restart the build.
https://github.com/sriharikarnam/cub-hip/blob/a14afb86133808c94affd03a3921591b71f8435c/hip_helpers/forwarder.hpp

Update this PR in below two files
$mkdir -p build/src/operator/tensor/
$vi cub-hip/hip_helpers/forwarder.hpp
$vi ../Thrust/thrust

[2018-01-29 07:29] sabreshao opened #621 "Global function pointer array doesn't work in GPU kernel"
Linking fails if GPU kernel call function from a global function pointer array.
Error message:
`error: <unknown>:0:0: in function _Z8vadd_hipN8hip_impl17Empty_launch_parmEPKfS2_Pfi void (%"struct.std::less", float*, float*, float*, i32): unsupported indirect call to function <unknown>

Generating AMD GCN kernel failed in llc for target: gfx900
clang-6.0: error: linker command failed with exit code

[2018-01-29 13:39] sriharikarnam commented on #588
@whchung Thanks for your inputs. We have identified a temporary workaround for the issue. Currently no regression is observed,in case of any we will re-open/raise new ticket

[2018-01-29 13:39] #588 closed, assigned to whchung

[2018-01-29 15:28] whchung commented on #621
@sabreshao unfortunately due to current limitation in upstream LLVM AMDGPU backend, this feature is not supported yet.

[2018-01-29 17:57] aaronenyeshi commented on #474
Okay, I've updated the two forwarder.hpp files with the version you linked. I have also create the directory build/src/operator/tensor/. I am still running into errors when I run your execution line.

[mxnet_build_log2.txt](https://github.com/RadeonOpenCompute/hcc/files/1674680/mxnet_build_log2.txt)

[2018-01-30 13:53] sriharikarnam commented on #474
@aaronenyeshi .We are not able to reproduce the error in log attached above(mxnet_build_log2.txt).We are able to compile successfully with guard enabled for __HIP_PLATFORM_NVCC__. But removing the guard in file mshadow/mshadow/./cuda/tensor_gpu-inl.cuh at line number 107 will report the error as call to constructor is ambiguous. Please see the attached logs.
[guard_enabled.txt](https://github.com/

[2018-02-01 02:42] sabreshao commented on #621
@whchung I noticed that there are two issues exposed here:
1. function pointer array cannot work, neither global one nor local one.
2. Global array issue.
Do you mean that AMDGPU backend doesn't support function pointer array?

[2018-02-01 02:44] whchung commented on #621
@sabreshao sorry i wasn't clear. function pointer array is not supported yet. it's not possible to do indirect function calls with the current released version of LLVM AMDGPU backend.

[2018-02-01 16:25] aaronenyeshi commented on #397
The command is wrong. It should be -I../Thrust, not -I../../Thrust

[2018-02-01 17:03] aaronenyeshi commented on #474
I'm not too sure what is wrong. Running a `make -j16` works for me without errors.

[2018-02-01 17:06] aaronenyeshi commented on #474
Do you need to install CUDA 8 as well?

[2018-02-01 17:30] aaronenyeshi commented on #474
Hi @sriharikarnam , it seems that you are running on a public release of HCC. Could you update machines to use latest HCC ToT. Thank you.

[2018-02-01 19:52] aaronenyeshi commented on #474
Hi @sriharikarnam I've been able to fix the issues. I will make a PR into mxnet repo.

[2018-02-01 20:14] aaronenyeshi commented on #474
I've created the PR https://github.com/ROCmSoftwarePlatform/mxnet/pull/3 , it should fix this issue when you use the latest HCC build from source files top of tree.

[2018-02-01 20:14] aaronenyeshi commented on #397
I've created the PR https://github.com/ROCmSoftwarePlatform/mxnet/pull/3 , it should fix this issue when you use the latest HCC build from source files top of tree.

[2018-02-01 20:19] aaronenyeshi commented on #475
Does this issue still happen on ROCm 1.7 ?

[2018-02-01 20:58] aaronenyeshi commented on #386
Could you provide steps to reproduce? Also are you using latest ROCm 1.7 and latest HCC/HIP ToT.

[2018-02-04 14:52] osamaGkhafagy opened #633 "Undefined LIBCXX_HEADER during compilation of hcc"
I'm building the **hiptf** platform from source using the provided documentation. I'm using _debian 8, AMD Radion 8670m gpu_. I got stuck at this instruction **`cd ~ && mkdir -p build.hcc && cd build.hcc && cmake -DCMAKE_BUILD_TYPE=Release ../hcc`** at which the compilation is terminated with the following error:
CMake Error: The following variables are used in this project, but they are set to NO

[2018-02-04 16:31] whchung commented on #633
@osamaGkhafagy your distro and GPU is not currently supported. please help follow steps at: https://github.com/RadeonOpenCompute/ROCm to make sure you have a proper ROCm stack installed. Once installed you don't need to build `hcc` from source.

[2018-02-04 16:31] #633 closed, assigned to nobody

[2018-02-05 12:53] sriharikarnam commented on #609
@whchung  Thanks for your inputs. We have identified a temporary workaround for the issue. We are investigating further on this issue.

 Attached working case log
[max_element_log.txt](https://github.com/RadeonOpenCompute/hcc/files/1695141/max_element_log.txt)

[2018-02-06 12:45] sriharikarnam commented on #386
@aaronenyeshi
With latest HCC/HIP ToT and latest ROCm release this is issue is not seen.Thanks for the support.
Closing this issue

[2018-02-06 12:45] #386 closed, assigned to nobody

[2018-02-07 05:08] cyliang opened #640 "OpenMP 4.x support?"
Hi,

OpenMP 4.x is a convenient programming model for offloading workloads to GPU. According to HCC's wiki:

I'm wondering how the development currently progresses and when it will be available to use it on an HSA APU?

Thanks

[2018-02-07 12:43] sriharikarnam commented on #474
@aaronenyeshi
With latest HCC/HIP ToT and latest ROCm release this is issue is not seen.The pull request given is solves the issue and it is merged.Thanks for the support.
Closing this issue.

[2018-02-07 12:43] #474 closed, assigned to aaronenyeshi

[2018-02-07 12:44] sriharikarnam commented on #397
@aaronenyeshi
With latest HCC/HIP ToT and latest ROCm release, the hipLaunchKernelGGL with variable arguments  issue is solved.The pull request given is solves the issue and it is merged.Thanks for the support.
Closing this issue.

[2018-02-07 12:44] #397 closed, assigned to scchan

[2018-02-14 15:30] #580 closed, assigned to nobody

[2018-02-14 15:48] scchan commented on #547
On RHEL 7.3, we are going to support hcc with developer toolset version 7, which has gcc 7.2, and we are going to use the libstdc++ instead of libc++ as the C++ runtime.  There shouldn't be a need for libcxx anymore.

[2018-02-14 15:48] #547 closed, assigned to nobody

[2018-02-19 21:21] tstellar commented on #545
I've hit this issue on every configuration I've tried on Fedora:
ROCm 1.6 with Bristol Ridge APU
ROCm 1.6 userspace + Upstream 4.14 kernel with Bristol Ridge APU
ROCm 1.6 userspace with Vega10 GPU / Ryzen CPU

I wonder if this is an issue specific to the Fedora kernel.  Do you know if this was validated on Fedora?

I will try Ubuntu on these systems and see if that works.

[2018-02-20 04:17] tstellar commented on #545
I just was able to get this working on Fedora with my Vega10 GPU/ Ryzen CPU system, so I'm going to close this issue

[2018-02-20 04:32] #545 closed, assigned to nobody

[2018-03-05 15:05] JGO95 opened #652 "Cannot run the saxpy example - HSA_STATUS_ERROR (0x1000)"
I installed the latest ROCm version (1.7) that comes with HCC. However, when I was trying to run some of the HIP samples, all of them would crash.

Since the error code mentioned hcc, I downloaded and compiled the saxpy sample mentioned in the documentation of hcc with the following input:

but the program still crashes with the error code below. I also tried to target the Kaveri GPU
( --amdgpu-ta

[2018-03-05 15:28] whchung commented on #652
@JGO95 please build and check if `vector_copy` sample under `/opt/rocm/hsa/sample` works. Unfortunately, based on your configuration I don't think it's possible to execute ROCm properly. To my understanding no version of ROCm exists which allows you dispatch GPU kernels to a dGPU from an Kaveri APU.

[2018-03-05 15:52] #652 closed, assigned to nobody

[2018-03-05 16:14] JGO95 commented on #652
Thank you for your answer. I tried to build and run the vector_copy sample as suggested and got this message:

`Initializing the hsa runtime succeeded.`
`Checking finalizer 1.0 extension support succeeded.`
`Generating function table for finalizer succeeded.`
`Getting a gpu agent failed.`

Even if I can't dispatch GPU kernels to a dGPU from a Kaveri APU, shouldn't I be able to run the saxpy code i

[2018-03-05 16:20] aditya4d commented on #652
ROCm does not work on machines released before Ryzen. The reason is, ROCm requires PCIe atomics which is not present in PCIe Gen 2 (Pre-Ryzen AMD processors are all PCIe Gen 2).

[2018-03-05 16:28] whchung commented on #652
@JGO95 please refer to https://github.com/RadeonOpenCompute/ROCm#supported-cpus for supported CPUs.

[2018-03-13 12:09] yuxianzhi opened #655 "HSA_STATUS_ERROR_OUT_OF_RESOURCES (0x1008) at file:mcwamp_hsa.cpp line:3529"
When I use *hipMemcpy2DAsync* function to do host pinned asychronize memory copy, and this step is looped many times. I encounter a problem on AMD CPU platform, and the GPU is Vega10. I use ROCm 1.7. Is there people encounter same problem?

* code
[code]
* log
[code]
* hcc information
[code]

[2018-03-13 16:02] whchung commented on #655
@yuxianzhi could you kindly share a reduced test case with us? Thanks.

[2018-03-17 18:07] ekondis opened #659 "std::numeric_limits<_T>::infinity() compilation problem"
The following source fails to compile on ROCm v1.7.1:
[code]
with error:
[code]

This issue was first reported for HIP ([Issue-374](https://github.com/ROCm-Developer-Tools/HIP/issues/374))

[2018-03-17 18:38] justxi opened #660 "libmcwamp_hsa.so: undefined symbol: _ZN6Kalmar5CLAMP19LoadInMemoryProgramEPNS_11KalmarQueueE"
Hello,

When I compile and run the example "saxpy.cpp" using Ubuntu 16.04 it works.
I have a AMD Radeon Rx 560.

Now I build hcc following the instructions from Readme.md for Gentoo Linux from source.
"make install" places the files in "/opt/rocm/hcc".

When I compile the example "saxpy.cpp" with
"/opt/rocm/hcc/bin/hcc `/opt/rocm/hcc/bin/hcc-config --cxxflags --ldflags` --amdgpu-target=gfx803 saxp

[2018-03-18 02:48] yuxianzhi commented on #655
With the help of AMD, *HSA_STATUS_ERROR_OUT_OF_RESOURCES* problem can be solved by modify the system limit.
[code]

[2018-03-18 02:52] yuxianzhi commented on #655
But there is another problem to continue my test. Segmentation fault in hcc's function *removeAsyncOp*.@whchung

Here is *core* file information.

[code]

[2018-03-20 10:12] sriharikarnam opened #662 ""Error : No device code available for function" on ROCm 1.7.137(Beta 4) for MXNet HIP Port"
**Background:** Porting Mxnet Deep Learning framework to ROCm Platform

**Issue :** No device code available for function

**Error:**
terminate called after throwing an instance of 'std::runtime_error'
  what():  No device code available for function: _ZN7mshadow4cuda13MapPlanKernelINS_2sv6savetoELi8ENS_4expr4PlanINS_6TensorINS_3gpuELi1EfEEfEENS5_INS4_9ScalarExpIfEEfEEEEvT1_jNS_5ShapeILi2EEET2_
Ab

[2018-03-20 14:04] yuxianzhi commented on #655
These problems has been solved.
[code]
@whchung

[2018-03-20 14:04] #655 closed, assigned to nobody

[2018-03-21 18:27] justxi commented on #660
After compiling with:
"hcc `hcc-config --cxxflags --ldflags` -amdgpu-target=gfx803 saxpy.cpp -o saxpy -lm"
This problem is gone.

[2018-03-21 18:27] #660 closed, assigned to nobody

[2018-03-21 18:33] justxi opened #663 "ROCm agent detector failed to execute correctly..."
Hello,

when I compile the example saxpy, I get:
clang-7.0: warning: ROCm agent detector failed to execute correctly; using default -amdgpu-target instead [-Wfallback]
objdump: /usr/lib64/libm.a: File format not recognized
'auto' is not a recognized processor for this target (ignoring processor)
'auto' is not a recognized processor for this target (ignoring processor)
'auto' is not a recognized pr

[2018-03-21 20:57] whchung commented on #663
@justxi the tool is installed under `/opt/rocm/bin/rocm_agent_enumerator`. It's a python script which calls and parses output from another program `/opt/rocm/bin/rocminfo`. RX560 is not generally a target we consider for GPGPU computing so we could have some issue here.

Could you help run these two programs and share the outputs?

You can also check the source codes of those programs at:
https://

[2018-03-22 15:39] justxi commented on #663
Thanks thats it. I build "HCC" from source for Gentoo Linux, so I was missing "rocminfo" and "rocm_agent_enumerator". Now the error is gone.

[2018-03-22 15:40] justxi commented on #663
Output of "rocminfo":
=====================
HSA System Attributes
=====================
Runtime Version:         1.1
System Timestamp Freq.:  1000.000000MHz
Sig. Max Wait Duration:  18446744073709551615 (number of timestamp)
Machine Model:           LARGE
System Endianness:       LITTLE

==========
HSA Agents
==========
*******
Agent 1
*******
  Name:                    AMD Ryzen 7 1800X Eight-Cor

[2018-03-22 15:46] justxi commented on #663
The "rocm_agent_enumerator" is only running with Python 2.
With Python 3, there are two errors with "print" and after adding "( )" to fix this,  the output is only "gfx000".

You said that "RX560" it not a general target... What are the general targets?

While compiling "saxpy" there is the following output:
 objdump: /usr/lib64/libm.a: File format not recognized

Is "libm.a" needed?

What is the

[2018-03-22 16:16] whchung commented on #663
@justxi since you are building everything from source on an unsupported distro, Gentoo, all bets are off. I'll need your help to tune the tools to make them behave properly on Gentoo.

The expected output from `rocm_agent_enumerator` is:

[code]

So the output you got running `rocm_agent_enumerator` on Python2 is correct. Please help submit a PR to fix it for Python 3 and either me @whchung or @je

[2018-03-22 19:13] justxi commented on #663
@whchung I will do what I can, to get it working on Gentoo. I uploaded my current results to https://bugs.gentoo.org/650804.

I bought a RX560 to test the ROC stuff (used on FX 8350 before) and added a Ryzen 7 because of PCIe Atomics... RX Vega is currently out of my scope... So nice to see that the effort is not for nothing.

Regarding rocminfo I will create an PR.

[2018-03-22 21:44] whchung commented on #662
@scchan / @aaronenyeshi wondering if you could lend a hand here

[2018-03-24 20:55] #663 closed, assigned to nobody

[2018-03-25 14:47] justxi opened #665 "Building HCC from source files"
Hi,

there is a HCC 1.7.0 file release. For "llvm", "lld" and "ROCm-Device-Libs" there are also file releases for version 1.7.0.

For "hcc-clang-upgrade" and  "compiler-rt" the latest version number is 1.6.0. And for "clang-tools-extra" there is no numbered file release.

So which files should be used from "hcc-cland-upgrade", "compiler-rt" and "clang-tools-extra" to build HCC 1.7.0 based on file

[2018-03-26 14:05] whchung commented on #665
We use git submodules ( https://git-scm.com/docs/git-submodule ). Just check out `hcc` with `recursive` get you all required submodules.

[code]

[2018-03-26 14:05] #665 closed, assigned to nobody

[2018-03-28 10:29] NEELMCW commented on #662
Same issue we experience  with hipCNTK as well

[2018-03-28 10:40] NEELMCW opened #668 "Passing user defined half datatype as hipLaunchParm to a templated kernel causing AMD GCN kernel failure"
Hello team,

Below is my standalone test code . Upon compilation with hipcc hit the following error

errorlog:
1 warning generated.
Instruction does not dominate all uses!
  %20 = extractvalue { i1, i64 } %18, 1
  call void @llvm.amdgcn.end.cf(i64 %20)
LLVM ERROR: Broken function found, compilation aborted!
Generating AMD GCN kernel failed in llc for target: gfx803
clang-6.0: error: linker command

[2018-03-28 19:54] scchan commented on #668
I was able to reproduce it and it looks like to be an issue in the GCN backend.  I've opened an internal ticket to track this.

[2018-03-30 09:11] NEELMCW commented on #668
I tried passing half with the basic square hip example . I was able to build it but hit a runtime hang.
HIP_TRACE_API=1 does confirm that the kernel has launched successfully. That hang is experienced after call to hipMemcpy of device results back to host .

PFA the files .. Below is the log that I get after seeing HIP_TRACE_API for these files

[half.hpp.txt](https://github.com/RadeonOpenCompute/

[2018-04-06 02:56] scchan commented on #662
@NEELMCW you encountered the same error in hipCNTK because it launches the same kernel?

[2018-04-06 08:26] NEELMCW commented on #662
Nope its on a different set of kernel. CNTK today supports float, double and half types. When we attempted to build with all datatypes on ROCM we hit upon this issue. Currently we have disabled half and proceeded further to evaluate for float and double.

[2018-04-10 13:15] sriharikarnam commented on #662
@scchan
HCC team suspects this issue to be because of "Symbol Multiply defined!" errors(C++ ODR) which were getting ignored by HCC linker script and subsequently kernel code not being generated in libmxnet.so.
We have fixed those errors in MXNet and cub-hip but we encounter below errors.
[Detailed log(log.txt.zip) is attached]

note: !srcloc = 18284130
<inline asm>:1:2: error: unknown directive

[2018-04-11 03:24] scchan commented on #662
@sriharikarnam
The error is caused by code containing inline asm statements with PTX instructions (e.g. shfl.up) because AMD GPUs don't support them.  You probably have to replace them with the __shfl builtin implemented in HIP.

[2018-04-12 16:25] sriharikarnam commented on #662
@scchan
Thanks for your inputs. We are able to launch device kernels and successfully validate some of the MXNet training tests. We will continue testing all the available MXNet tests to check for any corner case issues.
**Issue:** HCC's linker script did not catch the "symbol multiply defined!" errors, leading to no GPU kernels in compiled libmxnet.so
**Resolution:**  Fixed C++ ODR and other port

[2018-04-16 22:02] jlgreathouse opened #693 "ds_read_b32 2nd VGPR Incorrect in Inline Assembly"
I have a small test application (a modified version the 'square' HIP example) that attempts to use shared memory from inline assembly. This is a reproducer showing the same problem as reported by a customer whose code I can't give out.

The kernel attempts to insert a `ds_read_b32` assembly instruction using an inline assembly statement:
```__asm__ volatile("ds_read_b32 %0 %1\ns_waitcnt lgkmcnt(0)

[2018-04-17 21:06] scchan commented on #693
The issue is that the `ds_read_b32` instruction takes an 32-bit offset from the beginning of the DS section rather than an actual pointer (e.g. `&localMem[i]`), which is always 64-bit generic pointer in hcc.

A possible workaround would be to call a builtin function defined in our device library to convert a generic pointer into an equivalent of an OpenCL pointer to local memory.

First define the

[2018-04-18 02:57] sriharikarnam commented on #662
This issue is fixed and able to exercise device kernels on ROCm 1.7 Beta4 codebase. we have checked-in changes to CUB-HIP branch (https://github.com/ROCmSoftwarePlatform/cub-hip/tree/cubhip_mxnet)

[2018-04-18 02:57] #662 closed, assigned to scchan

[2018-04-25 16:34] sunway513 commented on #659
Hi @ekondis , please refer to the updated comments from @AlexVlx in the original [HIP issue](https://github.com/ROCm-Developer-Tools/HIP/issues/374). Essentially the usage is not officially supported in hip/hcc.
Could you fix it in your code base?

[2018-04-25 16:34] #659 closed, assigned to nobody

[2018-05-02 16:40] Jorghi12 opened #704 "Issue generating kernel"
LLVM ERROR: Cannot select: 0x43df9d8: v2i16 = SMAX3 0x4468f20, 0x44ec5d0, 0x448d4c8
  0x4468f20: v2i16 = SMAX3 0x44841d0, 0x43dfb10, 0x45fe528
    0x44841d0: v2i16 = SMAX3 0x4463470, 0x4467a60, 0x4465700
      0x4463470: v2i16 = smax 0x447ee40, 0x428cbf0
        0x447ee40: v2i16,ch = CopyFromReg 0x42bdc40, Register:v2i16 %57
          0x4471360: v2i16 = Register %57
        0x428cbf0: v2i16,ch = C

[2018-05-02 16:49] whchung commented on #704
@Jorghi12 please help provide steps to reproduce, or supply a reduced test case.

[2018-05-02 17:58] zgu153522 opened #705 "LDS barrier synchronization problem"
I discovered that for some reason it seems like wait_with_tile_static_memory_fence doesn't seem to apply to the whole tile.  I'm attaching the smallest kernel that I can reproduce the issue in.  I have a Radeon Instinct MI25 on an Epyc 7551P.  This kernel initializes some LDS memory to 0, then barrier, then sets the LDS memory to -1 *using a different ordering of work-items*, then barrier, and the

[2018-05-02 20:05] Jorghi12 commented on #704
https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCNumerics.cuh#L82
https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCTensorMathReduce.cuh#L114
https://github.com/pytorch/pytorch/blob/master/aten/src/THC/THCReduceAll.cuh#L40

This is the instruction that's being ran leading to the SMAX3 usage.
"a > b ? a : b"

[2018-05-02 20:08] whchung commented on #704
@Jorghi12 folks working on `hcc` project may not know how to build your project. To help easily reproduce the issue you are seeing please help provide fool-proof steps to build your application.

Also from the log it could be an issue in the compiler backend, if you could provide LLVM IR dump with env var `KMDUMPLLVM=1` when you *link* the program that could be very helpful.

[2018-05-03 16:11] zgu153522 opened #707 "mov_dpp combining with other instructions is not working"
Based on the GPUOpen blog article, HCC should do this:
Additionally, DPP is exposed as a special move instruction. The compiler will combine the DPP move with the subsequent instructions, if possible:

But it doesn't seem to be doing that.  I can force it with inline assembly, but there's no guarantee that HCC will put in the correct nops to avoid data hazards, and if I also inline the nops, most

[2018-05-04 10:25] jszuppe opened #714 "Compilation time architecture (ISA) differentiation"
I would like to change some complication-time variables (template parameters) based on AMD target architecture passed to `hcc`. This is for performance reasons (each architecture has different sweet spot). Is there any way to get information about architecture (ISA) during compilation (of device functions)?

[2018-05-04 11:17] ex-rzr opened #715 "Missing wait-states before DPP instructions (v_mov_dpp)"
We are developing dpp-based reduction and scan for https://github.com/ROCmSoftwarePlatform/rocPRIM and some test cases are failing (all of them work with permute-based reduction and scan).

DPP instructions require 2 wait states after instructions that write into VGPRs read by the DPP:
http://developer.amd.com/wordpress/media/2017/08/Vega_Shader_ISA_28July2017.pdf ("4.5. Manually Inserted Wait Sta

[2018-05-04 11:45] ex-rzr commented on #707
I suppose there are two situation:
1) when you write asm code you can skip default values (0xf) for row_mask and bank_mask
2) but disasm always shows values for row_mask and bank_mask (including default)

Instructions are the same with manually passed 0xf and without *_mask at all (i.e. with default 0xf) as row_mask and bank_mask are always encoded in DPP instructions (I mean this doesn't make ins

[2018-05-04 13:31] jszuppe opened #716 "HIP's __shfl can produce incorrect ISA/results"
We don't know why, but sometimes HIP's shuffle functions can produce incorrect results. We assume that incorrect ISA is produced. If we replace those `__shfl*` functions with HCC's  `hc::__shfl*`, everything works correctly.

We were not able to produce a minimal test case, but if you remove ` || defined(__HIP_PLATFORM_HCC__)` in [rocprim/include/rocprim/intrinsics/warp_shuffle.hpp](https://github

[2018-05-07 18:06] zgu153522 commented on #705
Just wanted to make sure somebody is looking at this?  I'm not really sure if it is a problem with HCC or something lower level.

[2018-05-07 22:57] scchan commented on #705
I was able to reproduce the problem with a simpler test case.  It looks like the load from tile_static gets the wrong value for some reason.  There isn't anything that really stands out in the ISA so I'm still investigating.

[2018-05-08 19:34] scchan commented on #714
We currently don't support this due to a limitation in hcc on how we support multiple architecture in a single binary file.  Our frontend currently only parses the source code once for all architectures and then the resulting LLVM IR would be reused to generate ISA for all GPU architectures.

We are planning on changing this such that the source would be parsed once per architecture and that there

[2018-05-08 20:13] b-sumner commented on #715
Would you be able to provide (or point to) some minimal examples that we can feed through the compiler to reproduce the problem?

[2018-05-08 20:51] jszuppe commented on #714
Thanks. We will try to incorporate some workaround(s) as you suggested.

[2018-05-09 03:01] zgu153522 commented on #707
I tried to inline this but I get:
[code]
Seems it doesn't like the DPP modifiers?

[2018-05-09 03:28] ex-rzr commented on #707
I would also try with `_dpp` suffix: `v_*_dpp`

[2018-05-09 03:37] zgu153522 commented on #707
Turns out to give more problems:
[code]

[2018-05-09 06:09] zgu153522 commented on #707
Fixed the inlining issue - I had e32 which I didn't realize was a suffix as well.  After replacing e32 with dpp it was working.  Closing this out because it's an enhancement and not an issue (although the GPUopen blog mentions the instruction combining feature).

[2018-05-09 06:09] #707 closed, assigned to nobody

[2018-05-09 06:22] NEELMCW commented on #668
@scchan  any updates on this ?

[2018-05-09 14:51] scchan commented on #668
We've posted a fix and it's being reviewed: https://reviews.llvm.org/D46340

[2018-05-09 16:10] zgu153522 opened #723 "flat_atomic doesn't distinguish memory regions when generating ISA"
When using atomic operations into LDS memory, such as:
[code]
HCC seems to generate a bunch of unnecessary ISA instructions, that seem to mostly be designed for atomic accesses into global memory.  I get:
[code]
I do this operation inside a loop and do not perform readback until after the end of the loop, so I believe the correct ISA should just be flat_atomic_or, and after the end of the loop do

[2018-05-10 16:29] Jorghi12 opened #725 "Keywords needed to help parser."
I generally need to add the keyword "template" around various pieces of code.

RegisterUtils<T, Width>::shiftLeft<Stride>(in); ---> RegisterUtils<T, Width>::**template** shiftLeft<Stride>(in);

In this scenario, if I don't add that keyword, then I receive the error "error: reference to overloaded function could not be resolved; did you mean to call it?"

I usually run into similar issues when usin

[2018-05-11 11:43] ex-rzr commented on #715
@b-sumner

Here is a minimized test based on our real code: https://gist.github.com/ex-rzr/fbd364d79b6a84a7f1abc624f12343c8

[code]

It seems that the bug appears only in certain conditions, that's why there are all these weird shared memory and sync operations. Sometimes the ISA is correct when I change the code even slightly. For example, it works with `ItemsPerThread = 4`.

It may be a coincide

[2018-05-11 14:58] b-sumner commented on #715
@ex-rzr thanks for the example and the discussion about it.  We'll take a look.

BTW,  I see the code is setting old=0 and bount_ctrl = false.  You can get the same effect and potentially better code by setting bound_ctrl = true (and old to anything including input).

[2018-05-11 16:35] ex-rzr commented on #715
True, this feature can be useful for scan on primitive types with functions like sum, min, max, and, or. And here (reduction) using input as `old` may potentially save one `v_mov` (this needs checking), because we don't care about values except the last of the "warp", i.e. `WarpSize - 1`.

However we have only generic implementations of scan and reduce for any arbitrary scan/reduction operations f

[2018-05-13 08:15] justxi opened #730 "Intrinsic name not mangled correctly for type arguments!"
I currently try to build the "roc-1.8.x" branch of hcc, but I get the following error:

[ 90%] Building OCL object rocdl/opencl/CMakeFiles/opencl_lib.dir/src/integer/add_sat.cl
cd /var/tmp/portage/sys-devel/hcc-1.8.9999/work/hcc-1.8.9999_build/rocdl/opencl && /var/tmp/portage/sys-devel/hcc-1.8.9999/work/hcc-1.8.9999_build/compiler/./bin/clang -I/var/tmp/portage/sys-devel/hcc-1.8.9999/work/hcc-1.8.

[2018-05-13 08:39] justxi commented on #730
The "ROCm-OpenCL-Runtime" (roc-1.8.x) seems to be affected by the same problem.

[2018-05-16 16:44] scchan commented on #730
I wasn't able to reproduce this with hcc 1.7, 1.8 or the tip of our development branch.  Which distro do you have?  Have you tried cleaning up your build directory and try again?

[2018-05-17 08:45] smartbitcoin commented on #705
@zgu153522    in your ldsbug.cpp,   if you use tile size =1024 instead of 1000,   you won't see this issue.
gcn use SIMD is 16 lane,  tile size should be 16x

[2018-05-17 15:26] scchan commented on #705
I've simplified this test case such that each workitem write and read from their own slot of lds memory (therefore no barrier is needed)  and this bug is still observable.  Changing to 1024 makes it work but 1000 is a valid size so it should work.  I suspect it may have to do with the address computation or alignment

[2018-05-17 16:11] zgu153522 commented on #705
Just want to check and confirm what @smartbitcoin and @scchan are saying - if I *allocate* LDS as a multiple of 16 DWORDs (e.g. multiple of 64 bytes), but simply do not bother accessing the 'extra' amount, then this will work?  My tile size in terms of work items is already a multiple of wavefronts (1024) - it was just the LDS allocation and access that wasn't.

EDIT: this isn't working - it doesn

[2018-05-21 08:31] justxi commented on #730
Hi,
I use Gentoo Linux with self written ebuild (install script). I will checkout with git manually and try to compile it.

[2018-05-23 21:46] jithunnair-amd opened #739 "AtomicAdd bug with double with gridDim.x > 1"
The attached kernel does a reduction sum over all the threads of a block and uses atomicAdd to reduce across blocks. Please note that the code uses functions from the Thrust and THC library in PyTorch.

If gridDim.x = 1:
It gives the correct result for both float and double: 0.0128

If gridDim.x = 2:
It gives the correct result for float: 0.0256
It gives INCORRECT result for double: 45785323194105

[2018-05-24 00:27] jithunnair-amd commented on #739
This is actually a HIP bug which has been filed with a simpler testcase here: https://github.com/ROCm-Developer-Tools/HIP/issues/436
The issue is specifically with using the conversion functions for double. It seems this bug is present even in the current ROCm 1.8. The temporary workaround (as mentioned in the HIP bug description) is to use reinterpret_cast.
Closing this issue since it's a duplica

[2018-05-24 00:27] #739 closed, assigned to nobody

[2018-05-24 18:04] aaronenyeshi commented on #716
Hi @jszuppe I am running into an issue building rocPRIM:
[code]

[2018-05-24 19:12] aaronenyeshi commented on #716
Okay I was able to fix this with rocm-cmake installation suggested by SiuChi

[2018-05-24 20:00] aaronenyeshi commented on #716
I've observed that using __shlf* functions will fail many of the rocPRIM tests compared to hc:__shlf*. I'll look into this issue

[2018-05-24 22:21] aaronenyeshi commented on #716
I've noticed that the LLVM IR generated in the two cases are different, but it seems that HIP only has wrappers for which uses hc::__shfl : https://github.com/ROCm-Developer-Tools/HIP/blob/master/src/device_util.cpp#L905

[2018-05-25 07:16] jszuppe commented on #716
Indeed, we've seen that too. The difference is that in HIP `__shfl` comes from a library we link against, and in HC `hc::__shfl` is in a header.

[2018-05-25 19:09] aaronenyeshi commented on #716
Hi @jszuppe. Seems that there is come issue with HIP when linking to the library. Moving the HIP's __shfl* functions into the header inlined will fix this issue. Please see: https://github.com/ROCm-Developer-Tools/HIP/pull/470

[2018-05-26 08:35] perestoronin commented on #730
fixed with:

[code]

[2018-05-26 10:11] perestoronin commented on #730
But clinfo hangs with more two Vega10 cards in Ryzen system

[2018-05-27 18:30] justxi commented on #730
@perestoronin

Interestingly if I checkout the code with "git clone --recursive -b roc-1.8.x https://github.com/RadeonOpenCompute/hcc.git" and build it, it works and the same lines which you have replaced are in the header file "irif.h".

But I thought that the git-r3 package should do the same as the "git" command...

[2018-06-12 17:10] lukeiwanski opened #754 "LLVM ERROR: Cannot select: intrinsic %llvm.amdgcn.ds.bpermute"
Hello,

First of all, thanks for the effort!

I run into the following linking error when trying out Eigen hip (https://github.com/ROCmSoftwarePlatform/eigen-upstream/pull/1).

[code]
cmake used for Eigen is

[code]

My AMD GPU setup seems to be working (`clinfo` and `rocminfo` are reporting correct hardware) and the `HelloWorld` example from https://rocm.github.io/install.html returns values.

Do

[2018-06-12 19:09] jithunnair-amd opened #755 "Linker error for Reduce kernel with "short" type"
Hipcc gives a clang linker error when linking the attached test case for a Reduce kernel. Please note that the failure only occurs for "short" type, whereas "int32_t" etc. work fine (you can uncomment the relevant parts of the test case and change the "#define TYPE" to "int32_t" instead of "short" to test it out). Let me know if you need a more reduced testcase.

[super_simple_reducemax_kernel.cu.

[2018-06-12 19:10] whchung commented on #755
@jithunnair-amd could also provide error log you are seeing with "short" type?

[2018-06-12 19:14] jithunnair-amd commented on #755
Commands I used to reproduce the linker error:
hipcc -o super_simple_reducemax_kernel.o -c super_simple_reducemax_kernel.cu
hipcc super_simple_reducemax_kernel.o

Linker error:
[code]

[2018-06-12 19:17] whchung commented on #755
@acmeman925 From the look of it, it could be an issue in LC backend. Could you help assign someone familiar with the backend to look at it? Thanks!

[2018-06-12 20:27] whchung commented on #754
@lukeiwanski From the log it seems you are using a rather old AMD GPU, which is not officially support in ROCm project now:
[code]
If I understand correctly bpermute intrinsic is not available on that particular instruction set. The earliest hardware supporting the intrinsic would be Fiji (gfx803).

[2018-06-13 10:42] lukeiwanski commented on #754
@whchung thanks for the explanation.

Is there a way to specify the compilation target?

EDIT:
I found this flag
`-amdgpu-target=<value>  Specify AMDGPU ISA version (ex: gfx803). Could be specified only once.`

However it seems like  `hcc` adds the existing hardware to the target array. See verbose log:  https://gist.github.com/lukeiwanski/e9283125bf7a26ef122b67b6c6a84acc

Is there a way to compil

[2018-06-13 15:14] aaronenyeshi commented on #754
@lukeiwanski https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/lib/clamp-link.in#L41 There are 3 ways to specify the compilation target from what I know. So for your case, you'd probably want to set HCC_AMDGPU_TARGET env var to override.

[2018-06-13 15:20] lukeiwanski commented on #754
Fantastic! Thanks guys!

[2018-06-13 15:20] #754 closed, assigned to nobody

[2018-06-14 18:06] Jorghi12 opened #756 "Compiling with HCC/HIPCC results in empty .kernel section."
I'm currently compiling kernels using HIPCC and notice that the kernel section is empty. Essentially, this command returns an empty file named kernel_section.bc.

`objcopy -O binary -j .kernel ./build/caffe2/CMakeFiles/caffe2_hip.dir/__/aten/src/THC/caffe2_hip_generated_THCTensorMathPairwise.cu.o kernel_section.bc
`
Thus, it appears that there are issues during the compilation stage with HIPCC. An

[2018-06-14 20:01] whchung commented on #756
Per discussion this is not a compiler issue but an configuration issue.

[2018-06-14 20:01] #756 closed, assigned to nobody

[2018-06-15 17:30] Jorghi12 opened #757 "HCC should exit with error when Linking error occurs."
When linking with HCC, on the error "symbol multiply defined", the shared library is still produced but with zero device code. Better practice is to exit gracefully before this happens.

Another question, why aren't (ret=$?) values provided for every single branch in the if block [here](https://github.com/RadeonOpenCompute/hcc/blob/master/lib/clamp-link.in#L610)? I'm pretty sure the GNU linker ld

[2018-06-15 19:12] Jorghi12 opened #758 "Generating AMD GCN kernel failed in llc for target: gfx900"
Hello,

I particular kernel appears to be having issues in its conversion to assembly. I've attached the corresponding bitcode for the kernel. I've added the extension .txt since Github doesn't support .bc file extensions for uploads.

[caffe2_hip_generated_TensorCompare.cu.kernel.bc-gfx900.isabin.opt.bc.txt](https://github.com/RadeonOpenCompute/hcc/files/2107234/caffe2_hip_generated_TensorCompare

[2018-06-15 19:23] whchung commented on #758
duplicate of https://github.com/ROCm-Developer-Tools/HIP/issues/485

[2018-06-15 19:23] #758 closed, assigned to acmeman925

[2018-06-15 19:25] Jorghi12 commented on #758
Yeah. Different kernels but they appear to be using the same LLVM OP (llvm::SITargetLowering::isMemOpHasNoClobberedMemOperand(llvm::SDNode const*) const).

Going to close this.

[2018-06-16 00:16] zgu153522 commented on #723
Closing since it's not really a 'bug', and more just has to do with optimization.

[2018-06-16 00:16] #723 closed, assigned to nobody

[2018-06-17 04:15] zgu153522 commented on #705
I checked through the generated ISA and am pretty sure I found a problem.  I am masking the store back to HBM using an if statement (e.g. only the first N idx.local store from LDS into HBM in order to not run over the LDS) but the compiler is not generating any exec mask for that.  So in my own user application I have 16 waves in the tile and need to store 2000 values to HBM using store, and then

[2018-06-19 13:35] justxi commented on #730
It seems that the original problem is related to the checkout of the submodules. I changed the ebuild to use the proposed build steps and now it works. Due to the fact that the problems are not related to rocm/hcc I close this.

[2018-06-19 13:35] #730 closed, assigned to nobody

[2018-06-20 18:26] zgu153522 commented on #705
I fixed this issue by manually inserting some ISA around the second store:
asm volatile("v_cmpx_gt_u32 vcc, 976, %0" : : "v"(idx.local[0]));
store instruction
asm volatile("s_not_b64 exec, 0" : : );

[2018-06-20 18:41] scchan commented on #705
We've identified the problem that caused the problem in the ldsbug test case.  The compiler backend by default generates code to support kernel with a group size of 256 and it is aggressively optimizing code based on this information.  OpenCL has an attribute "reqd_work_group_size" to instruct the compiler to generate the correct code for a group size greater than the default size.  hcc has a simi

[2018-06-20 19:15] zgu153522 commented on #705
Works, thank you!

[2018-06-20 19:15] #705 closed, assigned to scchan

[2018-06-21 15:08] Jorghi12 opened #763 "N/A"
N/A

[2018-06-21 15:38] #763 closed, assigned to nobody

[2018-06-22 10:14] AlexVlx commented on #755
This is fixed in an upcoming release (probably not from the 1.8.x branch though).

[2018-06-25 16:51] Jorghi12 opened #768 "Generating AMD GCN kernel failed in llc for target: gfx900"
Any ideas on how to resolve this error?

[code]

[2018-06-25 16:53] whchung commented on #768
@Jorghi12 This is an gap identified in LLVM AMDGPU backend after recent changes in HIP. A fix has been proposed to upstream LLVM https://reviews.llvm.org/rL335325 but it needs further validation so end applications can be properly built.

[2018-06-25 18:02] Jorghi12 opened #769 "Note) Instructions for building HCC roc1.8.x requires C++ Headers."
**Reproduce:**
[code]

The dependencies listed in [here](https://github.com/RadeonOpenCompute/hcc/wiki#building-hcc-from-source) should be updated in the WIKI page here to download the necessary c++ headers (sudo apt-get install libc++-dev ).

[2018-06-25 18:17] #769 closed, assigned to nobody

[2018-06-25 18:20] AlexVlx commented on #768
Actually this has been merged but we need to put it into a release.

[2018-06-27 14:34] scchan commented on #693
feature request for HIP therefore closing this issue

[2018-06-27 14:34] #693 closed, assigned to nobody

[2018-06-27 14:38] scchan commented on #668
@NEELMCW The latest hcc already has the fix, have you got a chance to verify it?

[2018-06-27 14:41] scchan commented on #704
@Jorghi12 We don't have instructions to reproduce this problem, please re-open if the problem still exists with the latest hcc and provide a test.

[2018-06-27 14:41] #704 closed, assigned to nobody

[2018-06-27 19:17] aaronenyeshi commented on #716
For this issue, please follow: https://github.com/ROCm-Developer-Tools/HIP/pull/515 . Shfl will be added to HIP headers soon.

[2018-06-28 11:55] NEELMCW commented on #668
Hello SiuChi,

Yes , I was able to build kernels with half parameters now . But many of
them in our CNTK port hangs indefinitely. HIP_TRACE_API shows hipFree to be
last call which hasn't returned a success code

On Wed, Jun 27, 2018 at 8:08 PM, Siu Chi Chan <notifications@github.com>
wrote:

[2018-06-28 21:51] Jorghi12 commented on #768
@AlexVlx By release branch you mean, the next ROC-1.8.x branch?

[2018-07-02 15:05] Jorghi12 opened #780 "HCC issue creating kernel. Assigns R_X86_64_GOTPCREL symbol type."
Hi! When using HCC to build my device code, all of my kernels work except for one in particular.

When I use objdump to view the symbol information, I see this:
`000000000014728 R_X86_64_GOTPCREL  _ZN2at4cuda21kernelPointwiseApply3IZNS_6native31hardshrink_backward_cuda_kernelIdEEvRNS_6TensorEPT_RKS4_S9_EUlRdSA_SA_E_dddjLi1ELi1ELi1EEEvNS0_6detail10TensorInfoIT0_T3_EENSD_IT1_SF_EENSD_IT2_SF_EESF_S6_

[2018-07-04 18:09] PhilipDeegan opened #784 "segfaults building clang 7 on ubuntu 16.04"
Hi sorry to put this here but the clang/llvm repos are mirrors and can't host issues.

I installed Ubuntu 16.04 the other day and can not seem to finish building Clang7/LLVM tools

Is this something any one has come across

My scripts is [here](https://github.com/Dekken/scripts/blob/master/hcc.sh)

[2018-07-04 18:50] PhilipDeegan commented on #784
[gist log](https://gist.github.com/Dekken/42b617ba587e580c546484323adc6c8b)

[2018-07-04 20:06] scchan commented on #780
Could you say more about how/why that kernel doesn't work and provide a repro test case please?

[2018-07-04 20:15] scchan commented on #784
No, it works fine on my machine and on our build machines.  Would it be possible that it runs out of memory, perhaps try building with less threads?

[2018-07-04 20:20] PhilipDeegan commented on #784
How many threads have you tried, and how much RAM do you have?

I tried 4/5 threads, I have 32GB DDR4 and 20GB SWAP

[2018-07-04 20:21] PhilipDeegan commented on #784
This same script has worked on Debian 9 for quite some time, but I had to use 4 threads even with 32GB of RAM

[2018-07-04 20:54] PhilipDeegan commented on #784
Do you have a "build everything" script I could test to confirm it's not a local issue?

[2018-07-04 22:13] PhilipDeegan commented on #784
Just checked  on debian 9 install where this used to work

could be an upstream issue

[code]

[2018-07-05 15:24] PhilipDeegan commented on #784
Strange on one machine I'm hitting OOM - on another it seg faults

changing the CMAKE_BUILD_TYPE for LLVM/LLD/CLANG to Release rather than debug seems to have resolved this.

[2018-07-05 15:24] #784 closed, assigned to nobody

[2018-07-05 17:03] iotamudelta opened #785 "hcc in ROCm 1.8.2RC3 uses huge amount of memory to compile file"
For full reproduction: Checkout [pytorch](https://github.com/ROCmSoftwarePlatform/pytorch), run `python3 tools/amd_build/build_pytorch_amd.py` and build pytorch.

Compile only file that is problematic (on ubuntu 18.04 and w/ my own paths):
[code]

Observed behavior: takes more than 10GB memory to compile.

[2018-07-05 17:10] whchung commented on #785
@iotamudelta

it seems simply following the build command doesn't work even after modify path.

[code]

should `python3 tools/amd_build/build_pytorch_amd.py` be executed prior?

here's what I see:

[code]

[2018-07-05 17:11] whchung commented on #785
since `pytorch` has even more dependencies, perhaps it'd be a good idea to publish one docker container so the issue can be reproduced more easily?

[2018-07-05 17:23] iotamudelta commented on #785
As you know Michael is working on a docker. Let's wait till that is there.

In general, it is hard to come up w/ a single command out-of-order without compiling in-order once, but after that single command works to reproduce. E.g., the `THGeneral.h` is created in `build/caffe2`.

[2018-07-05 17:29] jeffdaily commented on #785
I believe to solve the `ImportError: No module named enum` you need to `pip install enum34`.

[2018-07-05 17:34] whchung commented on #785
I actually installed `enum34` with `pip` and `pip3`, still seeing the error though. Since the issue is annoying but not blocking, I'll wait for a docker container for now.

[2018-07-06 09:03] PhilipDeegan opened #786 "Two stage compile / link fails"
[code]

[2018-07-09 00:47] Jorghi12 commented on #785
**Docker Image:**
@whchung **[docker image here](https://hub.docker.com/r/jorgdoku123/pytorch_rocm/)**. Simply run **python setup.py install**.

The excessive memory usage is due to the temporary storage of the bitcode for the kernels inside the /tmp folder [hc-kernel-assemble](https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/lib/hc-kernel-assemble.in).

[2018-07-09 01:58] Jorghi12 commented on #786
Are you running this HCC saxpy [example](https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/tests/Unit/HC/saxpy_array.cpp)?

I just ran the script successfully with 0 errors:
[code]

The issue may be your system's environment (ROCm / HCC installation / Driver etc.)

What does rocm-smi output for you?

[2018-07-09 08:33] PhilipDeegan commented on #786
Can you try this - this doesn't work for me - it links but fails @ runtime

[code]

but this does
[code]

[2018-07-09 08:45] PhilipDeegan commented on #786
Seems to work now - not sure what changed - thanks!

[2018-07-09 08:45] #786 closed, assigned to nobody

[2018-07-09 09:59] PhilipDeegan commented on #786
It turns out my compile step was using ccache, which seems to break things

[2018-07-09 19:48] Jorghi12 commented on #768
@AlexVlx Any updates on this?

[2018-07-09 21:39] Jorghi12 opened #790 "Issue with symbol requiring -fPIC when Linking with HCC."
The error message says I should recompile with "-fPIC". What exactly am I supposed to recompile?

The symbol **hiprng_uniform** is defined in the hcRNG package, which is already built with -fPIC based off the CMAKE_CXX_FLAGS: https://github.com/ROCmSoftwarePlatform/hcRNG/blob/master/build.sh#L180.

Also, -fPIC is always being passed to the hcc compiler when producing the object files that contain

[2018-07-10 15:41] searlmc1 commented on #715
From an earlier comment: "It may be a coincidence but I've never seen this issue for other dpp, only for the first one."

It does not look like coincidence per se. I've included some IR snippets, but what I see when looking at the IR for dpp_bug.cpp is that:
- for all but the first dpp, post-ra scheduler generates 2 S_NOPs to satisfy the 2 wait state requirement
- for the first dpp, post-ra schedu

[2018-07-11 03:02] wormwang opened #792 "linker error on ARM Ubuntu 16.04"
I try building HCC on  ARM64 Ubuntu 16.04
I had patched /include/hsa/hsa.h as https://github.com/RadeonOpenCompute/hcc/issues/465
I encoutner such error

cmake -DCMAKE_BUILD_TYPE=Release -DHSA_LIBRARY=/opt/hsa-rocr-dev/lib -DHSA_HEADER=/opt/hsa-rocr-dev/include  -DLLVM_TARGETS_TO_BUILD="AMDGPU;AArch64"  ..
make

[ 98%] Linking CXX shared library ../libhc_am.so
HCC clang version 7.0.0 (https://gith

[2018-07-12 03:21] wormwang commented on #792
work around is:
export LLVM_DIR=/opt/rocm/llvm
//change linker ld to gold,because clang/llvm 7 need gold linker for ARM64
sudo ln -sf /usr/bin/ld /usr/bin/ld.gold

mkdir -p build; cd build
cmake -DCMAKE_BUILD_TYPE=Release -DHSA_LIBRARY=/opt/hsa-rocr-dev/lib/libhsa-runtime64.so -DHSA_HEADER=/opt/hsa-rocr-dev/include  -DLLVM_TARGETS_TO_BUILD="AMDGPU;AArch64"  ..  -DLLVM_USE_LINKER=gold

[2018-07-12 03:22] #792 closed, assigned to nobody

[2018-07-13 08:35] wormwang opened #800 "HCC build HIP from source at ARM64 Ubuntu 16.04 error out"
export HIP_PLATFORM=hcc
cmake -DHSA_PATH=/opt/hsa-rocr-dev/hsa -DHCC_HOME=/opt/rocm/hcc -DCMAKE_INSTALL_PREFIX=/opt/rocm/hip -DCMAKE_BUILD_TYPE=Release -DCMAKE_CXX_FLAGS= "-v" ..

#make

fatal error: error in backend: Unsupported calling convention.
clang-7: error: clang frontend command failed with exit code 70 (use -v to see invocation)
HCC clang version 7.0.0 (https://github.com/RadeonOpenCompu

[2018-07-13 18:07] Jorghi12 opened #801 "HCC Compiler doesn't replace std math functions"
From what I've read, it appears that HCC aims to be primarily a standard C++ Compiler.

It appears that the NVCC Compiler recognizes all uses of std::abs / std::exp / etc functions within device code and replaces them with the CUDA equivalent functions.

It's a very helpful feature that simplifies the porting of pre-existing projects /  less overhead when writing future kernels.

Could we have thi

[2018-07-13 19:10] Jorghi12 commented on #801
@whchung @mangupta

[2018-07-13 21:21] AlexVlx commented on #801
This is a HIP issue, as HIP concerns itself with mimicking CUDA behaviour. Upcoming HIP changes will model this behaviour (I do not have an ETA for those however).

[2018-07-13 21:21] #801 closed, assigned to AlexVlx

[2018-07-16 08:20] wormwang commented on #800
make log

[ 15%] Building CXX object CMakeFiles/hip_hcc_static.dir/src/hip_memory.cpp.o
HCC clang version 7.0.0 (https://github.com/RadeonOpenCompute/hcc-clang-upgrade.git 05eee4ea8aedc4a168d11fbbf5095646702f83f2) (https://github.com/RadeonOpenCompute/llvm.git b25febceadb1ffabf9cd9bc0fd41e3cb8d4e9b80) (based on HCC 1.2.18262-a743e2b-05eee4e-b25febc )
Target: aarch64-unknown-linux-gnu
Thread model:

[2018-07-16 14:32] Jorghi12 commented on #800
What branch of HCC are you building from?

[2018-07-16 19:48] Jorghi12 commented on #785
Here's an example of the file create / delete events that are going on in the /tmp directory.

[notify.txt](https://github.com/RadeonOpenCompute/hcc/files/2199105/notify.txt)

[2018-07-17 02:31] wormwang commented on #800
based on HCC 1.2.18262-a743e2b-05eee4e-b25febc

[2018-07-17 18:11] #790 closed, assigned to nobody

[2018-07-17 22:30] Jorghi12 opened #803 "Weak symbols for Template Kernels when compiling with HCC."
Hi,

After compiling, there are weak symbols for global template kernels inside object files. However, when adding an anonymous namespace around the definitions for the template kernels, the symbols are strong. From my understanding, during build, template functions usually have weak symbols, which are resolved while linking. However, in the case with HCC, our template kernels aren't being resolve

[2018-07-18 07:47] searlmc1 commented on #715
Fixed in the llvm-trunk via https://reviews.llvm.org/rL337154

[2018-07-18 07:55] #803 closed, assigned to nobody

[2018-07-21 04:42] #780 closed, assigned to nobody

[2018-07-22 20:03] #768 closed, assigned to acmeman925

[2018-07-23 11:45] sriharikarnam opened #807 "Memory access fault error on ROCm 1.8.151 for MXNet HIP Port"
**Background:** Porting Mxnet Deep Learning framework to ROCm Platform

**Issue :**
While executing some applications on HIP/ROCm platform we are facing below mentioned issue.(ROCm 1.8.151)
This issue is reproducible in ROCm 1.9 also

**Error:**
Memory access fault by GPU node-x(1 or 2)(Agent handle: 0x236ceb0) on address 0x1000. Reason: Page not present or supervisor privilege.

**Environment inf

[2018-07-23 13:11] nvlbal commented on #790
What did you do to resolve this issue?
I am finding the same when calling __bitselect_b64

[2018-07-24 16:13] DGASUK opened #810 "ROCm and HCC - Compilation issues and level of support for Tonga GPU?"
I was impressed with the aspirations of AMD's open platform for GPGPU computing and recently installed ROCm and HCC but have had some problems with the installation and in compiling the HCC example applications.

Hardware: Rocminfo correctly identifies Intel Core i7-6700 CPU as Agent 1 and GPU gfx802 as Agent 2 with ISA 1 named as amdgcn-amd-amdhsa--gfx802. Clinfo also shows correct information, i

[2018-07-24 22:02] scchan commented on #807
By following the steps above, I'm getting compilation errors about `struct __half` and `sobol32_state` below.

Also, it's using `g++` to compile, is that expected?

scchan@97e6e7dfd750:~/code/mxnet$ make VERBOSE=1
Makefile:270: WARNING: Significant performance increases can be achieved by installing and enabling gperftools or jemalloc development packages
Running CUDA_ARCH: --amdgpu-target=gfx801

[2018-07-25 04:08] ssahasra opened #811 "debug build asserts while compiling rocdl/opencl/src/devenq/schedule.cl"
I hit the above assertion when creating a debug build for hcc. Here's the actual output:

Building OCL object rocdl/opencl/CMakeFiles/opencl_lib.dir/src/devenq/schedule.cl
clang-7: /home/ssahasra/projects/hcc/clang/lib/CodeGen/CGRecordLayoutBuilder.cpp:596: void {anonymous}::CGRecordLowering::clipTailPadding(): Assertion `Prior->Kind == MemberInfo::Field && !
Prior->FD && "Only storage fields have

[2018-07-25 11:24] sriharikarnam commented on #807
1)Issue:
error: changes meaning of 'sobol32_state' from 'struct rocrand_device::sobol32_state' [-fpermissive]
Fix:
As per the ticket https://github.com/ROCmSoftwarePlatform/rocRAND/pull/23 , please update in /opt/rocm/rocrand/include/rocrand_sobol32.h line 81 with typedef struct sobol32_state sobol32_state;

2)Issue:
error: conflicting declaration 'typedef struct __half __half'
Fix:
The __half def

[2018-07-25 16:14] deven-amd opened #812 "const float[] argument passed to __device__ function does not work as expected"
consider the following testcase
[code]

The gpu_kernel returns an answer of `0` which is incorrect.

This is because the IR generated for it is incorrect.

[code]

This error can be workedaround by changing the declaration of `B` in `gpu_kernel`

from
[code]
to
[code]

Please look into this and fix

deven

[2018-07-25 16:57] whchung commented on #812
additional info:

[code]
has custom initializers missing

[code]
has correct custom intializers emitted

[code]
has custom initializers missing

[code]
has custom initializers missing

[code]
has custom initializers missing

[2018-07-25 17:33] yxsamliu commented on #812
I cannot reproduce the issue with hcc or hip-clang. In both case I got
cpu_answer = 0.40151
gpu_answer = 0.40151

clang emits IR like this for function-scope const array:
@_ZZ1fvE11const_array = private unnamed_addr addrspace(4) constant [5 x i32] [i32 1, i32 2, i32 3, i32 4, i32 5], align 4

; Function Attrs: convergent noinline nounwind optnone
define void @_Z1fv() #0 {
entry:
  %const_array = a

[2018-07-25 17:42] whchung commented on #812
we are using hcc on rocm 1.8.2. we can definitely try with tip of HCC. it'd be great if it's solved in the tip of HCC already.

[2018-07-25 19:07] whchung commented on #812
confirmed tip of HCC + tip of HIP builds & runs this test fine. IR looks correct. @deven-amd pls give it a shot as well.

- `HIP` git commit #  73ef531
- `HCC` git commit #  d530be7

[2018-07-26 10:11] ssahasra opened #815 "unexpected assertion when compiling an almost empty file"
When using a **debug build** of hcc, an attempt to compile the attached file produces an assertion.
[hc_ring.txt](https://github.com/RadeonOpenCompute/hcc/files/2231470/hc_ring.txt)

Note that the file just contains two #include statements, which must be present in the same sequence as shown.

[code]

The first statement results in a fatal error, but then later clang asserts on something inside th

[2018-07-26 22:13] scchan commented on #807
I wasn't able to reproduce the memory error you reported.  I'm using one GPU, how many GPUs are you using?
The error message you are getting suggests that memory accesses in that kernel is causing a page fault.  Could you verify whether the memory buffers are valid or any out-of-bound accesses occur?

On my system, it hangs in this kernel:

<<hip-api tid:2.889 2.889 hipLaunchKernel '_ZN7mshadow4cu

[2018-07-27 09:56] sriharikarnam commented on #807
We are using single gpu to run the application. The gpu used is AMD FIREPRO(S9300 x2).
Gpu details:
GPU[0] : GPU ID: 0x7300

Please find the attached full log(cnn_logt.txt) by exporting HIP_TRACE_API=7.

As shown below, the MapPlanKernel launches succesfully on firepro gpu

[[32m<<hip-api tid:2.7 2.7 hipLaunchKernel '_ZN7mshadow4cuda13MapPlanKernelINS_2sv6savetoELi8ENS_4expr4PlanINS_6TensorINS_3gp

[2018-07-27 21:11] whchung commented on #812
closing this issue as it has been verified by @whchung and @deven-amd

[2018-07-27 21:11] #812 closed, assigned to nobody

[2018-07-29 21:38] Jorghi12 opened #817 "[roc-1.8.x] Uses outdated submodules, leading to build error."
Building the roc-1.8.x branch leads to the error below even when cloning the repository and its various submodules recursively via git recursive.

`git clone --recursive -b roc-1.8.x https://github.com/RadeonOpenCompute/hcc.git`

[code]

In order to successfully build, I had to open the "rocdl/irif/inc/irif.h" file and make these several changes below. So I'm assuming that the submodules that were

[2018-07-29 21:42] aaronenyeshi commented on #817
@b-sumner

[2018-07-29 22:17] Jorghi12 commented on #817
@b-sumner @aaronenyeshi

After building HCC, I'm now trying to build HIP and receive this error:

Since I've been able to build HIP using the HCC package provided by the official ROCm apt repository, I'm assuming something must have went wrong with my installation of HCC. Any ideas?

`/opt/rocm/hcc/bin/../lib/libhc_am.so: undefined symbol: _ZNSt3__15ctypeIcE2idE`

[2018-07-29 22:24] Jorghi12 commented on #817
@b-sumner @aaronenyeshi

After building HCC, I now receive this error.

`/opt/rocm/hcc/bin/../lib/libhc_am.so: undefined symbol: _ZNSt3__15ctypeIcE2idE`

From researching, this issue is caused by having differing versions of dependency packages / etc. The instructions provided on the HCC wiki appear to be outdated since they're not solving my issue.

Could I have a list of all the dependency packa

[2018-07-30 15:12] aaronenyeshi commented on #817
You seem to be on a different branch on rocdl: https://github.com/RadeonOpenCompute/ROCm-Device-Libs/blob/master/irif/inc/irif.h#L346 This is the master of the public version

[2018-07-30 16:13] scchan commented on #807
I was able to reproduce the memory access error in `void mxnet::op::col2im_gpu_kernel<float>` on a fiji GPU.  As I mentioned earlier, this type of error usually suggests a out-of-bound access.  There are 2 buffers being accessed in this kernel (e.g. data_col, data_im).  It's unclear to me that the buffer sizes are.    Could you check whether all the accesses are valid that the indices don't go out

[2018-07-31 18:19] Jorghi12 commented on #817
@aaronenyeshi Hi, I've updated all branches to those specified over here: https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/.gitmodules) but still receive build errors.

Could you provide a Debian package for HCC roc-1.8.x that has the debugging features enabled? Thanks!

https://github.com/RadeonOpenCompute/hcc/blob/master/lib/hsa/mcwamp_hsa.cpp#L42
[code]

[2018-07-31 18:20] Jorghi12 opened #821 "[Request] Debian package for HCC roc-1.8.x with Debugging Features Enabled."
Hi, I'd like a package for HCC roc-1.8.x that has the debugging features below enabled. Thanks!

https://github.com/RadeonOpenCompute/hcc/blob/master/lib/hsa/mcwamp_hsa.cpp#L42
[code]

[2018-07-31 21:56] Jorghi12 commented on #821
@whchung @scchan @aaronenyeshi @AlexVlx @kwu91 @bensander @lyh-kernel-MCW @rocm-hcc @pfultz2 @tstellarAMD @facao @sunway513

[2018-08-02 13:37] deven-amd commented on #812
@sunway513

@whchung how do we go about determining which commit / PR fixed this bug?  We need to figure out whether the fix is ROCM 1.9 for DL frameworks?

[2018-08-02 15:17] whchung commented on #812
@scchan @mangupta for awareness

we'll have to bisect but it'll take too much time.

I'd recommend HIP and HCC team to make sure 1.9 release branches contains all commits prior to the previous working config I found:

HIP git commit # 73ef531
HCC git commit # d530be7

[2018-08-02 15:23] scchan commented on #812
1.9 was branched earlier and it's kind of late to merge all the extra commits into 1.9 right now.  Do you know if the current 1.9 branch works? https://github.com/RadeonOpenCompute/hcc/tree/roc-1.9.x

[2018-08-02 15:27] whchung commented on #812
@scchan let me give it a quick spin

[2018-08-02 15:37] jithunnair-amd commented on #821
@Jorghi12 Can you please elaborate here why you were not able to build the hcc package on your end with debugging enabled?

[2018-08-02 15:54] whchung commented on #812
@scchan / @deven-amd good news. tip of HCC roc-1.9.x and tip of HIP roc-1.9.x works fine :)

HCC git commit # 08aa7f8
HIP git commit # 6584918

[2018-08-02 15:55] Jorghi12 commented on #821
After installing HCC, I end up with this error in the libmcwamp_cpu.so library.
It looks like perhaps libc++ and libstdc++ are being mixed up in the HCC installation?

[code]

[2018-08-02 16:23] sriharikarnam commented on #807
@scchan
Thanks scchan for inputs
I tried debugging the col2im_gpu_kernel parameters as per your inputs using gbd and rocm-gdb but could not get the symbol data

With gdb:
Unable to read some of the symbols for validation

With rocm-gdb:
Unable to debug as it is not hitting break ponints

Following is the gdb log. Need your inputs to proceed further( validating the symbols / data)
[gdb-log.txt](htt

[2018-08-02 16:26] scchan commented on #812
great, thanks for testing it

[2018-08-02 17:05] Jorghi12 commented on #821
Resolved by forcing it not to use LIBCXX https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/CMakeLists.txt#L178.

[2018-08-02 17:05] #821 closed, assigned to nobody

[2018-08-02 17:05] Jorghi12 commented on #817
Resolved by forcing it not to use LIBCXX https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/CMakeLists.txt#L178.

[2018-08-02 17:05] #817 closed, assigned to nobody

[2018-08-02 23:58] scchan commented on #807
We don't generate debug information in the current version of hcc and also I don't think a debugger would help you much for this.  For simplicity, can you pass in atomic counter to count how many out-of-bound accesses the kernel may perform?

[2018-08-03 18:29] scchan commented on #817
We don't use LIBCXX by default on platforms we support.  On what OS you are building hcc on?

[2018-08-03 19:33] scchan commented on #821
The extra debug messages will be enabled by this PR: https://github.com/RadeonOpenCompute/hcc/pull/824

[2018-08-08 20:22] vsytch commented on #810
If you want to compile for gfx802 try adding it here https://github.com/RadeonOpenCompute/hcc-clang-upgrade/blob/be6eeeeffb62557a79a6b559b7b633fb29e5d8e4/lib/Driver/ToolChains/Hcc.cpp#L311, though it does not seem to be supported.

[2018-08-09 10:05] wormwang commented on #800
The root cause is https://github.com/RadeonOpenCompute/llvm/blob/ef2df73ef5543d71c75aa206c33b5b3f2591b008/lib/Target/AArch64/AArch64ISelLowering.cpp#L2881

The error is cause by

/// Selects the correct CCAssignFn for a given CallingConvention value.
**CCAssignFn *AArch64TargetLowering::CCAssignFnForCall(CallingConv::ID CC,
                                                     bool IsVarArg) const

[2018-08-12 13:41] misos1 opened #835 "Segmentation fault when accessing hc::array by integer index from cpu"
This throws exception as per documentation "Accessing array data on a location where it is not resident (e.g. from the CPU when it is resident on a GPU) results in an exception (in cpu context)":
[code]
But this causes segmentation fault:
[code]
Difference is that in hc.hpp `hc::array::operator[](int)` does not check pointer as `hc::array::operator[](hc::index)` does.

[2018-08-12 14:45] misos1 opened #836 "Inconsistencies of hc::array vs hc::array_view"
Seems `hc::array_view` can be captured into kernel only by value:
[code]
But `hc::array` only by reference:
[code]
That has some logic. Array by value would mean deep copy (but with more complex code with kernel arguments, arrays and array views this needs to explicitly specify any captured `hc::array` in capture list to be captured by reference).

But seems in code above `hc::array` is not access

[2018-08-12 16:34] misos1 opened #837 "Function template specialisation causes error "symbol multiply defined!""
func.hpp:
[code]
main.cpp:
[code]
a.cpp:
[code]
Compiling using ``hcc main.cpp a.cpp `hcc-config --cxxflags --ldflags` `` prints error:
[code]
Output binary is generated but seems it cannot run kernels:
[code]
When is `func` restricted with `[[cpu]]` or func.hpp is not included in a.cpp then there is no error.

[2018-08-12 17:16] misos1 commented on #837
Ok there are indeed multiple definitions of specialised `func` so it violates one definition rule (it need to be in .cpp file or declared inline) but why is this not problem also for host compilation phase?

[2018-08-13 17:35] scchan commented on #835
hc::array is a device memory buffer so it cannot be directly accessed from the CPU.
You either need an hc::array_view wrapped around an hc::array or do a copy from hc::array into a CPU buffer in order to access the data on the CPU

[2018-08-13 17:35] #835 closed, assigned to nobody

[2018-08-13 17:37] misos1 commented on #835
The point was that it should throw exception instead of segmentation fault in case of integral index as it does when passing hc::index.

[2018-08-14 01:29] scchan commented on #835
I have a patch for the segfault: https://github.com/RadeonOpenCompute/hcc/pull/838

[2018-08-15 18:55] jithunnair-amd opened #839 "extern "C" (on declaration only) produces mangled symbols for __host__ functions"
###
Issue copied from: https://github.com/ROCm-Developer-Tools/HIP/issues/630
@whchung suggested filing HCC issue as it might be related to HCC Clang CodeGen.
###

If a `__host__` function is declared as `extern "C"`, but the definition isn't labelled as `extern "C"`, `hipcc`/`hcc` produces a mangled symbol in the resulting object file. However, if the definition *also* has an `extern "C"` label,

[2018-08-20 07:18] sriharikarnam commented on #807
@scchan

we have noticed that the the col2im_gpu_kernel kernel generates the error at every second hit of the kernel.

The col2im_gpu_kernel definition is as follows.
template <typename DType>
__global__ void col2im_gpu_kernel(const int n, const DType* data_col,
    const int channels, const int height, const int width,
    const int kernel_h, const int kernel_w,
    const int pad_h, const int pad