[2018-08-20 14:57] scchan commented on #668
closing since the fix for the compilation issue is already in the compiler

[2018-08-20 14:57] #668 closed, assigned to nobody

[2018-08-22 09:16] jszuppe commented on #716
Any update on that? ROCm-Developer-Tools/HIP#515 is still merged only in `master`. Which ROCm version will include that?

[2018-08-23 13:01] PhilipDeegan commented on #837
I'm seeing this too, linking should fail, but appears to succeed even with multiple definitions

[2018-08-23 13:10] PhilipDeegan commented on #836
I had noticed some difficulties using "array" which didn't happen for "array_view" - I'm not so certain of the difference in use case, perhaps @AlexVlx can expand on it.

[2018-08-23 13:11] PhilipDeegan commented on #837
this is a duplicate of https://github.com/RadeonOpenCompute/hcc/issues/757

[2018-08-23 13:19] PhilipDeegan commented on #431
Currently,

using ```-hc``` allows for C++14, yet ```-std=c++amp``` would override a previous call to ```-std=c++14``` so I guess this makes sense

Is ```-std=c++amp``` even necessary with ```-hc``` ?

[2018-08-23 13:33] emankov commented on #431
No, it is not. You need only `-std=c++14 -hc` .

[2018-08-23 13:35] PhilipDeegan commented on #431
Seems to be the case, it's curious considering

``` /opt/rocm/bin/hcc-config --cxxflags```
outputs

```-hc -std=c++amp -I/opt/rocm/hcc/include -I/opt/rocm/include```

[2018-08-23 13:35] #431 closed, assigned to nobody

[2018-08-23 13:49] PhilipDeegan opened #842 "two step compile/link runtime failure"
Looking at the following example: http://pastebin.com/raw/mD7KY1pu

It seems to be mandatory for binary object files to have the filetype ".o" in order to work properly, this seems a bit strange to me

this is a follow up from https://github.com/RadeonOpenCompute/hcc/issues/138

[2018-08-23 13:54] PhilipDeegan commented on #62
@jvesely regarding your first example, this now outputs "101"

perhaps it has been resolved by now?

[2018-08-23 14:02] PhilipDeegan commented on #124
can you provide a complete minimal example please?

[2018-08-23 17:11] vsytch commented on #842
If you want to use files with .obj extension you'll have to change the "o" to "obj" in this line https://github.com/RadeonOpenCompute/hcc-clang-upgrade/blob/clang_tot_upgrade/include/clang/Driver/Types.def#L105

[2018-08-23 17:16] PhilipDeegan commented on #842
is there some more behind this?

what is the reason for it's existence, why should it be needed?

Thanks

[2018-08-23 17:19] vsytch commented on #842
The extension is there to tell the compiler what kind of file you are giving it. The .o extension is the commonly one used for object files on Linux, .obj is the Windows analogous.

[2018-08-23 17:20] PhilipDeegan commented on #842
the file extension is arbitrary, and shouldn't matter

[2018-08-23 17:30] b-sumner commented on #842
gcc won't give me an object file if I compile a file named "source.xyz" containing correct C code.  I think there is precedent for compilers and tools to require certain extensions on files with certain contents.

[2018-08-23 17:31] vsytch commented on #842
The .o extension is also hardcoded in the the hcc linker scripts (under https://github.com/RadeonOpenCompute/hcc/tree/clang_tot_upgrade/lib), because that's the standard extension on Linux. Too use the .obj extension you'd also have to change those as well as changing clang.

[2018-08-23 17:39] PhilipDeegan commented on #842
fair enough, guess it goes beyond HCC, peculiar, when file extensions aren't supposed to even matter on Linux

[2018-08-23 17:39] #842 closed, assigned to nobody

[2018-08-23 19:37] Jorghi12 opened #844 "[ROCm 1.9.x] - [Regression] Generating AMD GCN kernel failed in llc for target: gfx900"
Currently encountering a regression. This used to work in ROCm 1.8.x.

[code]

[2018-08-23 22:23] jvesely commented on #62
Thanks. My machines are offline atm. I'll try to rerun the tests next week.

[2018-08-24 20:13] j-stephan opened #845 "Linker can't relocate against symbols"
Minimal example:

    #include <hc.hpp>

    auto main() -> int
    {
        auto array = hc::array<int, 1>{hc::extent<1>{1024}};

        hc::parallel_for_each(array.get_extent().tile(64),
                              [=, &array](hc::tiled_index<64> tile_index) [[hc]] {});

        return 0;
    }

Compiler command line:

    hcc `hcc-config --cxxflags --ldflags` -std=c++17 -fPIC -O3 minimal.cp

[2018-08-24 20:36] scchan commented on #845
`hc::tiled_index<64>`  The template argument is the number of dimensions in a tile/index, in this case, it should be 1 instead of 64

[2018-08-24 20:52] j-stephan commented on #845
Yup, that's it! Thanks for the hint. However, the error message is rather cryptic, is it possible to improve it?

[2018-08-24 20:52] #845 closed, assigned to nobody

[2018-08-24 21:22] jszuppe commented on #715
Is it fixed in recent ROCm release?

[2018-08-24 22:42] scchan commented on #844
@Jorghi12 I just tried building libcaffe2_hip.so with hcc 1.9 and it works fine.  If you still observe this error, could you provide a docker container for repro?

[2018-08-28 04:00] NEELMCW opened #847 "Memory access fault by GPU node-1 (Agent handle: xxxx) on hipDNN unit test"
Hello,

I am developing an unit test suite for hipDNN.

checkout https://github.com/ROCmSoftwarePlatform/hipDNN/tree/unit-test

Hit the following memfault error for a basic convolution forward test

Memory access fault by GPU node-1 (Agent handle: 0xb5bf50) on address 0x601eab000. Reason: Page not present or supervisor privilege.

Had set the following flags to trace the issue

HCC_SERIALIZE_KERNE

[2018-08-28 05:44] NEELMCW commented on #847
Thanks. I figured out to be a problem with the kernel argument passed :). Works fine now

[2018-08-28 05:44] #847 closed, assigned to nobody

[2018-08-28 22:14] Brane2 opened #848 "build fails at the end with /home/000_PROJEKTI/HCC-GIT/lib/hsa/hc_am.cpp:9:10: fatal error: 'hsa/hsa.h' file not found"

[2018-08-29 14:08] scchan commented on #848
could you provide the cmake log? thanks

[2018-08-30 08:00] jvesely commented on #62
@Dekken my machines are back up, but I can't reproduce your success.
the latest hcc fails to build (configure failure with incorrect clang path), after fixing that issue it complains when compiling for my gpu:
[code]
it does produce a binary though, but trying to run it results in:
`### HCC STATUS_CHECK Error: HSA_STATUS_ERROR_INVALID_ISA_NAME (0x1017) at file:mcwamp_hsa.cpp line:2683`

[2018-08-30 11:34] jszuppe opened #850 "__attribute__((cpu, hc)) leads to linking errors (undefined reference)"
[code]

Full example code: [undefined_reference_to_ctor.zip](https://github.com/RadeonOpenCompute/hcc/files/2335939/undefined_reference_to_ctor.zip).

[2018-08-30 17:46] jithunnair-amd commented on #755
I think this can be closed now? Although if someone can provide the resolution details and version where fixed, that'd be more complete.

[2018-09-05 14:48] #848 closed, assigned to nobody

[2018-09-09 14:36] misos1 opened #857 "C++ class constructor not being called in some cases"
In this example on host side cpu constructor of Inner is not called if gpu constructor is marked as default:
[code]
This prints nothing.

When is gpu constructor removed or empty then is cpu constructor called:
[code]
This correctly prints "Inner".

Interesting is that in this third example constructor of Inner is called:
[code]

[2018-09-09 16:21] misos1 opened #858 "Optimization fails to benefit from amdgcn instruction set in some cases"
This is sample implementation of PRNG called sfc32 from PractRand:
[code]
What goes to tmp is used as next "random" 32 bit integer.

Here is how it is compiled by hcc:
<pre>
v_add_u32_e32 v2, v3, v2         ; <b>a + b</b> + counter++
v_mul_lo_i32 v8, v4, 9           ; <b>c + (c << 3)</b>
v_lshrrev_b32_e32 v6, 9, v3      ; b ^ (<b>b >> 9</b>)
v_alignbit_b32 v4, v4, v4, 11    ; (<b>(c << 21) | (c >>

[2018-09-09 16:56] b-sumner commented on #858
There is work underway on this.

[2018-09-09 18:58] misos1 opened #859 "Kernel can use raw copy of object after its destruction"
First I had some difficulties with hc::printf_buffer. According code in mcwamp_hsa.cpp it should be initialized but in my case it is always null. So first line in following example initializes it (I had to use ::printf because seems something is sometimes shadowing printf with hc::printf even when I do not add "using namespace hc" or "using hc::printf").
[code]
This prints:
[code]
But all construc

[2018-09-09 19:16] misos1 opened #860 "It is not possible to copy struct containing array member into kernel lambda [crash]"
[code]
This prints compile errors and causes compiler to crash:
[code]

[2018-09-09 19:45] misos1 opened #861 "What constraints can be used in operand list in inline assembler for amd gcn?"
For some amd gcn instructions can be used "high" level llvm features like this (some are already defined in such way in hc.hpp like __amdgcn_ds_bpermute):
[code]
But for some I was not able to find llvm "symbol" and from llvm sources seems that there are no such "symbols" for them so I need to use lower level inline assembler:
[code]
But I was unable to find any documentation about operand modifie

[2018-09-09 20:05] misos1 opened #862 "Copy data from host to hc::array_view using hc::copy fails without calling synchronize"
I would expect that this will work but it causes segmentation fault:
[code]
Seems I need to call synchronize before copy:
[code]

[2018-09-09 21:17] b-sumner commented on #861
The constraint for a scalar register is "s".   The limitations in 6.2.1 of https://developer.amd.com/wp-content/resources/Vega_Shader_ISA_28July2017.pdf state that at most one SGPR may be read per VALU instruction.

You should not have to resort to inline asm to get at add3.  There is work underway to fix this.

[2018-09-11 18:11] Brane2 commented on #848
On 29. 08. 2018 14:09, Siu Chi Chan wrote:

Here it is. BTW, where should thhat hsa.h header be ?

Is it meant to be part of kernel include files, part of installled
hsaIl-tools or hcc package ?

I can't find it anywhere...

Best regards,

Branko

The system is: Linux - 4.17.19-gentoo - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: /usr/bin/cc

[2018-09-12 16:58] scchan commented on #848
`hsa.h` is coming from ROCR-Runtime, the default installation path is /opt/rocm/hsa/
https://github.com/RadeonOpenCompute/ROCR-Runtime

Also checkout the the build instruction
https://github.com/RadeonOpenCompute/hcc/wiki#building-hcc-from-source
It gives you a list of packages that hcc depends on.

[2018-09-15 08:30] JMadgwick commented on #810
As this is still open I think it makes sense to add that in the other issue it was confirmed that ROCm supports Tonga but not in all aspects. HCC does NOT support Tonga. It supports only gfx701,803,900,906. However[ there is a fix waiting to be merged in](https://github.com/RadeonOpenCompute/hcc-clang-upgrade/pull/149) which looks like it will add support for Tonga and other gfx which are not curr

[2018-09-16 20:36] misos1 opened #869 "Compiler crash when using std::exp in kernel and compiling with -Ofast flag"
Yes I know that I should use exp from fast_math or precise_math but compiler should not crash but either print some errors or successfully compile if std::exp is intended to work in kernel. Also exp without namespace prefix is working.

Some functions cannot be used in both kernel and host code for example on host I can use __builtin_popcount but in kernel I must use hc::__popcount_u32_b32 which I

[2018-09-16 20:50] misos1 opened #870 "Memory access fault when accessing global array_view from kernel"
Access from host is working but I cannot access array_view from kernel when is array_view defined as global variable. This would be usable in some scenarios for example when I need global array with some constants computed once and then shared in multiple kernels.
[code]
[code]
There is different error when is array_view static:
[code]
[code]

[2018-09-17 15:30] JMadgwick commented on #870
This is by design and not a bug. Direct global array_view is not allowed in restricted sections, but confusingly it is allowed on the host. [A solution using pointers is already detailed here](https://social.msdn.microsoft.com/Forums/vstudio/en-US/63ba7d71-285e-44b1-ad64-f24c36e52bfb/global-variables-in-c-amp?forum=parallelcppnative).

However the simplest and easiest method is to use the shallow

[2018-09-17 15:42] JMadgwick commented on #869
Are you using the latest HCC? I do not get a compiler crash running that code. It gives me a linker error because std:exp can't be used here.

If you want to use exp then include hc_math and just use exp normally in the kernel.
This complies fine:
[code]

[2018-09-17 16:21] misos1 commented on #869
It was on rocm 1.8, now I tested on rocm 1.9 with same results. But it happens only with -Ofast flag:
[code]

[2018-09-17 16:28] DGASUK commented on #810
Thanks for getting back with something definitive on this. It is
disappointing, as I bought the FirePro card a few years ago specifically
for GPGPU processing. It was one of the few at the time flagged as pending
support for OpenCL 2.0, though the driver did take some time to become
available.

On Sat, 15 Sep 2018 at 09:30, James Madgwick <notifications@github.com>
wrote:

[2018-09-18 11:47] JMadgwick commented on #860
I can reproduce this crash on 1.9.0. The error is printed but then it crashes. Not much of a surprise that struct is not working. Best to stick to array views or maybe basic types I think.

[2018-09-18 12:01] misos1 commented on #860
Structs are working normally and must work in other case hc::array_view and hc::index would not work as they are structs. Struct containing simple C++ array with few elements is not working. Same crash happens when using C++ array directly or fixed size std::array.

So this struct is not working:
[code]
But this yes:
[code]

[2018-09-18 18:58] Shaylin opened #873 "am_alloc vs array_view"
Hello,

I've noticed a function called `am_alloc` within the docs . I couldn't really find any usage examples of this online. I have some questions regarding its use cases and its differences to using a `vector` and `array_view`.

1. Is there a difference between using `am_alloc` with the `amHostCoherent` flag and versus an `array_view` ? I ask because there definitely seems to be some form of aut

[2018-09-19 16:34] mvermeulen opened #874 "rocm 1.9 gives spurious message on ubuntu 18.04 on saxpy example from the wiki"
Compiling the saxpy example with "hcc `hcc-config --cxxflags --ldflags` saxpy.cpp -o saxpy" results in the following message:
objdump: /usr/lib/x86_64-linux-gnu/libm.a: File format not recognized.

What appears to be going on is:
1. clamp-link has a call to detect .kernel sections in static libraries, i.e. objdump -t $DETECTED_STATIC_LIBRARY | grep -q "\.kernel"

2. On ubuntu 18.04, the particular

[2018-09-19 19:58] JMadgwick commented on #874
I can confirm that I saw this myself yesterday when compiling a program which I had compiled before on 16.04 before updating to 18.04. When I compiled on 16.04 there was no message or output at all from hcc. The program still compiles and fine exactly as it did before. I imagine this message will be seen when compiling anything that uses hc sections?

[2018-09-21 19:24] david-salinas commented on #725
Can you give a small source that gives the error with HCC and not standard Clang/GCC ?  Are you seeing this with only ::template, or are there any other keywords ?

[2018-09-24 12:02] lsr0 opened #879 "Raven Ridge/APUs"
I understand APUs are officially not supported, but as of _rocm_ 1.9/_kernel_ 4.19 the _runtime_, _thunk_, _opencl_ and _amdkfd_ components are now in place; the biggest missing piece is `hcc` (and therefore _HIP_).

Asking for clarity on whether there are any plans to make `hcc` functional on APUs, and if so, some kind of order of magnitude on time.

Rationale-wise, we are early stage evaluating

[2018-09-24 14:17] Johnreidsilver commented on #879
Waiting for hcc/hip to use ROCm tensorflow too.
"Simple" OpenCL+SVM seems to be working on APU's:
https://community.amd.com/thread/232266
` I'm delighted to find with kernel 4.19-rc3 which includes the kfd with support for Raven Ridge it seems to 'just work', including OpenCL 1.2 with SVM!`

Understandably dev team has higher priorities like "selling" ROCm to datacenters:
`we have many users who w

[2018-09-30 14:48] jarvis-hal opened #883 "Need support for AMD Ryzen Embedded V1000/APU"
Currently,  AMD Ryzen Embedded V1000 and APU are not supported by HCC which does not allow Tensorflow to take advantage of the APU power coming from AMD Ryzen Embedded V1000 series. This could be hindering many low power AI applications which V1000 could enable. Please help to add support.

[2018-10-02 09:48] suvayu opened #884 "hcc with "New GNU Portable Threads""
I am on Fedora 28, running on 2400G, and wanted to try out Tensorflow with ROCm (with kernel 4.19).  So I tried to install `rocm-dkms` from the [Centos repos](https://rocm.github.io/ROCmInstall.html#centosrhel-7-both-74-and-75-support) mentioned in the docs.  However that fails because I do not have `Pth` on my system.  I did some digging and I see that `Pth` was deprecated for `nPth` on Fedora.

[2018-10-02 15:07] david-salinas commented on #884
Currently, Fedora is not an officially supported operating system (https://rocm.github.io/ROCmInstall.html#software-support).

[2018-10-02 15:43] #870 closed, assigned to nobody

[2018-10-02 17:30] suvayu commented on #884
@david-salinas, thanks for the response. I have read that page, I linked to it above!  I'm asking if compiling against `nPth` is possible, and if so, how may I go about it?

A somewhat broader comment: it's a bit strange and frustrating to encounter situations where, the latest kernel is required but the supported distros are among the slow moving conservative ones.

[2018-10-02 18:44] david-salinas commented on #874
Yes, this message is benign, but noisy.  There may be a more elegant way for clamp-link to search for kernel sections in libraries that may in fact just be linker scripts.

[2018-10-03 05:39] ex-rzr commented on #860
If I remember correctly HCC doesn't support passing structs with array fields as kernel args. And this behavior was mentioned somewhere in docs but I can't find it anymore.

Workaround are very similar to what you do (pass individual fields and rebuild the array if you need it) or use custom serializer and deserializer.

[2018-10-03 05:43] ex-rzr commented on #860
Oh, I've found the doc. It's actually from HIP, but this chapter was removed from there because HIP has different kernel launching implementation now.

Here the old version: https://github.com/ROCm-Developer-Tools/HIP/blob/91f82ce541b51ad1106a28e951b410a256e61f62/docs/markdown/hip_bugs.md#errors-related-to-no-matching-constructor

And an example from tests:

https://github.com/RadeonOpenCompute/hc

[2018-10-05 04:55] #873 closed, assigned to nobody

[2018-10-05 10:16] Johnreidsilver commented on #879
These are also related to enabling APU's:

https://github.com/RadeonOpenCompute/hcc/pull/840

https://github.com/RadeonOpenCompute/hcc/pull/692

[2018-10-07 19:40] misos1 commented on #860
There is bug in compiler. It should not crash. I do not see any reason why they should not be supported. Imagine array with 20 elements instead of 5. Then individual fields or custom serializer/deserializer are impractical.

[2018-10-09 18:22] ssahasra opened #894 "__ockl_lane_u32 should not be moved out of divergent loop"
This is a copy of the internal issue SWDEV-167691.

In the attached file, the loop condition depends on __ockl_lane_u32() which itself expands to mbcnt_lo and mbcnt_hi. These intrinsics are marked as sources of divergence, but they get moved out of the loop, thereby incorrectly providing a constant value to the loop condition.

[waterfall_converged.cpp.txt](https://github.com/RadeonOpenCompute/hcc

[2018-10-11 19:31] david-salinas commented on #857
I can reproduce this with latest rocm 1.9 release.  We've opened an internal ticket for this.

[2018-10-12 20:15] david-salinas commented on #62
@jvesely The original case works for me with the latest rocm 1.9.

[2018-10-12 20:22] david-salinas commented on #92
@AlexVlx @scchan I believe we can close this issue, as it is resolved with  PRs #353 / #354  ?

[2018-10-12 20:26] AlexVlx commented on #92
I'm not sure I see how any of those PRs does anything for this issue, which is one of interface design...

[2018-10-12 20:35] david-salinas commented on #102
Is this still an issue with latest ROCm 1.9?

[2018-10-12 20:37] david-salinas commented on #124
@bshaozi can you try this with latest ROCM 1.9, and if it is still an issue, provide a small example?

[2018-10-12 20:37] mcopik commented on #92
@david-salinas @AlexVlx I don't think it's a problem with interface design since this API was almost entirely copied from C++AMP. It might not be perfect but there was an obvious bug in the implementation - catching a possibly temporary object by reference for later execution. Is it fixed?

[2018-10-12 20:39] david-salinas commented on #138
works with latest ROCm 1.9

[2018-10-12 20:39] #138 closed

[2018-10-12 20:40] mcopik commented on #92
I don't know which branch is the main one but `clang_tot_upgrade` seems to be the most active one. The bug is **not** fixed there:
https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/include/hc.hpp#L1284

[2018-10-12 20:43] AlexVlx commented on #92
Whilst I worked on C++AMP (the original) and I have great appreciation for it, I don't think it got everything right, so saying that something was copy&pasted from there, whilst flattering does not axiomatically guarantee correctness. IMHO, the functor should've been passed by value and treated as a sink. Anyhow, nothing changed in the ::then implementation, and this issue is not addressed, hence

[2018-10-12 20:56] jvesely commented on #62
I'm trying to setup rocm 1.9 on my machine but it looks like carrizo (or is it all apus?) is not supported.
I fixed the objcopy complaint so now I just get the warning and "invalid isa name" crash.
So I don't think I'll be able to confirm whether this has been resolved.

[2018-10-13 16:56] PhilipDeegan opened #900 "Question: Accessing std lib in GPU lambdas"
Is it possible to access std library functions within hcc lambdas?

Use case right now would be ```std::mt19937_64 generator;``` and the like, or is there a "HCC" way to do these things?

If there's a doc sorry and please link! :)

[2018-10-14 22:34] misos1 opened #901 "Strange unrolling of loop with barrier when work group size is greater than 256"
I encountered this when tried to simplify different case.

[code]

This should print all ones but instead I am getting this:

[code]

It is working as expected when I uncomment line with "#pragma nounroll" or when using unroll with depth 2 or 4.

Here is asm. Strange are 4 s_barrier instructions in a row near bottom like there is missing something. Like it was unrolled 4 times and then from rest e

[2018-10-14 23:25] misos1 opened #902 "Incorrectly compiled branching code with barriers"
[code]

This should produce 251 from all work items but I am getting randomly outputs like this:
[code]

Interesting is that it differs for individual wavefronts. It will print correct results when is commented line with "if(one)" or "i.barrier" marked with "// *" in comment. But commenting barrier should actually make this code incorrect. I have feeling it has something to do with barriers inside

[2018-10-15 16:05] misos1 commented on #900
There is for example this https://github.com/ROCmSoftwarePlatform/rocRAND but I would not recommend mersenne twister or xorwow http://pracrand.sourceforge.net/RNG_engines.txt.

[2018-10-15 20:01] aaronenyeshi commented on #716
It should be in ROCm 2.x branch of HIP. @mangupta to clarify

[2018-10-16 21:11] misos1 commented on #901
Here is another case:
[code]
This prints 0. dump-gfx900.isa:
[code]
Comparing local id with values less than 256 is working but not with 256 and greater values.

[2018-10-17 23:11] misos1 commented on #902
Here is the problem. For some wavefronts within workgroup EXEC at top will be zero so branch BB0_7 is taken and only one s_branch is executed but some with non zero EXEC will execute all code below (mask branching) so they will execute both s_barrier instructions but as all work items must execute exactly same number of barriers something will go wrong here:

[code]

<details><summary>Full isa dum

[2018-10-18 12:20] PhilipDeegan opened #907 "Question: Multi GPU parallel_for_each"
I'm trying to benchmark something, and I'm not sure where the bottleneck is. I'm getting

``` ### HCC STATUS_CHECK Error: HSA_STATUS_ERROR_INVALID_ALLOCATION (0x1003) at file:mcwamp_hsa.cpp line:2562 ```

It happens sooner on an 8GB Vega 64 than a 16GB FE so I imagine it's VRAM

Does HCC automatically use all GPUs available? Is there a simple multi GPU example around?

Thanks

[2018-10-19 19:52] david-salinas commented on #901
Adding the HCC attribute "[[hc_flat_workgroup_size(512)]]" to the parallel_for_each allows the kernel to use workgroup sizes greater than 256.  I've tried this with the above examples, and I see the expected behaviour.

[2018-10-19 20:56] david-salinas commented on #837
@misos1 and @Dekken  : With latest rocm 1.9, I'm seeing the expected link error, but no binary is generated.  Can you confirm?  thanks.

[2018-10-19 21:15] david-salinas commented on #850
Reproducible with latest ROCm 1.9.  Investigating.

[2018-10-19 22:17] david-salinas commented on #869
@misos1 std:: functions are not guaranteed to work in a parallel_for_each unless they are constexpr.  In this case exp() is not constexpr.

[2018-10-20 16:42] misos1 commented on #901
So hc_flat_workgroup_size(X) when is X above 256 tells compiler that it should expect local size up to X, seems it is different from opencl reqd_work_group_size which disallows different local sizes than specified but on hcc seems I can use also local size 256 on kernel with hc_flat_workgroup_size(512).

Then I think default should be [[hc_flat_workgroup_size(1024)]] for all kernels (so no optimiz

[2018-10-20 16:59] misos1 commented on #837
Yes seems binary is not generated now.

[2018-10-20 16:59] #837 closed, assigned to david-salinas

[2018-10-20 17:32] misos1 commented on #869
It should not crash but instead print some errors and then gracefully exit.

[2018-10-22 15:04] aaronenyeshi commented on #757
Your link is reference the master branch. We are using clang_tot_upgrade as latest HEAD. Also, it seems that in PR#837, the shared library is no longer produced. I will close this, please reopen if its still reproducible.

[2018-10-22 15:04] #757 closed, assigned to aaronenyeshi

[2018-10-23 07:34] chriselrod opened #911 "(build) error: unknown type name 'hsa_ven_amd_loader_1_01_pfn_t'"
[code]

This is on Fedora 29 and binary installs following [this comment](https://github.com/RadeonOpenCompute/ROCm/issues/567#issuecomment-430771267). `hcc` did not work, so I decided to try building it from source following the instructions in the wiki & readme (with and without `-DCMAKE_BUILD_TYPE=Release` in fresh build directories).

I did also try cmake on the 1.9.x branch, but cmake had an

[2018-10-23 08:56] sriharikarnam opened #912 "ACCURACY ISSUE: Nan value is observed fot trianing loss on gpu path"
**Issue**
Accuracy issue related to nan loss is observed on executing the mxnet training application on gpu where as  on cpu we get the approriate output.

For example:

**Training on CPU:**
On executing the training application on cpu, i.e with  mx.cpu() launching the training on cpu

The output of example of  adversary_generation.py

[14:53:28] src/io/iter_mnist.cc:94: MNISTIter: load 60000 imag

[2018-10-29 11:51] ex-rzr opened #913 "Condition in array initialization"
I need help in understanding why these two statements produce different code.

Original:
[code]
Workaround:
[code]

The test case is base on some real code I'm porting from CUDA and it uses BlockRadixSort from hipCUB (rocPRIM). I couldn't simplify the test. However I doubt that this is rocPRIM's bug.

https://gist.github.com/ex-rzr/ef90fbca610fa000ba0ebe1542855150#file-array_init-cpp

[code]

The

[2018-10-30 18:13] david-salinas commented on #911
The first error is because you do not have the latest HSA installed (the header file is missing the definition for hsa_ven_amd_loader_1_00_pfn_t.  However, I don't think Fedora 29 is considered a "valid HSA platform" currently.  Though, I suspect, if you really wanted to, you could find a way to get it on your Fedora 29 system.  Here is a link to the HSA install instructions (https://github.com/HS

[2018-10-31 05:59] chriselrod commented on #911
Hi,
Thank you for the response.
I'd installed HSA associated with roc 1.9.x from the COPRs. Not knowing how far the dependency/compatibility rabbit hole goes, and following the advice of jlgreathouse [here](https://github.com/RadeonOpenCompute/ROCm/issues/585), I figured I ought to just stick with roc-1.9.x.

So confirming again I was still on branch "roc-1.9.x" I ran "git submodule update --force

[2018-10-31 15:01] david-salinas commented on #911
Stale objects built without the updated submodules source may stick around, and this may explain the failing HCC tests you're seeing.  After refreshing/updating the git submodules, I'd suggest cleaning out your build directory, and rebuild HCC again.  I'd just rm everything in the build directory; I don't always trust "make clean" to clean everything.

[2018-10-31 17:07] chriselrod commented on #911
Hmm. Okay.
I removed the old build directory, created a new one, and rebuilt.
Now I have 14 unexpected failures and 718 expected passes.

Full output:
[code]

[2018-11-02 20:12] david-salinas commented on #901
@misos1 thanks for your feedback.  We're looking at how we can improve the setting of the workgroup size; what the default should be, as well as documenting it, and giving users better control over it.  Possibly a compiler option to change the default size - which could be overridden by the attribute on the parallel_for_each.

[2018-11-02 20:12] #901 closed, assigned to david-salinas

[2018-11-04 22:25] misos1 opened #917 "Compilation is failing when using KMTHINLTO=1 together with KMDUMPISA=1"
Seems it is trying to write dump hsaco file to root. When I enable this permission then it is not failing but this is not good.

[code]
[code]

[2018-11-05 15:34] aaronenyeshi commented on #874
Please verify that this is fixed with https://github.com/RadeonOpenCompute/hcc/pull/914 . Reopen if it still persists

[2018-11-05 15:34] #874 closed, assigned to aaronenyeshi

[2018-11-05 18:10] aaronenyeshi commented on #917
Thank you for finding this bug @misos1 . I've added the fix to HCC PR https://github.com/RadeonOpenCompute/hcc/pull/918

[2018-11-05 19:07] misos1 commented on #917
Nice to know that I can change dumping dir using KMDUMPDIR. At least for files dump-gfx900.hsaco  and dump-gfx900.isa. Seems dump-gfx900.isabin is ignoring this variable and is dumping always to current dir.

Also is ThinLTO Phase 2 still under development? I can see that linking is few times faster when I have multiple files and kernels and using thinlto and more processor cores are used instead

[2018-11-05 19:24] aaronenyeshi commented on #917
Thanks for another good catch, let me fix those ones.

Also about ThinLTO Phase 2, I've had to halt on that development since early this year, due to other projects, and issues. It was ready for use, but wasn't upstreamable material. (nor production ready). I believe we will work on it again soon. (I also want it released, as it has significantly faster link time improvements)

[2018-11-05 19:31] aaronenyeshi commented on #917
Added the fix for .isabin files to the same PR.

[2018-11-07 19:34] aaronenyeshi commented on #917
Please confirm that it is fixed in clang_tot_upgrade. Re-open if still persists. thanks!

[2018-11-07 19:34] #917 closed, assigned to nobody

[2018-11-07 23:00] misos1 commented on #917
Seems ok.

[2018-11-08 23:51] misos1 opened #921 "False positive dependency"
Here only second kernel uses "arr" array_view and so there is no dependency between kernels but they are executed serially. Second kernel is waiting until is first finished. But as they are independent and accelerator view has hc::execute_any_order then they should be executed in parallel. Reduced test case:

[code]

Output:
[code]

When is commented line with array_view access then they are execu

[2018-11-08 23:57] misos1 commented on #921
Also is there any way how to get frequency of __clock_u64? I deduced that it is 27 MHz on gfx900. I cannot find anything except this from ISA manual: "The time value is from a clock for which the frequency is constant (not affected by power modes or core clock frequency changes"

[2018-11-11 22:27] misos1 commented on #921
Maybe I could create multiple accelerator views and run independent kernels on different views but seems there is some strange limit in HCC max 20 accelerator views per accelerator hardwired in mcwamp_hsa.cpp:
[code]
After this limit there is some "stealing" and when I create more than 20 accelerator views then I get 19 new accelerator views and one duplicated multiple times with same HSA queue po

[2018-11-12 19:22] madscientist159 opened #924 "HCC compiler internal fault"
When compiling latest master, an fatal error was triggered in the compiler.  This is reproducible across build attempts.

[code]
[diagnostic_files.zip](https://github.com/RadeonOpenCompute/hcc/files/2573307/diagnostic_files.zip)

[2018-11-13 18:36] scchan commented on #844
not reproducible with the most PyTorch and the 1.9 ROCm release, closing.

[2018-11-13 18:36] #844 closed, assigned to scchan

[2018-11-14 17:47] scchan commented on #907
Could you try this example on your system?  It gathers a list of accelerators on a system and launches PFEs on everyone of them.
https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/tests/Unit/HC/multi_acc_array.cpp

[2018-11-14 17:55] PhilipDeegan commented on #907
will do!

[2018-11-15 18:14] PhilipDeegan commented on #884
I don't think the current release supports > 4.15 anyway

[2018-11-16 00:37] suvayu commented on #884
With the latest kernels (> some version of 4.18.x, or 4.19 I think) the drivers are available upstream. All I need are the userland libraries to work.

    $ uname -r
    4.19.0-1.vanilla.knurd.1.fc28.x86_64
    $ lsmod | grep -e amdgpu -e amdkfd
    amdkfd                229376  1
    amd_iommu_v2           20480  1 amdkfd
    amdgpu               3428352  5
    chash                  16384  1 am

[2018-11-16 10:25] PhilipDeegan commented on #884
I haven't tried to build the dkms on debian in a while, will give it a go

[2018-11-19 09:48] PhilipDeegan commented on #884
This is why I have three operating systems on most machines!

[2018-11-19 19:31] PhilipDeegan commented on #900
~~Is there some guide/docs on integrating HIP and HCC? I'm a at a bit of a loss on how to proceed.~~

Nevermind I've made some progress on this

[2018-11-25 23:31] misos1 opened #942 "Memory access fault when sharing 514 array_views in 1028 parallel executions on two GPUs"
Below is reduced test case from more complex code for simplicity. For me it started crashing from N=514 but it is possible that it could do for higher values on different systems. When I run this code from another file which contains other kernels it started from N=343. But in independent file it crashes each time for same N and when is N lower then it never crashes. It is crashing only when both

[2018-11-25 23:57] misos1 opened #943 "hc.hpp contains many kernel functions which cannot be used in kernel"
For example these:
[code]

Probably almost all which are only defined without body.

They produce compilation errors `error: relocation R_AMDGPU_REL32_HI cannot be used against symbol __bitalign_b32; recompile with -fPIC"`.

[2018-11-26 13:17] psteinb opened #944 "`__float128` is not supported on this target"
Hi, I copying this bug report as it might be targetted to this repo a bit better perhaps.

### What is the expected behavior
-  hcc/clang compiles a very simple example submitted in [#146](https://github.com/ROCmSoftwarePlatform/rocFFT/pull/146)

### What actually happens
-  the following error is thrown
[code]

### How to reproduce
- using centos 7.4.1708
- using `rocm-dev` 1.9.307-1
- clone+chec

[2018-11-26 17:17] AlexVlx commented on #944
@psteinb (hello again!), you would probably benefit from compiling in standard C++ and not extended GNU C++ in this case. Changing the original CMakeLists.txt to include `set(CXX_EXTENSIONS OFF)` should do the trick, I expect.

[2018-11-26 19:38] david-salinas commented on #911
Those errors seem like the same issue.  Can you verify with latest clang_tot_upgrade branch and a clean build that there are no HCC unit tests failures?  This is on Fedora 29 still, right?

[2018-11-27 08:00] madscientist159 commented on #924
@david-salinas Do you have local POWER hardware to test or do you need access to one of our machines?

[2018-11-27 19:17] madscientist159 commented on #924
Still seeing this on latest GIT master.

[2018-11-28 15:32] psteinb commented on #944
@AlexVlx thanks for the pointer - I played around a bit on the command line and found that with rocm 1.9.307 replacing `-std=gnu++14` with `-std=c++14`. I see that `set(CXX_EXTENSIONS OFF)` reverts that back again to `c++14`. thanks a bunch!

[2018-11-28 15:32] #944 closed, assigned to nobody

[2018-12-10 13:37] antifa-ev opened #960 "Compile error on mcwamp_hsa"
I was able to compile hcc git version on October 8 the last time. Kernel 4.19.8 with Radeon RX 460

Now it fails after reaching 100 %:
[code]

[2018-12-10 19:42] gongsu832 opened #961 "Latest clang_tot_upgrade branch fail to compile on Linux s390x"
commit 9a0c2a5f839e6c9c7025687da8594419fcb7a203 (HEAD -> clang_tot_upgrade, origin/clang_tot_upgrade, origin/HEAD)

We are trying to port the ROCm userspace stack to Linux s390x. ROCR-Runtime and ROCT-Thunk-Interface build and install fine. But building hcc with the above commit tag fails with an internal error, similar to https://github.com/RadeonOpenCompute/hcc/issues/924#issue-379917759

[code]

[2018-12-10 20:36] david-salinas commented on #960
I'm assuming that you are building from latest clang_tot_upgrade branch, you will need to update/refresh your AMD HSA runtime (hsa-rocr-dev).

[2018-12-13 01:37] baryluk opened #964 "Incorrect package dependencies, libtinfo5 missing?"
[code]

Installing `libtinfo5` packages solved the problem.

[code]

Also the binary looks to be compiled against libtinfo5, but should be compiled with libtinfo6 and linked against libtinfo6, because libtinfo5 is not longer supported and developer. libtinfo6 is source compatible with version 5.

[code]

[2018-12-13 23:51] baryluk commented on #964
And yes, it is used directly by `hcc` binary:

[code]

[2018-12-15 06:21] asleepzzz commented on #960
how to update/refresh my AMD HSA runtime (hsa-rocr-dev)?

[2018-12-15 19:29] PhilipDeegan commented on #907
I've gotten something together based on this now, but I'm having trouble getting an increasing index per device to differentiate which device is being used for the lambda

is there a way to access "get_seqnum" from the device within a lambda?

I'm hoping "get_seqnum" is the 0+ ID for the actual device

[2018-12-16 22:13] misos1 opened #967 "Inaccurate detection of async operations count and inefficient queuing"
When detecting pending async operations seems something is checking only every 4th operation and if it is not done then does not check rest 3. In T 1 only 16 operations are actually active and 64 are waiting to execute but get_pending_async_ops returns still 128 and no new operations are enqueued. Similar at T 11. Actually only at T 10 when every 4th operation is done is this detected, get_pending

[2018-12-17 15:57] PhilipDeegan commented on #907
hmm, I'm having some hanging issues

no hangs with gdb, perhaps a race condition?

https://github.com/Dekken/statick/blob/master/hcc/main.cpp#L141 this in particular

if I call "dev_lambda" sequentially it's fine, but as threads it causes the first one to hang forever

[2018-12-17 16:06] PhilipDeegan commented on #907
is it infeasible to use a KalmarDevice within a thread? hangs/segfaults

[code]

[2018-12-17 16:21] PhilipDeegan commented on #907
nevermind I was doing something daft! I got it working thanks

[2018-12-17 16:21] #907 closed, assigned to scchan

[2018-12-17 18:25] PhilipDeegan commented on #862
similarly ```array_view.sychronize_to``` requires a call to ```array_view.sychronize```

I would have guessed it was implicit

[2018-12-17 19:12] PhilipDeegan opened #968 "array_view accelerator/_view choice in constructor"
is this feasible?

synchronize_to / synchronize seems to have a added overhead

[2018-12-19 13:04] PhilipDeegan commented on #968
alternatively, is it possible to load an "hc::array" directly with data?

[2018-12-21 01:42] jlgreathouse commented on #911
Hi @chriselrod

I mentioned this [in another issue](https://github.com/RadeonOpenCompute/ROCm/issues/520), but in case any other users find this issue through an internet search, I'd like to make sure they see this as well. The newly released Experimental ROC project may be able to help you with your problems of building HCC for Fedora. It includes a full script of scripts for rebuilding ROCm from

[2018-12-31 07:35] dragontamer opened #976 "SSE2 Intrinsics cause compiler error"
I've got some simple SSE2 code here.

[code]

I compile as:

    hcc `hcc-config --cxxflags --ldflags` -msse2 example.cpp -o example

And it outputs the error:

[code]

I'm able to get the compiler to run with `#ifdef __HCC_CPU__ `, but I doubt that is what is intended. My hcc version is as follows:

[code]

[2019-01-10 17:18] ghostplant opened #983 "HCC_RUNTIME=CPU not working for rocm/tensorflow"
I force the runtime to use CPU mode but tensorflow is not able to launch the computation:

[code]

[2019-01-10 17:41] whchung commented on #983
@ghostplant May I understand your desired goal? Do you wish to run this container `rocm/tensorflow:rocm1.9.0-tf1.10-python3` and run all the tensorflow operators on CPU? If that's true, could you try this envrionment variable?

[code]

`HCC_RUNTIME=CPU` was served for other purposes. To tune what GPUs are visible for HIP applications (such as TensorFlow), please use `HIP_VISIBLE_DEVICES`.

[2019-01-10 17:46] ghostplant commented on #983
Hi @whchung , `HIP_VISIBLE_DEVICES=-1` is not my purpose. I want to test how hip data path uses `libmcwamp_cpu.so` when AMD GPU (or `libmcwamp_hsa.so`) is not available, because I think `hcc` was designed for both HSA-based platform and CPU-based platform, right? Such as `Fallback to CPU when HSA fails`, etc.
So does this feature work for tensorflow over HIP?

[2019-01-10 17:49] whchung commented on #983
@ghostplant Unfortunately this route (forcing HCC runtime run on CPU and hope HIP applications work) is not supported.

[2019-01-10 17:51] ghostplant commented on #983
@whchung So do you mean `libmcwamp_cpu.so` is actually not useful?

[2019-01-10 17:55] whchung commented on #983
No, `libmcwamp_cpu.so` is not useful here. Unfortunately `HCC_RUNTIME=CPU` wasn't designed to let HIP applications run on CPU.

[2019-01-23 13:15] ex-rzr opened #999 "Call parameter type does not match function signature"
See https://github.com/ROCmSoftwarePlatform/rocRAND/issues/40

rocRAND cannot be built using HCC > 1.3.18482.
It looks like a compiler bug, but if it's not, any ideas how to fix this are welcome.

(We can't understand what commit should be used to build 1.3.18482, i.e. the version of HCC in official debs).

[2019-01-25 13:02] j-stephan opened #1002 "HC: extract / generate HSA device code only?"
I'd like to view the device code that is generated for HC kernels. How can I achieve this? `hcc` doesn't have any obvious options, and using the `extractkernel` script fails with the following message:

`Incorrect magic string at /opt/rocm/bin/extractkernel line 58.`

My GPU target is gfx900, I'm using the latest ROCm version from the Ubuntu 16.04 repository.

[2019-01-25 15:38] aaronenyeshi commented on #1002
Before building your application, you can use `export KMDUMPLLVM=1` to dump the llvm IR. And use `export KMDUMPISA=1` to dump the ISA. Using `export KMDUMPDIR=\path\to\dir` to select the dump location otherwise it will dump in current dir.
For extractkernel, did you run it on the executable that was generated by HCC?

[2019-01-25 15:48] j-stephan commented on #1002
Thanks, those exports seem to work.

Yes:

[code]

[2019-01-25 18:43] aaronenyeshi commented on #1002
Thanks for kzhuravl: https://github.com/RadeonOpenCompute/hcc/pull/1004

[2019-01-27 01:24] jvesely commented on #62
Turns out that my setup is no longer supported. Clang code explicitly includes:
[code]

It'd be nice if AMD was less cryptic about throwing users with older HW overboard. Especially since Carrizo APU was advertised for HSA ("And the upcoming “Carrizo” APU takes HSA support even further, with design features to make it fully compliant with the HSA 1.0 specification.​")[0].

[0] https://www.amd.com/

[2019-01-28 15:33] ghostplant commented on #983
@whchung Is there a user example to show what CPU-mode (libmcwamp_cpu.so) is used for? Thanks!

[2019-01-29 02:16] jvesely commented on #62
After recovering Carrizo suport in hcc, I can confirm that global variable test works as expected.
The static variable test does not, I guess the `__CPU__` and `__HC__` functions are different with different static namespace.

[2019-01-29 21:49] dragontamer opened #1011 "hcc::__activelaneid_u32() doesn't seem to work in HCC 2.0"
This was originally reported in the ROCm issue tracker. (https://github.com/RadeonOpenCompute/ROCm/issues/688) They asked me to report it here instead.

-------------

Summary of your hardware: Threadripper 1950x + Vega64

PCIe Information: PCIe 3.0.

Here's my test code.

[code]

When I compile...

[code]

Version information:

[code]

------------

For now, my code is using the following as a wo

[2019-01-30 06:37] ghostplant opened #1014 "Possiblity to import HSACO files during runtime like cuModuleLoadData(&hmod, hsaco)?"
With the `extractkernel` tool, I can get the HSACO code from the executable program and saving it as a binary file (e.g. `example.hsaco`).

Are there way to load this binary file into AMD devices at HIP runtime and launch it, which is like what `cuModuleLoadData()` does:

[code]

[2019-01-30 13:30] j-stephan commented on #1002
I can confirm that #1004 fixes the issue with the script. Since there are now two ways of extracting the ISA this issue can be closed IMHO.

[2019-01-30 16:17] #1002 closed, assigned to nobody

[2019-02-01 10:12] ex-rzr commented on #1011
FYI, there is `hc::__lane_id` which does the same but without asm.

[2019-02-01 15:38] dragontamer commented on #1011
Not quite. __lane_id has -1 as the mask to mbcnt. "Active_laneid()" has "exec_lo" and "exec_hi" as the mask.

[code]

The active[] array will be `{0, -1, -1, -1, -1, 1, -1, -1, -1, -1, 2, -1, -1, -1, -1, -1, 3 ...}`

While laneid[] array will be `{0, -1, -1, -1, -1, 5, -1, -1, -1, -1, 10, -1, -1, -1, -1, -1, 15...}`

In effect, laneid[] always returns the same number, regardless of the execution m

[2019-02-01 17:00] ex-rzr commented on #1011
Right, my mistake. I didn't notice `exec` in your code.

However, I'm not sure that your code with `ds_append` is correct. Have you checked it with `asm`?

So it should be like this:
[code]

[2019-02-01 18:18] dragontamer commented on #1011
Not quite yet. Just pointing out why I'm interested in __activelaneid_u32(). I haven't tested (or written) any code like that yet, its just conceptual.

Overall, I'm trying to figure out a cheap and easy pattern for load-balancing (or work-stealing? Work-sharing??) on a GPU. This queue thing seems like it could be a useful pattern to build off of.

[2019-02-01 18:27] dragontamer commented on #1014
I've never done this before. But this blog post seems to be doing what you want?

https://gpuopen.com/rocm-with-harmony-combining-opencl-hcc-hsa-in-a-single-program/

EDIT: In particular, [this .png file seems to have all the major hsa functions you need to call to do what you're asking for](http://32ipi028l5q82yhj72224m8j-wpengine.netdna-ssl.com/wp-content/uploads/2016/06/finalizer-executable-hsa

[2019-02-01 20:04] david-salinas commented on #1011
Thanks.  We're looking into this.

[2019-02-01 20:57] david-salinas commented on #999
Looking at this.

[2019-02-01 21:15] david-salinas commented on #999
So, I just tried to reproduce this error, building rocRAND, with latest HCC and HIP, and I couldn't reproduce the error you're seeing.  But I'm not terribly surprised that you ran into this problem.  There are a lot of "moving parts" (HCC, HIP, and rocRAND) and it is easy to run into this situation, especially if you're building some, or all, of these from source.  I would recommend, if you're pri

[2019-02-01 21:43] david-salinas commented on #976
This is actually expected behaviour.  Those builtins are only available for intel targets.  HCC is a single-source CPU/GPU compiler.  So there are two passes; one for CPU (host) and one for GPU (device) targets.  On the second pass, the target will be amdgcn, where these builtins are not supported.

[2019-02-01 22:08] dragontamer commented on #976
Thanks for getting back to me on this.

I guess what I expected instead, was for only [[HC]] labeled functions to be compiled in the 2nd pass. I would expect that only a minority of code would be for GPUs (the minority which is called by other [[HC]] functions).

I guess, when I use HCC intrinsics or inline-assembly in a [[hc]] function, there's no compiler error. So I was hoping that x86 intrinsi

[2019-02-02 14:11] augustofg commented on #999
Hi,

I'm using ArchLinux and have rebuilt everything from scratch (roct-thunk-interface -> rocr-runtime -> hcc -> hip -> rocrand), still getting the same error when building rocrand:
[code]
I've built the master branch of all components. Can you please provide the exact revision of these components you have used @david-salinas ?

I prefer building everything from scratch, so I can properly package

[2019-02-02 16:02] ghostplant commented on #1014
@dragontamer Great information! I will take a quick look and see whether it works for my purpose.

[2019-02-03 15:16] chazanov commented on #999
Same error for me. @david-salinas I hate Docker, but of course I'm building [in a clean chroot](https://wiki.archlinux.org/index.php/DeveloperWiki:Building_in_a_clean_chroot).

[2019-02-03 19:30] yet-another-account opened #1019 ""No device code available for function" with tensorflow"
HCC version:
[code]

I am using an RX580 with tensorflow-rocm 1.12.
[code]

[2019-02-03 20:27] misos1 opened #1020 "hc::printf is ignoring format specifier when linking with -lmcwamp_hsa"
main.cpp:

[code]

With "-lmcwamp_hsa":

[code]

Without "-lmcwamp_hsa":

[code]

After is added line with "processPrintfBuffer":

[code]

Output:

[code]

[2019-02-03 20:59] misos1 opened #1021 "hc::accelerator_view::get_hsa_queue() returns RocrQueue* instead of hsa_queue_t*"
RocrQueue is private structure inside mcwamp_hsa.cpp so there is no clean way how to retrieve its property "hsa_queue_t *_hwQueue". Examples like this are not working:

https://gpuopen.com/rocm-with-harmony-combining-opencl-hcc-hsa-in-a-single-program/
https://github.com/ROCm-Developer-Tools/HCC-Example-Application/tree/master/BitonicSort-CL-from-HCC

From above example:

[code]

Instead of above

[2019-02-04 06:06] ex-rzr commented on #999
I've checked the latest HCC (`clang_tot_upgrade`) and HIP (`master`) on Ubuntu. Other packages are ROCm 2.0 debs.

[code]
rocRAND can be built. However, there is a recent commit (1d05859, https://github.com/RadeonOpenCompute/hcc/commits/clang_tot_upgrade) that updates submodules.

@Palmitoxico @chazanov @baerbock
1. Release or Debug? I use `-DCMAKE_BUILD_TYPE=Release` for both HCC and HIP.
2. @Pal

[2019-02-04 16:14] whchung commented on #1019
@eukaryote31 Instead of trying to build TensorFlow on your own, is it possible to use docker images for you? Here are some prepared docker images:

https://hub.docker.com/r/rocm/tensorflow/tags

Or could you try pre-built PIP packages?

https://pypi.org/project/tensorflow-rocm/

If you do need to build TensorFlow from source, could you check if you follow exactly every step described at:

https://

[2019-02-05 00:17] yet-another-account commented on #1019
I am already using tensorflow-rocm from pypi.

[2019-02-05 08:23] ex-rzr opened #1024 "Memory access fault by GPU node-2 on Fiji gfx803 (with test cases and ISA)"
This issue is related to
https://github.com/RadeonOpenCompute/ROCR-Runtime/issues/52
https://github.com/ROCmSoftwarePlatform/rocPRIM/issues/15

HCC 1.3.18482 (ROCm 2.0)

[code]

https://github.com/ROCmSoftwarePlatform/rocPRIM/tree/for_hcc_issue_1024

This branch has the workaround disabled and only one active test for simplicity (https://github.com/ROCmSoftwarePlatform/rocPRIM/commit/e9753c4ca92eb

[2019-02-05 14:39] b-sumner commented on #1024
@ex-rzr could you point back to the specific source lines which are being miscompiled and describe the changes you made to avoid the problem.    Anything you can do to help us quickly zero in on the the problem without having to try to understand the entire application and rocPRIM library will save some time.

[2019-02-05 15:42] ex-rzr commented on #1024
@b-sumner
I've created a branch with the workaround disabled and added some instructions. I hope, it's more clear now.

[2019-02-06 19:28] PhilipDeegan opened #1026 "Latest upgrade shows 0 hsa devices"
Just ran a dist-upgrade on Ubuntu 18

No hsa devices found with hc::accelerator::get_all()

[2019-02-06 19:46] PhilipDeegan commented on #1026
removed and reinstalled everything, seems better

[2019-02-06 19:46] #1026 closed, assigned to nobody

[2019-02-07 00:18] david-salinas commented on #1021
Agreed.  I'll create a PR to fix this.

[2019-02-07 17:18] moes1 opened #1028 "Weirdness when compiling openmp double precision atomic directives"
I am trying to compile a project that uses hcc for GPU acceleration and also uses openmp for threading on the CPU. However, I am having an issue getting hcc to compile openmp atomic directives that act on doubles.

For illustrative purposes say the following code is in a file test.cpp:

[code]

Since hcc is clang based I assume I should use libomp, not libgomp. But the following invocation:
[code]

[2019-02-07 21:30] david-salinas commented on #1021
Good News.  Change has been made in PR #1029.

[2019-02-07 21:30] #1021 closed, assigned to david-salinas

[2019-02-07 21:30] david-salinas commented on #967
Looking at this ...

[2019-02-11 20:51] smartbitcoin opened #1035 "hc::copy dead lock from 2 threads"
Two independent  variable pair,  one  GPU->Host,  one  Host-> GPU,   callled   hc::copy from two host threads.  and some time , it will occasionally dead lock each other.

![1](https://user-images.githubusercontent.com/5984485/52592363-d5eb5b00-2e0b-11e9-819b-42817859f9aa.png)
![2](https://user-images.githubusercontent.com/5984485/52592364-d5eb5b00-2e0b-11e9-89b2-393e10a9b509.png)

As my understan

[2019-02-12 06:02] mythreyi22 opened #1037 "libmcwamp_hsa.so: undefined symbol: KalmarContext* getContext()"
Hello,

When attempting to run CNTK python examples with hip backend, I am facing this issue. I had to locally define KalmarContext* getContext(); in lib/hsa/mcwamp_hsa.cpp and build hcc from source. Am I missing something?

Thank you,
Mythreyi P

[2019-02-13 08:33] ssahasra commented on #1020
Reassigning to Siu Chi. I don't really know how the current printf works. On the look of it, it's rather strange that the program even compiles without "-lmcwamp_hsa", because the printf header says that the printf_buffer is defined in mcwamp_hsa.cpp.

[2019-02-14 05:13] ghostplant commented on #1014
@dragontamer I found that `hipModuleLoadData()` has already been available and it worked well, while aql-based management is too much complex. Thanks!

[2019-02-14 23:49] chazanov commented on #999
@ex-rzr Hi,
may you please upload your binaries of hcc & hip?

With the same config like you (release builds of hcc `clang_tot_upgrade` & HIP `master` from today):
`HCC clang version 9.0.0 (https://github.com/RadeonOpenCompute/hcc-clang-upgrade.git 2d7f3a3c8f385c0aba115a6eed3ca96dd0b289e9) (https://github.com/RadeonOpenCompute/llvm.git 5f38a9683361416cfecc3e9c55f8c48dc5d5a041) (based on HCC 1.3.19

[2019-02-15 22:50] PhilipDeegan opened #1045 "half float usage"
Hey there folks,

Do you have a suggested method for using halfs with ROCm?

I don't know of a standard half, so please let me know how it might be used.

[2019-02-18 14:26] AlexVlx commented on #1045
`_Float16` (http://clang.llvm.org/docs/LanguageExtensions.html#half-precision-floating-point) is the preferred alternative (note that due to recent changes in Clang there may be a temporary hiccup around this).

[2019-02-18 19:56] PhilipDeegan commented on #1045
much obliged @AlexVlx

[2019-02-18 19:56] #1045 closed, assigned to nobody

[2019-02-19 03:36] ghostplant commented on #879
I think ROCm for APU has actually been supported using Linux kernel 4.20 + a special docker image with APU patches, whose gcnArch is recognized as `gfx902`.

[2019-02-19 06:39] ghostplant commented on #1019
@eukaryote31 What is the output of command `rocm_agent_enumerator` in your environment?

[2019-02-20 13:01] ghostplant commented on #545
@scchan Hi, I am using rocm-2.0.0 installed on my APU to run **very-heavy** OpenCL program and I also got errors from kfd like:
[code]
What should be done to increase the limit? Would it still work by changing the value of queue size below?
https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/lib/hsa/mcwamp_hsa.cpp#L79

According to latest ROCm codes, I saw multiple related size are def

[2019-02-20 16:40] david-salinas commented on #1011
PR #1018 was merged last week.  Closing this Issue.

[2019-02-20 16:40] #1011 closed, assigned to david-salinas

[2019-02-24 16:19] kingcrimsontianyu opened #1052 "Error: Page not present or supervisor privilege on Vega 56"
I have a CUDA code where no error is found using Nvidia's `cuda-memcheck`. The code has just been ported to HIP but crashes with the error message `Memory access fault by GPU node-1 (Agent handle: 0x19cdbc0) on address 0x103869000. Reason: Page not present or supervisor privilege.` The error occurs on both the latest version `2.1.96` and older one `1.9.307`.

Now the interesting thing is, if I cha

[2019-02-26 04:22] mythreyi22 opened #1055 "Illegal instruction error with HCC version, 1.3.19045-fea3e2b-683c680-6e349ce"
Hello,
HcSparse calls are crashing with Illegal instruction error with HCC version, 1.3.19045-fea3e2b-683c680-6e349ce[ rocm 2.1]. With the previous HCC  versions, the HcSparse calls and HcSparse unit tests run successfully.

The problem can be experienced with  HcSparse unit tests.
HcSparse tests :
./nnz_float_test_API
Successfully initialized sparse library
successfully created mat descriptor
Ill

[2019-02-26 04:55] tstellar opened #1056 "libmcwamp_hsa.so has an executable stack"
libmcwamp_hsa.so is built with an executable stack:

readelf -l libmcwamp_hsa.so | grep GNU_STACK -A 1
GNU_STACK      0x0000000000000000 0x0000000000000000 0x0000000000000000
                           0x0000000000000000 0x0000000000000000  RWE    0x10

I think this is happening because mcwamp_hsa.cpp.o hsa a note.GNU-stack section that is marked
executable.  Is this being done intentionally?  I h

[2019-02-27 23:06] david-salinas commented on #1037
KalmarContext* getContext() is defined in lib/mcwamp.cpp and libmcwamp.so.  How are invoking HCC ?

[2019-02-28 04:43] ex-rzr commented on #999
@david-salinas

Turned out that `-fstack-protector-strong` causes this crash. rocRAND doesn't use this flag but some users have it set "system-wide" (for example, in `/etc/makepkg.conf` which is used for building packages in Archlinux).

Even if there is an incorrect code in rocRAND (but I don't see it), the compiler must show an error, not crush.
I can add to rocRAND's cmake a code that removes t

[2019-02-28 21:55] smartbitcoin commented on #1052
local structure variable will be constructed when instantiating and destructed after out of scope.  you don't show the detail about Particle , ComputerThread and Pyhsics in post.  but keep in mind the object in gpu global function will use register  or use local memory ( if it's not indexable array based )( which is the shared memory in nvidia , LDS in amd  ).
if the register over split too much ,

[2019-03-04 04:42] kingcrimsontianyu commented on #1052
Thanks for your input.

I have reduced the problem size to 1 thread per block and 1 block per grid (pardon for Nvidia terminology which I'm most familiar with), but the problem persists.

Does hcc use unified memory address for host and GPU? I checked the addresses of GPU memory allocated by `hipMalloc()`, but none overlaps the reported offending address.

Due to lack of memory checker to pinpoint

[2019-03-13 16:07] pfultz2 opened #1078 "HCC no longer builds"
Building the latest hcc from clang_tot_upgrade, I get this error:

[code]

This seems to be related to PR #1017, which suggest I use the installed rocm-device-libs package. However, after installing the rocm-device-libs package, I get this error:

[code]

So it seems I need to build a newer rocm-device-libs package, but I need the hcc compiler to do that, which is what I am currently compiling cre

[2019-03-13 16:26] david-salinas commented on #1078
Hi Paul.   I'm looking at this, to see if I can reproduce.  So far our existing HCC build/test jobs have been fine using the Device-Lib installed; though we're using a docker container that always grabs the latest available from the Debian server.

After updating Device-Libs, you may need to clear out your build directory (I don't trust make clean, I just "rm -rf build/").  If you can verify that

[2019-03-13 17:19] pfultz2 commented on #1078
This is after doing `rm -rf build` on the directory. This is using the rocm-device-libs from rocm 1.9.2.

[2019-03-13 18:27] david-salinas commented on #1078
So I can't reproduce this error.

HCC's CMakeLsits.txt file tries to find the Device Library with this code: https://github.com/RadeonOpenCompute/hcc/blob/a40a877bb78d7af766e3d7ea6eb2d8157c3818bc/CMakeLists.txt#L105

Can you see if the device libs are in /opt/rocm/lib?  Look for ocml.amdgcn.bc.  If they're not there, you may need to reinstall the Device Libs into the default location.  Or if you'r

[2019-03-13 18:34] scchan commented on #1078
@pfultz2  could you try with a newer device library package from rocm 2.1 or 2.2?

[2019-03-13 19:31] pfultz2 commented on #1078
Yes:

[code]

[2019-03-13 19:48] scchan commented on #1078
The files' date (Nov 13) seems to indicate that you have an older version.  I installed the one from rocm 2.2 (Mar 7) and that package includes hip.amdgcn.bc, which is missing in your directory.

[2019-03-13 19:57] pfultz2 commented on #1078
So where is the cmake build scripts to build a newer rocdl with hcc?

[2019-03-13 20:20] david-salinas commented on #1078
I would suggest removing the existing rocm-device-libs package with: "sudo apt-get --purge remove rocm-device-libs".  Then, make sure you're using the radeon debian repo with these commands:

wget -qO - http://repo.radeon.com/rocm/apt/debian/rocm.gpg.key | sudo apt-key add -
echo 'deb [arch=amd64] http://repo.radeon.com/rocm/apt/debian/ xenial main' | sudo tee /etc/apt/sources.list.d/rocm.list

th

[2019-03-13 20:22] scchan commented on #1078
There isn't a new build script for rocdl to build with hcc.  The normal build process is to build clang and llvm first.

If you are up to the point in the hcc build where the LLD complains about missing a builtin file, then you could point the rocdl build to the clang compiler from hcc through the `CC=` variable and also specify the `LLVM_DIR` to point to the `compiler` directory in `hcc`.  I have

[2019-03-13 20:51] pfultz2 commented on #1078
We are pulling from the 1.9.2 archive repos from [here](http://repo.radeon.com/rocm/archive/). This is to match what we have on the host.

[2019-03-13 21:24] pfultz2 commented on #1078
Where is the repo for those? The readme suggests pulling from the "amd-common" branch across several repos, which is what we do *NOT* want to do since it is not reproducible. Is there a repo we can clone that has the submodules for clang and llvm with a cmake build script to build?

[2019-03-14 17:10] scchan commented on #1078
It works with clang and llvm trunk.  You can also try fetching hcc's clang and llvm, run hcc's cmake, build only clang/llvm/llvm with `make clang; make lld` and then use those binaries to build rocdl

[2019-03-15 10:39] sriharikarnam opened #1081 "Runtime issue for thrust::copy API"
**Background:** Porting Thrust library to ROCm Platform

**Error Description**:
The unit test case fails when copying stl vector to device vector for mixed data types (int to float) and giving runtime issue "Missing metadata for __global__ function" for HIP/ROCm. The same test case is running successfully when it is exercises in HIP/CUDA.

The code snippet  for causing the  issue is
   {
    ...

[2019-03-15 14:17] whchung commented on #1081
Please review your test case first as there is no clear indication it's a bug in the compiler or runtime.

Reviewing copy_log.txt we can see this kernel works fine:

[code]

but not this one:

[code]

If you use `c++filt -n` to demangle the good one you can find traces of `thrust::detail::unary_transform_functor<thrust::identity<int>`, while in the bad one you can see `thrust::detail::unary_transf

[2019-03-17 19:09] VincentSC commented on #999
@david-salinas, do you have a build of the compiler that does not crash on this, so we can see the error? In the short term, how can we override `-fstack-protector-strong` the easiest?

[2019-03-17 21:21] searlmc1 commented on #715
Hi,

This was fixed in ROCm 1.9.x, though I would suggest using one of the more recent ROCm 2.x releases.

Let us know if you run into any issues.

[2019-03-17 21:21] #715 closed, assigned to nobody

[2019-03-18 08:11] sriharikarnam commented on #1081
The sample code having the same execution path for both nvcc and hcc but nvcc executes successful and hcc fails.

code_sample.cpp  --> hipcc --> hcc --> code generation issue

code_sample.cpp  --> hipcc --> nvcc --> code generation works

We are suspecting that code generation at compilation causing the run time error in hcc.

Attached  the error generating  code snippet below.
[copy_sample.cpp.tx

[2019-03-18 17:24] PhilipDeegan opened #1084 "Upstream Kernel 5.0.2 - no device found"
Hey folks, hope this is an easy one, I built 5.0.2 earlier and I *think* I checked all the AMD GPU goodies and HSA. rocm-smi shows GPU, lshw shows amdgpu is in use - but saxpy fails

Thanks

[2019-03-18 17:33] PhilipDeegan commented on #1084
looks like amdkfd sources were compiled, but I don't see any amdkfd.ko

[2019-03-18 18:33] PhilipDeegan commented on #1084
looks like just this was required

```echo 'SUBSYSTEM=="kfd", KERNEL=="kfd", TAG+="uaccess", GROUP="video"' | sudo tee /etc/udev/rules.d/70-kfd.rules```

[2019-03-18 18:33] PhilipDeegan commented on #1084
https://github.com/RadeonOpenCompute/ROCm#rocm-support-in-upstream-linux-kernels

[2019-03-18 18:33] #1084 closed, assigned to nobody

[2019-03-20 05:55] ghostplant commented on #1014
Recently, I found that `hipModuleLoadData()` only works for HSACO codes with no global variables used, which would otherwise fail and report:
[code]

`hipModuleLoadData()` is expected to handle global variables import automatically. How to handle this case?

[2019-03-20 09:39] shimmerhuangAMD opened #1088 "Link stage fail if using Response file"
### Description
HCC would create a temp Response File under /tmp/response-xxx.txt to take the whole command line if the length of the command line does not fit in system limit. Then the **clamp-link** would expand the Response File  and pass each command to host linker. However, linker would report a bunch of error:

### How to reproduce
-  Compile the sample code HelloWorld.cpp to generate hellow

[2019-03-20 09:40] shimmerhuangAMD commented on #1088
I'll provide a fix for review soon

[2019-03-20 18:32] david-salinas commented on #1078
Hi @pfultz2 , so we recently did reverse PR #1017 with PR #1083 .  With newest HCC (in clang_tot_upgrade branch) this issue should be resolved.  Can you confirm ?  Thanks.

[2019-03-20 19:46] david-salinas commented on #1056
@AlexVlx @scchan @whchung Do any of you recall if we need to have an exec stack in mcwamp.o?  I can try to add -noexecstack to our build of mcwamp.cpp and see if all still works.

[2019-03-20 20:58] david-salinas commented on #1055
Please take a look, and try out, rocSPARSE https://github.com/ROCmSoftwarePlatform/rocSPARSE , HcSparse is not currently being maintained.

[2019-03-20 21:07] david-salinas commented on #1056
@tstellar This just seems like the default (on ubuntu for ELF), unless we explicitly remove the exec stack from mcwamp.o.    Do you have concerns with the exec stack being there?

[2019-03-20 21:12] FelixSchwarz commented on #1056
From https://fedoraproject.org/wiki/Packaging_tricks#Executable_stack

[2019-03-20 22:49] tstellar commented on #1056
@david-salinas As @FelixSchwarz mentioned we prefer not to ship executable stacks in Fedora, but I guess my question is less about libmcwamp_hsa.so having an executable stack and more about why does hcc compile objects with an executable stack by default.  I don't think this is Ubuntu specific since it also happens on Fedora.

[2019-03-21 09:37] mythreyi22 commented on #1055
It was an issue wrt my local HCC, Hcsparse works fine. Thank you.

[2019-03-21 15:09] #1055 closed, assigned to nobody

[2019-03-22 03:40] #1088 closed, assigned to nobody

[2019-03-22 11:58] whchung commented on #1081
@david-salinas for apparent reasons I can't really be assigned to this ticket and drive it to conclusion J

[2019-03-22 22:42] jithunnair-amd opened #1092 "LIBCXX_HEADER paths in CmakeLists.txt"
Are these paths in the CMakeLists.txt not a bit too restrictive? For eg. I had the headers installed but they were in /usr/include/c++/5 (I have gcc-5 installed). Creating a soft link from /usr/include/c++/5 -> /usr/include/c++/v1 helped as a workaround, but is that the proper solution?

[code]

[2019-03-23 17:37] scchan commented on #1092
If you are not trying to switch to the libc++ from llvm, could you try `cmake -DUSE_LIBCXX=OFF`?

[2019-03-27 20:25] jithunnair-amd commented on #1092
While `cmake -DUSE_LIBCXX=OFF` does indeed work, the issue I was trying to highlight was the hardcoded path that the cmake file looks into for libc++ headers, specifically the `/v1` part. Is that expectation always correct?

[2019-03-27 21:11] scchan commented on #1092
LIBCXX is a different C++ runtime implementation and that is different than the one used by GNU g++ by default.  The `v1` part is the location for the llvm implementation, which we no longer support.  The issue why you get into this is that there's some logic in the cmake to try to detect which C++ runtime implementation to use and that was confused by using clang as the build compiler.  Since we

[2019-03-28 09:10] holyprince opened #1097 "LLVM ERROR: Cannot select: 0x48b91b8 i1 = add 0x48b9080, Constant:i1<-1>"
When I using hipcc to link some ported function from cuda. The linker shows the error info:
[code]

I also try to change the AMDGPU_TARGET by export HCC_AMDGPU_TARGET=gfx900 also doesn't work.
I look at these similar problems  #754  and #768, but it doesn't work for me.
Also, I try to just compile the error function (hip_kernel_diff2_coarse) as follows but the error doesn't appear.

[code]

[2019-03-28 18:06] misos1 opened #1098 "HCC development should not be abandoned"
HCC is great language. I personally do not like CUDA-like style used in HIP. Is HCC not used as backend for HIP? Will not be then HIP based on deprecated and abandoned backend with no more development and bugfixing? HIP is missing many great features of HCC like C++ host api, automatic memory "movements" (instead of manually moving memory between GPU and CPU using hipMemcpy), RAII smart pointers (

[2019-03-29 18:13] scchan commented on #1081
For the first copy test that failed, I could see that the host is trying to launch a kernel with name:
  `_ZN6thrust6system4cuda6detail5bulk_6detail15launch_by_valueILj0ENS4_9cuda_taskINS3_14parallel_groupINS3_16concurrent_groupINS3_5agentILm1EEELm0EEELm0EEENS4_7closureINS2_17for_each_n_detail15for_each_kernelENS_5tupleINS4_6cursorILj0EEENS_12zip_iteratorINSG_INS_6detail15normal_iteratorINS_7point

[2019-03-29 20:26] scchan commented on #1098
We'll continue to develop and support HIP but not the hc:: API and its programming model.
We don't see how hc:: would fit in the future of C++ for GPUs.  ISO C++ is heading into a completely different direction with the executor proposals.  C++AMP never gained any traction and seems to be disappearing.  We think this is the right moment for us to stop developing hc:: and focus in other areas.
This

[2019-03-29 20:26] #1098 closed, assigned to nobody

[2019-03-29 20:27] #1092 closed, assigned to nobody

[2019-03-29 20:27] #1078 closed, assigned to david-salinas

[2019-04-05 19:59] ubombi opened #1104 "Test suite does not pass on custom-packaged distro"
I'm trying to use Tensorflow (successfully built), Blender, DavinciResolve, etc... But everything seems broken.

I tried to run hcc tests and got some failures
_(hcc:clang_tot_upgrade (7c6c3a8 ) | rocr-runtime:2.2.0 | roct-thunk-interface:2.2.0)_
[code]

for failed tests command output (stderr):
[code]

So i specified `HSA_AMDGPU_GPU_TARGET:STRING=gfx900` and rebuild `hcc`. That fixed some tests.

[2019-04-08 12:10] bluescarni commented on #1098
Could you expand on what "other areas" means exactly? Does this potentially include an effort from AMD to support open standards such as SYCL or perhaps ISO C++ executors?

Personally, HCC has been the single reason why I started investing in GPU computing. As someone who usually writes modern C++, the hc:: API has been an absolute blast to work with - automatic memory management, ability to use m

[2019-04-08 17:06] pfultz2 commented on #1098
You can launch hcc-style kernels with lambdas in HIP with this function:

[code]

Then you can launch kernels with:

[code]

It just wont take care of memory movement like hcc would, and there is still no C++ memory management.

[2019-04-14 03:48] ghostplant opened #1114 "[BUG] Vector Reduce Example using Shared Memory is Wrongly Executed"
The following code doesn't output correct result, while the output from CUDA is correct.
[code]

The code is very simple, which computes Z(1, 1) = X(1, 1024) * Y(1024, 1), where all elements in X and Y are filled with 1.0f, so the output answer should be 1024.0f, while ROCm outputs 512.0f.

[2019-04-14 03:50] ghostplant commented on #1114
The error happens on this line, which doesn't take effect, so the finally answer is half of the correct sum:
[code]

[2019-04-14 04:31] dignakov commented on #883
Would it be possible to get some feedback on whether this is something being worked on/considered?

[2019-04-15 02:41] ghostplant commented on #1114
@sunway513 Any attention for this compiler bug? Hope to fix it soon~

[2019-04-15 03:13] sunway513 commented on #1114
cc @david-salinas @scchan , I can repro the result `sdot = 512` with ROCm2.3.

[2019-04-15 03:18] ghostplant commented on #1114
@sunway513 Yeah, this compiler bug has a seriously bad impact on ROCm stability.

[2019-04-18 22:06] david-salinas commented on #1114
@ghostplant : thanks.  Just to keep you updated, we've opened an internal issue/bug report for this problem.   We're investigating and will update this Issue.

[2019-04-19 06:55] ex-rzr opened #1121 "hc::array fails with Memory access fault on Vega 10 (MI25)"
[code]

To compile and run:
[code]

After a few iterations:
[code]

Vega 10 [Radeon Instinct MI25], the latest ROCm (2.3)
[code]

It works on Fiji (S9300) + ROCm 2.3 and Vega 20 + ROCm 2.2.

[2019-04-19 07:25] ex-rzr commented on #1121
[code]

[code]

[2019-04-19 09:35] sriharikarnam commented on #1081
As per your inputs we have identified  the signatures of the required kernel. The  signatures of kernel  are  same for HIP/ROCm and HIP/CUDA. Please find the attached documents of the function signatures. Are there any chances of changing the signatures before compilation or at the compilation time.
[function_signature_cuda.txt](https://github.com/RadeonOpenCompute/hcc/files/3097687/function_signa

[2019-04-19 11:17] ex-rzr commented on #1024
This issue is not fixed in ROCm 2.3.

But good news: I managed to create a small test case without external dependencies:
https://gist.github.com/ex-rzr/98e429dad13aa17ba1e67fc7145ba827
[code]

The last 10 items are a "canary" area, they must be 0 (not modified by the kernel). Like this (MI25, gfx900):

[code]

However, on Fiji (gfx803)

[code]
(So it's just a good luck that there is no "Memory ac

[2019-04-19 11:31] ex-rzr commented on #1024
Another example (a test case from rocPRIM):

gfx803:
[code]

gfx900:
[code]

[test_hip_counting_iterator.zip](https://github.com/RadeonOpenCompute/hcc/files/3097974/test_hip_counting_iterator.zip)

[2019-04-19 15:05] b-sumner commented on #1024
Thank you for the helpful new standalone code.  And let me apologize for the delay on getting to this.

[2019-04-22 20:48] misos1 commented on #1098
Actually most things which I mentioned like automatic memory "movements" and RAII allocation/deallocation can be done by using standard C++ idioms and based on some C-like api like HIP or HSA as is done in hc array_view.

Only thing about which I was really afraid was lambda kernels but is good to realise that even this is doable in C++ even when we have api that does not directly supports lambda

[2019-04-23 19:33] david-salinas commented on #1097
@holyprince is this still failing for you with latest HCC?  I can't reproduce, but that's because I don't have your header file "acc_projectorkernel_impl.h"

[2019-04-23 21:16] david-salinas commented on #1056
@tstellar sorry for the delay.  So, I believe this is an artifact of default Clang behaviour.  I'm trying to see if this can be disabled by default.

[2019-04-26 11:01] PhilipDeegan opened #1128 "half float usage"
Hey there folks,

Is there something special required to get _Float16 linking on x86_64?

getting this at the moment with both HCC and CLANG8

[code]

Also, is there a way to get "typeid(_Float16).name()" working that you know of?

Thanks

[2019-04-26 14:37] kingcrimsontianyu opened #1130 "Use of __any in branching code gives wrong result"
Initially I reported this problem to HIP but I think the cause of the problem is more relevant to hcc:
https://github.com/ROCm-Developer-Tools/HIP/issues/952

[2019-04-29 22:30] david-salinas commented on #1020
@misos1 with latest HCC does this still occur for you?  I can't reproduce it.  Also, libmcwamp_hsa gets loaded at runtime by libmcwamp, so there really isn't any need to link it in when you compile (call hcc).

[2019-04-30 16:07] misos1 commented on #1020
This is already fixed. I noticed some changes in rocm 2.3 in hc_printf.hpp where hc::processPrintfBuffer was removed. It was actually quite interesting feature to call processPrintfBuffer and flush printf buffer in middle of kernel execution, especially if it takes really long time, to print some simple progress or for debugging to see what is happening and when.

Is it not possible anymore to flu

[2019-04-30 16:08] #1020 closed, assigned to david-salinas

[2019-04-30 21:51] ghostplant commented on #1002
@aaronenyeshi How can I use `llc` to compile the ll code (dumped via KMDUMPLLVM) to amdgpu HSACO target module?

[2019-04-30 21:55] ghostplant commented on #548
@smithakihide Is hcc program runnable on Windows?

[2019-04-30 22:01] aaronenyeshi commented on #1002
If it's .ll code, it needs to be first transformed into .bc (bitcode) form. You can do that using `llvm-as`. then to lower into HSA ISABIN, use `llc -mtriple amdgcn-amd-amdhsa -mcpu=gfx900 -mattr=-code-object-v3 -O2 -amdgpu-function-calls=0 -filetype=obj -o <output1>.isabin <input>.bc`. Then to transform into .hsaco use `ld.lld -shared <output1>.isabin -o <output2>.hsaco`.

[2019-04-30 22:09] ghostplant commented on #1002
@aaronenyeshi Thank you, but I still got some errors:

This is the single-file LLVM code for amdgpu generated by TVM:
[code]

I want to compile it into an HSACO file so that I can load it by hipModuleLoad and do something more after that.

I follow your instructions, but failed to transform it into bc form (using latest LLVM-9):
[code]
Seems like llvm-as doesn't understand this shared memory varia

[2019-04-30 22:14] ghostplant commented on #1002
@aaronenyeshi The problem is solved, just because global value of private type should be external type.

[2019-05-01 20:47] david-salinas commented on #960
sorry for not getting back to you sooner.  Just do an "apt-get update" and then "apt-get upgrade".  Is this still an issue for you with latest HCC ?

[2019-05-04 18:49] prateeksahu commented on #960
Hi @david-salinas , I am on clang_tot_upgrade branch as well and am facing this issue. I did a apt-get update and apt-get upgrade too. by latest HCC, do you mean the master branch?

[2019-05-09 10:29] arsenm commented on #1024
https://github.com/llvm-mirror/llvm/commit/aa2f57df85af2056eafbef94380664a55570fa83 should fix this particular case

[2019-05-09 16:16] david-salinas commented on #1056
@tstellar so HCC will generate objects with an executable stack, because clang does this by default.  This can be disabled with the linker option -Wl,-z,noexecstack when you invoke HCC.  Our "clamp-link" respects any passed linker options (-Wl).  Also, the dynamically linked shared library "libmcwamp_hsa.so" currently does still have this executable stack entry, but I'm uncertain if this poses a s

[2019-05-10 06:50] FelixSchwarz commented on #1056
Regardless of the actual security impact it would be nice to have non-executable stacks wherever possible.  :-)

[2019-05-11 03:50] KevinWhalen commented on #884
Following https://github.com/RadeonOpenCompute/ROCm/issues/567#issuecomment-430771267 seems to get it working with `npth`.

[2019-05-13 05:17] ghostplant opened #1150 "return kernel execution error instead of program crash"
Is it possible to avoid such abort message which fully terminates the user applications? In the context of HIP, can it be replaced by an error return value when doing `hipStreamSynchronization()`?
[code]

[2019-05-13 08:30] huangjw08 opened #1151 "kernel name is garbled when using HCC_PROFILE=2"
I using roc_blas library to do HPL Benchmark. And the program works fine. But when I using this command to generate log file:
 `HCC_PROFILE=2 ./executeName &> prof.out`
I found there are some garbled characters in this output log file.
![2019-05-13_161455](https://user-images.githubusercontent.com/13818576/57605971-77fd1980-759a-11e9-9741-ae04188c51c2.jpg)

And I think there are mainly three kerne

[2019-05-13 14:50] jeffdaily commented on #1151
Which version of hcc are you using?  This should have been fixed by https://github.com/RadeonOpenCompute/hcc/pull/1111.   The fix did not make it in time for our roc-2.4.x branching, but will be part of roc-2.5.x.

[2019-05-14 01:07] huangjw08 commented on #1151
@jeffdaily The version of hcc clang is 9.0.0
![2019-05-14_090533](https://user-images.githubusercontent.com/13818576/57663657-788fc180-7627-11e9-886e-3d2974fc553d.png)

[2019-05-14 21:58] jeffdaily commented on #1151
If you cannot wait for ROCm 2.5 to be released, the only alternative would be for you to build your own hcc and replace `libmcwamp_hsa.so` with a patched version based on the ROCm 2.3 branch of hcc.
 I have done this in one of my fork's branches, so there is no need for you to cherry-pick the fix.
 Something like the following:

[code]

If you upgrade to ROCm 2.4, the issue remains, and I have yet

[2019-05-15 02:17] huangjw08 commented on #1151
@jeffdaily I have built your patched version of hcc and copy libmcwam_hsa.so to /opt/rocm/hcc/lib/ directory. But it seems does not work.

![2019-05-15_100800](https://user-images.githubusercontent.com/13818576/57743900-8f9ee400-76f9-11e9-8f18-cfdddc5d6f7a.jpg)

Then I reactived my original libmcwam_hsa.so. This program works fine again.
Is there anything wrong?

[2019-05-15 14:51] scchan commented on #1151
If you upgrade to a different version of HCC then you'll probably have to rebuild HIP and everthing that depends on it.
If the rest of your stack is still on 2.3, then apply #1111 to the 2.3.x branch and build/copy libmcwamp_hsa.so into /opt/rocm/hcc/lib

[2019-05-15 14:51] #1151 closed, assigned to nobody

[2019-05-15 15:13] scchan commented on #1150
Currently I believe only the Debug Agent could intercept this.
I'm going to close this since further discussion should happen in HIP

[2019-05-15 15:13] #1150 closed, assigned to nobody

[2019-05-16 05:23] ghostplant commented on #1150
@scchan Thanks, it is important for the GPU kernel not to crash unexpectedly. Such errors include not only `page access`, but also `invalid GPU kernel` error.

[2019-05-16 20:22] pinoji opened #1155 "Compiling error for shared library"
In an older version of hcc, this code worked but after an update ( hcc:amd64 (1.3.19115, 1.3.19174)), it stopped working with error code "linker command failed exit code 139".  Since my program is really huge, I tried to single out the place where the shared library failed to compile.  Now, it has the error code "linker command failed with exit code 1" but I am suspecting that they are the same er

[2019-05-17 06:33] rohitsharma123123 commented on #879
I’m having the same trouble on my gfx902 @ghostplant can you share more details on the docker image with APU patches .

[2019-05-17 06:46] ghostplant commented on #879
@rohitsharma123123 Firstly, you should have Ubuntu 18.04, then upgrade your linux kernel to 5.0 for your system.

Then install rocm-2.0-with-gfx902-patched from here: https://github.com/ghostplant/public/releases/download/ubuntu/ubuntu_bionic-rocm2_gfx902.tar.gz

After that, you can compile any HIP sources in this environment which is executable on gfx902.
Official pre-built rocm applications (e.g

[2019-05-17 06:56] rohitsharma123123 commented on #879
Thank you so much @ghostplant

[2019-05-17 07:34] rohitsharma123123 commented on #879
@ghostplant my current installation is 16.04, I’m guessing that shouldn’t be a problem when installing/compiling rocm as its supported ? My work is also focused mainly on Pytorch , is there a Pytorch-rocm installation available or do i need to rebuild them ?

[2019-05-17 08:04] ghostplant commented on #879
@rohitsharma123123 If you use 16.04, upgrade kernel to 5.0 is still needed, and you can download a 18.04 docker image and install packages inside. I don't have pre-built pytorch-rocm for gfx902.

[2019-05-17 08:06] ghostplant commented on #879
@rohitsharma123123 Actually, gfx902 performs only about 20x faster than single CPU thread, so you should not expect it can do much useful work.

[2019-05-17 08:54] rohitsharma123123 commented on #879
Ok @ghostplant will try it out or else will install 18.04
Thanks for the details.

[2019-05-21 06:36] ghostplant opened #1158 "Most cases are far from the expected tflops for Radeon VII"
Although Radeon VII declares 11 TFlops performance, very few cases from rocblas/MIOpen/.. can reach to it, typically the good cases are only from operations used by Resnet50. For almost all other cases, the TFlops are hardly better than 8Tflops, which is even worse than 1080Ti.

[2019-05-21 08:11] ghostplant opened #1159 "Is it possible to R/W GPU physical memory data in linux driver mode?"
Is it possible to R/W GPU physical memory data in linux driver mode?

[2019-05-27 08:06] brij01 opened #1163 "run time error: MemoryManager: Requested to reserve ### HCC STATUS_CHECK Error: HSA_STATUS_ERROR_EXCEPTION (0x1016) at file:mcwamp_hsa.cpp line:1193"
HI

Compilation went well, at the run time.. getting below error [1]
tried modifying system limites without any success.
please suggest.

[1]
MemoryManager: Requested to reserve 27000 B (27136 B aligned) for argument dev_weak_tracks
MemoryManager: Requested to reserve 73728 B (73728 B aligned) for argument dev_tracks_to_follow
MemoryManager: Requested to reserve 110592 B (110592 B aligned) for arg

[2019-06-03 07:23] brij01 commented on #1163
any suggestions please ??

[2019-06-04 06:53] holyprince commented on #1097
Thank you very much, I can not update to latest HCC, but the problem I have solved in another strange way  in program.

[2019-06-04 06:55] #1097 closed, assigned to david-salinas

[2019-06-05 00:56] skeelyamd commented on #1024
@b-sumner or @arsenm:  It looks like the compiler fix is in.  Can we close this issue?

[2019-06-05 06:19] skeelyamd commented on #1024
@b-sumner, can you comment on when HCC might pickup this fix?

[2019-06-05 13:09] arsenm commented on #1024
I don’t have the option of closing it

[2019-06-05 15:53] scchan commented on #1024
Currently the fix is only available in HCC's development branch (clang_tot_upgrade), you'll have to build the compiler from source to get it.

[2019-06-10 20:17] saitam757 opened #1175 "Error compiling HCC: <Mutex> not found"
Hi. I'm trying to compile Hcc on Solus Linux (Package files [here](https://github.com/saitam757/ROCm-Solbuild) ). Shortly before end of compiling I get the following error:

[90%] Built target hc_lib Scanning dependencies of target mcwamp_atomic
[ 90%] Generating workitem.
[ 90%] Building CXX object lib/CMakeFiles/mcwamp_atomic.dir/mcwamp_atomic.cpp.
            /home/xxxx/Projekte/native_repro/hc

[2019-06-13 20:57] nonpolarity opened #1178 "hcc 2.x compiling fails with -DCMAKE_BUILD_TYPE="Debug""
Scanning dependencies of target hc_am
[100%] Building CXX object lib/hsa/CMakeFiles/hc_am.dir/hc_am.cpp.o
wrong cast for pointers in different address spaces(must be an address space cast)!
UNREACHABLE executed at /data/rocm-2.3/hcc/clang/lib/CodeGen/CGExprScalar.cpp:2044!
Stack dump:
0.      Program arguments: /media/justus/data/rocm-2.3/hcc/build/compiler/bin/clang-9 -cc1 -D__KALMAR_HC__=1 -D__H

[2019-06-18 13:44] wormwang opened #1181 "Failed building source of rocBLAS of roc-2.5 with hcc of rocm2.5"
https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/576

[2019-06-18 13:44] wormwang opened #1182 "Failed building source of rocBLAS of roc2.5 with hcc"
issue also open at rocBLAS
https://github.com/ROCmSoftwarePlatform/rocBLAS/issues/576

[2019-06-20 05:47] wormwang commented on #1182
build successful with hcc of rocm2.4

[2019-06-20 05:47] #1182 closed, assigned to nobody

[2019-06-20 05:48] wormwang commented on #1181
build successful with hcc of rocm 2.4

[2019-06-20 05:48] #1181 closed, assigned to nobody

[2019-07-01 11:06] ghostplant opened #1188 "Where is the definition of `__ockl_sdot2`"
`__ockl_sdot2` is used by `amd_mixed_dot`, and I want to see how the `saturate` influences the result. By tracing all the source codes from hcc and HIP, I didn't see such implementation of `__ockl_sdot2` anywhere, so I won't know how `saturate` works. Can anyone provide more information about `saturate` argument from `__ockl_sdot2`?

[2019-07-01 14:46] b-sumner commented on #1188
It works just like the clamp bit works on other instructions.  Anyway, see https://github.com/RadeonOpenCompute/ROCm-Device-Libs/blob/master/ockl/src/dots.cl#L56

[2019-07-01 14:48] b-sumner commented on #1188
Ugh.  I see a bug in the software implementation though.  Should be fixed soon.

[2019-07-01 17:05] ghostplant commented on #1188
@b-sumner Thanks, if I use gfx906 which supports hardward dot4 for int8, will `saturate=true` be slower than `saturate=false` since it requires extra boundary checking?

[2019-07-01 17:24] ghostplant commented on #1188
@b-sumner Besides, as I am recently using this device call, can you tell me what bug it is?

[2019-07-01 17:37] b-sumner commented on #1188
The software implementation was using an int where a long was required on line 62.

[2019-07-01 17:42] ghostplant commented on #1188
@b-sumner Thanks! It doesn't matter as I am only using gfx906 instead of older arches.

[2019-07-09 06:07] #1188 closed, assigned to nobody

[2019-07-09 06:08] ghostplant opened #1197 "How to de-compile HSACO code back to ASM source?"
How to de-compile HSACO code back to ASM source, is it possible to have something like `nvdisasm`?

[2019-07-20 17:41] ourhut commented on #879
@ghostplant have you documented your steps for patching to create these gfx902 builds? I'd like to rebuild the latest tensorflow with this support. Thanks.

[2019-07-24 18:56] ghostplant commented on #879
You can use https://github.com/ghostplant/public/releases/download/ubuntu/ubuntu_bionic-rocm2_gfx902.tar.gz to create a ubuntu:18.04 docker image, then inside the image, you can follow standard way to compile latest https://github.com/ROCmSoftwarePlatform/tensorflow-upstream. Might have some slight failures during the compilation since the gfx902 build only works and matches ROCm 2.0 API.

[2019-07-24 20:26] ourhut commented on #879
Thanks. I was actually looking for your patches you used to build hcc, hip and rocm for that docker image. I started down that path and then found this thread, was hoping if you still had them I could build on your work rather than re-investigating.

[2019-07-31 17:30] justxi opened #1224 "Building HCC results in dynamic linked hcc/clang-9"
Hi,

I build hcc (for Gentoo Linux) and I get a dynamic linked hcc (clang-9), but the cmake scripts install only a few libraries (needed for hip) so hcc is not working. The needed libraries are build while compiling hcc and after copying them manually, hcc worked.

I see that the hcc from the Debian package has no dynamic dependencies regarding ROCM libraries.

Is it necessary to add additional pa

[2019-08-03 19:13] justxi commented on #1224
If I build "hcc" with "BUILD_SHARED_LIBS=OFF" I get the desired result.

[2019-08-03 19:13] #1224 closed, assigned to nobody

[2019-08-06 14:48] dignakov commented on #883
Just wanted to bump this one more time to see if this is being considered?

[2019-08-06 15:21] whchung commented on #883
I have one V1000 on my cube, and I do want to see embedded APU be put onto ROCm roadmap but unfortunately there is no ETA for this. Notice this is not really an HCC issue but a Linux driver-level issue so the best place is https://github.com/RadeonOpenCompute/ROCm/issues/435.

[2019-08-07 19:02] dignakov commented on #883
Thanks, I was looking at that thread too. I ended up here because of a comment by kentrussell:

And the person who made this thread was participating in that one too.

[2019-08-07 19:23] whchung commented on #883
@EvilPictureBook thanks. I didn't know kernel side of things may have been cleared up. Not so sure if CRAT table on BIOS for V1000 though.

Say in case one's able to run `/opt/rocm/bin/rocminfo` on V1000, which validates if ROCK/ROCT/ROCR truly works on the system, then enabling codegen for it is relatively an easy task in HCC:

Clang driver:
https://github.com/RadeonOpenCompute/hcc-clang-upgrade/

[2019-08-12 17:21] misos1 opened #1233 "DPP combining is not working for addition/subtraction in certain cases [HCC, HIP, LLVM]"
**This affects also HIP** so maybe I should move this issue there. Actually it is rather LLVM issue. I put it here because I encountered this with hcc. Many issues here in hcc apply also for hip.

[code]
[code]
dump-gfx900.isa:
[code]

**This is probably happening because when is run "GCN DPP Combine" pass `v_add` instruction is in form `V_ADD_U32_e64` with immediate value 0 which seems DPP combin

[2019-08-12 19:07] misos1 opened #1235 "Unnecessary NOPs between DPP instructions [HCC, HIP, LLVM]"
According to https://gpuopen.com/amd-gcn-assembly-cross-lane-operations/ and "Vega" Instruction Set Architecture Reference Guide:

But when I tried to implement this using `hc::__amdgcn_move_dpp` I got two NOPs between each two of these instructions:

[code]
[code]
dump-gfx900.isa:
[code]

These NOPs does not must be here because next instruction does not have "DPP dependency" from previous. DPP m

[2019-08-12 21:14] b-sumner commented on #1235
Thank you for reporting this problem!  We have opened an internal ticket to get it fixed.

[2019-08-12 22:21] misos1 commented on #1233
Few more cases:
[code]
[code]
Although `v_mul_32_24` is discussable but according to `dpp_combine.mir` it should work.

[code]
[code]

[2019-08-13 21:01] ghostplant opened #1237 "How to compute `user_sgpr_count` in ROCm ISA code?"
How to compute `user_sgpr_count` in ROCm ISA code?

e.g.
[code]

Didn't find any detailed explanation about how to set the value for this field.

[2019-08-13 21:03] ghostplant commented on #1197
Solved by hcc llvm commands

[2019-08-13 21:03] #1197 closed, assigned to nobody

[2019-08-24 10:01] ekuznetsov139 opened #1250 "Event leaks"
I've noticed that ROCm uses an astounding number of event objects when used as backend for https://github.com/tensorflow/tensor2tensor. It easily overshoots the kernel default of 4096, triggering warnings in dmesg (see RadeonOpenCompute/ROCK-Kernel-Driver#80) and, according to my traces, the number of InterruptSignal (ROCR-Runtime/src/core/runtime/interrupt_signal.cpp) objects stabilizes somewhere

[2019-08-25 00:02] ekuznetsov139 commented on #1250
This looks almost like a design feature: HSAOp's live in a ring buffer HSAQueue::asyncOps

https://github.com/RadeonOpenCompute/hcc/blob/clang_tot_upgrade/lib/hsa/mcwamp_hsa.cpp#L1281-L1282

which is set to 16384 entries by default, and no attempt to do resource reclamation is made until the pointer gets all the way around the buffer.

It is a trivial change to turn that std::vector into std::list

[2019-08-25 08:30] ekuznetsov139 commented on #1250
https://github.com/RadeonOpenCompute/hcc/compare/clang_tot_upgrade...ekuznetsov139:event_fix2?expand=1

And, in fact, I see that there's a change in master (but not in the 2.7 tag I've been working with) that goes even further and simply empties the entire queue on every wait.

However, things are not as peachy as I'd like, because, with my change, I am now getting odd  crashes:
[code]
They are ra

[2019-08-25 22:01] freddybc commented on #883
It is possible to get rocm working on APUs.
You can read about the effort here, https://bruhnspace.com/en/bruhnspace-rocm-for-amd-apus/
and download deb files from https://bruhnspace.com/rocm-apu/.

ROCm 2.6 built with APU support (gfx801, carrizo, bristol ridge, and gfx902 Raven Ridge).
rocm 2.7 is a mess... will build 2.8/2.9 if the ongoing renaming chaos has settled down.

[2019-08-26 20:28] jeffdaily commented on #1250
You cannot simply stop allocating signals for all kernels.  In the current ring buffer implementation, if the buffer loops back around and overwrites a kernel op before it has launched, the device-allocated kernel argument buffer will be free'd before the kernel uses it.

We are aware of the large number of signals being used and we have plans to fix it.  In the meantime, perhaps try reducing the

[2019-08-27 01:30] #1250 closed, assigned to nobody

[2019-08-28 22:33] freddybc commented on #879
@ourhut you can find ROCm 2.6 for APUs (Carrizo, Raven Ridge, etc gfx801, gfx902) together with TensorFlow 1.14.1 wheel here, https://bruhnspace.com/rocm-apu/
In case you don't want to build a docker image.

[2019-08-29 05:23] lsr0 commented on #879
freddybc/ghostplant: can either of you post the branches/patches you're using to build these debs?

[2019-09-02 15:31] davidrohr opened #1257 "HIP Program crash with missing constructor when compiled with HCC"
The program below crashes during hipLaunchKernelGGL instead of giving a failure at compile time, that the constructor for a is defined but not implemented:

[code]
Compiled via: `hipcc -o test test.hip.cpp` with ROCM 2.6/2.7 and a Radeon7 GPU.

The problem appears only when compiled with HIP_COMPILER=hcc (it works with nvcc and hip-clang), so in ROCm-Developer-Tools/HIP#1314 we decided to report t

[2019-09-13 19:24] AlexVlx commented on #1233
@b-sumner for awareness.

[2019-09-27 09:45] jt-lu commented on #883
I get the following error when running TensorFlow benchmark on gfx902, ROCm 2.6

2019-09-27 17:39:13.808432: I tensorflow/core/common_runtime/gpu/gpu_device.cc:1651] Found device 0 with properties:
name: AMD Ryzen Embedded R1606G with Radeon Vega Gfx
AMDGPU ISA: gfx902
memoryClockRate (GHz) 1.2
pciBusID 0000:03:00.0
2019-09-27 17:39:13.808512: I tensorflow/stream_executor/platform/default/dso_load

[2019-09-28 10:16] davidrohr opened #1274 "HCC clamp-device segfaults compiling HIP program"
When I link the attached object file with HCC, I get a segfault in clamp-device with ROCm 2.8:
[code]

This failure was not present with ROCm 2.7, it was introduced in 2.8.

I attach the object file, since this is from a larger application with many header files from dependencies, and I could neither easily preprocess the HIP source code nor find a smaller reproducer:
[GPUReconstructionHIP.hip.cxx

[2019-10-13 17:43] davidrohr commented on #1274
Please find attached a second test case with source code instead of an object file:
[testcase.tar.gz](https://github.com/RadeonOpenCompute/hcc/files/3722052/testcase.tar.gz)

As compile command, please use: `hipcc  -DFMT_SHARED -DGLFW_DLL -DGPUCA_BUILD_EVENT_DISPLAY -DGPUCA_BUILD_QA -DGPUCA_GPULIBRARY=HIP -DGPUCA_HAVE_OPENMP -DGPUCA_STANDALONE -DGPUTrackingHIP_EXPORTS -DHAVE_O2HEADERS -DHIP_ENABLE

[2019-10-21 19:27] PhilipDeegan commented on #1257
HCC is no longer maintained.

[2019-10-31 17:46] pfultz2 opened #1295 "Compiler crash in EmitCallArg"
When compiling this code with hcc:

[code]

It crashes with:

[code]

[2019-11-01 08:24] aazz44ss opened #1297 "how to increase printf buffer size in kernel code?"
I use printf in kernel to debug,
However there are only some of information being printed.
I guess is the limited in printf buffer size?

[2019-11-05 06:14] #1297 closed, assigned to nobody

[2019-11-15 20:29] ezyang commented on #839
This issue affected me today.

[2019-11-19 22:29] srinivamd commented on #839
The presence (addition) of the `__host__` macro/attribute in the function definition
  `__host__  void FuncA(int exp)...`
might be the reason why the `extern "C"` declaration on `FuncA()` WITHOUT the `__host__` attribute does not get applied.
Does removing the `__host__` attribute in the function definition make the demangling of `FuncA` work correctly? NOTE: That does not mean to suggest removing

[2019-11-20 16:53] ezyang commented on #839
IIRC, I tried the version where I declared `__host__ extern "C"` in header, and nothing in the cpp file, and I had the same problem. But this problem is really easy to repro, so you should just double check...

[2019-11-20 22:01] srinivamd commented on #839
The header declarations are pretty much a no-op when the function definitions in the compiled translation unit is inconsistent - in this case the specifier `__host__` makes them inconsistent and compiler seems to supersede the declaration.  Plus, intervening inclusion on header files that may have different linkage might also be affecting I think. Granted that there's an issue, but FWIW here's mod

[2019-11-21 19:07] scchan commented on #839
I could only reproduce this issue if there's a mismatch between the function declaration and the definition.  More specifically, when the declaration is missing the __host__ keyword:

`// failing`
`extern "C" int foo(int a);`
`
__host__ int foo(int a) {
  return a;
}
`

As a short term workaround, adding `__host__` to the function declaration should make it work:

`// working`
`extern "C" __host__

[2020-01-04 03:10] charitha22 opened #1358 "'libunwind.h' file not found"
I have already installed libunwind-dev package but getting this compiler error. Can someone help?

[code]

[2020-02-18 22:13] rrawther commented on #976
I too am getting this error when compiling sse2 intrinsic. What is the solution when using hcc?

[2020-02-26 10:34] wormwang opened #1397 "build source code of hcc 2.10 error"
Ubuntu 18.04,
gcc 8.3 ,g++ 8.3

We build hcc  2.10 from source code. meet such error

[100%] Building CXX object lib/CMakeFiles/mcwamp.dir/mcwamp.cpp.o
[100%] Building CXX object lib/CMakeFiles/mcwamp.dir/mcwamp.cpp.o
In file included from /home/motech/rocm2.10/hcc/lib/mcwamp.cpp:8:
/home/motech/rocm2.10/hcc/build/include/hc_rt_debug.h:3:10: fatal error: 'cstdlib' file not found
#include <cstdlib>

[2020-03-09 15:16] BrunoLiegiBastonLiegi opened #1418 "build failure"
Hello,
I'm facing build errors in manjaro 5.5.7 with gcc & g++ 9.2.
Here's a screenshot
![hcc_source_build_error](https://user-images.githubusercontent.com/45011234/76227478-a92c9180-621f-11ea-856e-a2d66e2fdefc.png)

Furthermore there is a repo implementing arch PKGBUILD for hcc, I tried with that too but ended with build error anyway, a different one though. All the details can be found here [htt

[2020-03-10 10:42] heroxbd opened #1421 "Is hcc really deprecated?"
Hi, I am from the Gentoo community and is trying to package the HIP ecosystem into Gentoo.  After reading hcc README.md, it was committed by @scchan [a year ago](https://github.com/RadeonOpenCompute/hcc/commit/e458d8ac32defb4877c973d24e2392c3913fda96) that hcc is deprecated.

But, as far as I know, HIP have 2 AMD backends, one is `roc-hcc` and the other is [roc-ocl](https://github.com/RadeonOpenCo

[2020-03-10 16:21] pfultz2 commented on #1421
Are you building hip-clang from source?

[2020-03-11 00:07] heroxbd commented on #1421
Yes we are, Gentoo is a Linux distribution that by default build everything in the OS from source.

[2020-03-11 04:34] pfultz2 commented on #1421
Where are those build scripts? I am interested in building hip-clang in our CI.

[2020-03-12 02:13] heroxbd commented on #1421
They are working-in-progress.  I will inform you when they are ready.

[2020-03-12 02:14] heroxbd commented on #1421
After investigation, hcc is deprecated and HIP-clang has upstreamed all the work to llvm.  Well done!

Reference: https://github.com/ROCm-Developer-Tools/HIP/commit/af697eaefed7806d1d561f9f5087f07f7013a4ec

[2020-03-12 02:14] #1421 closed, assigned to nobody

[2020-03-16 09:16] 0hanghang opened #1428 "compile error from source code"
I've been compiling the hcc(default branch) with llvm(amd-stg-open branch) on arm64 platform ,ROCT-THUNK-INTERFACE ROCR-RUNTIME, ROCM-DEVICE-LIBS have been compiled and make install .but when got to the hcc ,I follow the step :
1.cmake -DCMAKE_BUILD_TYPE=Release ..
2. make
Log is bellow:
[ 44%] Built target LTO_exports
Scanning dependencies of target LTO
[ 44%] Building CXX object llvm-project/llv

[2020-03-18 04:15] 0hanghang commented on #465
@whchung @lintcoder how did you build HIP on ARM64 platform .I compile it from HIP master branch and I got :
[100%] Built target lpl
fatal error: error in backend: Unsupported calling convention.
fatal error: error in backend: Unsupported calling convention.
fatal error: error in backend: Unsupported calling convention.
clang-11: error: clang frontend command failed with exit code 70 (use -v to se

[2020-03-18 04:16] 0hanghang commented on #465
beside cmake -DHSA_PATH=/usr/local/hsa -DHCC_HOME=/opt/rocm/hcc -DCMAKE_INSTALL_PREFIX=/opt/rocm/hip -DCMAKE_PREFIX_PATH=/home/ubuntu/opencl/rocm/ROCm-CompilerSupport/lib/comgr/build/lib/cmake/amd_comgr/ -DCMAKE_BUILD_TYPE=Release ..

[2020-03-19 23:45] xw285cornell opened #1430 "Do not use system ld in hc-kernel-assemble"
It seems hc-kernel-assemble is using the system ld, instead of $BINDIR/lld: https://github.com/RadeonOpenCompute/hcc/blob/44f47d857e1df2b1042a1d8f3a2e3225eee3d908/lib/hc-kernel-assemble.in#L185.

This will make it platform dependent (even if it works for the current ubuntu/centos, it doesn't work for some special systems). Can we change ld --> $BINDIR/lld?

[2020-03-20 00:07] xw285cornell commented on #1430
It seems to complain that lld is a generic tool, and asks me to use the specific ones:

stderr: lld is a generic driver.
Invoke ld.lld (Unix), ld64.lld (macOS), lld-link (Windows), wasm-ld (WebAssembly) instead

I can pass by changing it to $BINDIR/ld.lld, but wondering if there is anything better (if you care about windows, etc)

[2020-03-23 16:02] Kelvin-Ng commented on #879
@freddybc @ghostplant They do not work out of box on my setup. Could you release the patches so that I can hack them?

[2020-04-19 10:49] PhilipDeegan opened #1447 "Invalid record"
hi there,

I've noticed that when I try to compile with any -g or -O

I get the following link error

[code]

[2020-05-05 09:06] MathiasMagnus opened #1448 "CMake warning on nested find_package"
It has annoyed me to no ends how the configuration output of rocLIBRARIES are CMake warnings that may be suppressed using `-Wno-dev`, but I am infact the dev of these libraries, so I don't want to universally turn of CMake script dev warnings. The warnings can be traced back to the package config scripts of HCC.

## Problem
https://github.com/RadeonOpenCompute/hcc/blob/1b4c92ba631e8a5080dc82f96b33

[2020-05-12 08:22] zhaozhangjian commented on #1178
Hi,
I ran into the same issue as yours, have you solved the problem yet?

[2020-05-12 16:34] nonpolarity commented on #1178
Maybe you can try -DCMAKE_BUILD_TYPE="RelWithDebInfo".

[2020-05-13 01:25] zhaozhangjian commented on #1178
Hi,
Thanks for your reply! I tried this option and the building passed, some debug info such as virtual address was still optimized out. But I can see much more debug info now, thanks!

[2020-06-09 22:45] sclarkson opened #1449 "libmcwamp and libhc_am are circularly dependent"
libmcwamp is depends on libhc_am

[code]

However, libhc_am depends on libmcwamp for the symbol Kalmar::getContext, despite not explicitly linking to it.

[code]

Furthermore, hcc-config always links to both libraries. Is there any reason for these libraries not to be merged, especially now that the plugin loader has been removed? Seems like there's not a clear separation of responsibilities betwe

[2020-10-16 08:47] psychocoderHPC commented on #621
@sabreshao Is there a time frame when this feature will be supported? We need this feature for our visualization library [ISAAC](https://github.com/ComputationalRadiationPhysics/isaac/tree/dev) too.

[2020-10-27 05:47] sabreshao commented on #621
@psychocoderHPC hcc is deprecated and rocm is switched to hip-clang.
@scchan Do we support function pointer array in hip-clang?

[2020-10-27 09:01] psychocoderHPC commented on #621
The error with HIP clang is still the same. Function pointer are not supported :-( I will open a HIP issue as soon as I am back in my office next week.

[2020-10-27 14:34] scchan commented on #621
We are actively looking at function pointer support in hip-clang at the moment.  Unfortunately, it's not trivial to implement on the GPU due to several technical challenges that we are trying to solve.

[2020-12-08 22:54] preda commented on #964
I have the same issue with ROCm 3.10, on Ubuntu 20.04, Linux kernel 5.9.12.
I installed rocm-opencl3.10.0, set up groups (video & render), set up kfd rights, set up LD_LIBRARY_PATH:
export LD_LIBRARY_PATH=/opt/rocm-3.10.0/opencl/lib

Now when I run
[code]

I tried to install manually on ubuntu libtinfo-dev, but that installed /usr/lib/x86_64-linux-gnu/libtinfo.so.6 and did not fix the problem.

Un

[2020-12-09 00:29] baryluk commented on #964
You need to install `libinfo5` from Ubuntu. I explained it in the first post. just `sudo apt install libtinfo5` and it should start working. You don't need `libtinfo-dev` (you can remove it if you like).

However, your issue is not with `hcc`, but something else, so you should go to different issue tracker. You can run `strace -f  /opt/rocm-3.10.0/opencl/bin/clinfo `, to find out more maybe.

[2020-12-09 00:33] baryluk commented on #964
Also, It appears that `rocm-dev` does depend on `rocm-gdb` which depend on `libtinfo5`, which is nice, but that is for ROCgdb.

I am not sure if the issue with `hcc` package got fixed.

[2020-12-09 00:36] baryluk commented on #964
@preda Also, I don't think it is a good github issue tracker for your issue. You are reporting issue with clinfo. This repo is for hcc, which is not even distributed with ROCm 3.10 anymore.

Please go to main ROCm issue tracker https://github.com/RadeonOpenCompute/ROCm and report the problem there.

[2020-12-09 01:03] preda commented on #964
Thanks, opened https://github.com/RadeonOpenCompute/ROCm/issues/1324
- Mihai

On Wed, 9 Dec 2020 at 11:36, Witold Baryluk <notifications@github.com>
wrote:

[2020-12-15 12:48] kylin0061 commented on #800
what did you do after? I meet the same problem.thanks

[2021-01-06 15:36] taichichuan opened #1451 "@Ghostplant links are 404"
It seems as all of the @ghostplant links are now 404.  Is there a guide or set of steps called out somewhere for supporting the GFX902?  This is the graphics on the latest Ryzen 4700U APUs.  So, it's not like AMD isn't continuing with the the Vega GPUs.  Any, pointers would be appreciated and if I can figure it out, I'll put together a detailed document on the steps.

[2021-03-06 15:52] preda commented on #861
Any update on the recommended way to get at add3?

[2021-05-18 23:50] brad-mengchi opened #1452 "extractkernel for rdc code"
Hi all,

I tried to write a __global__ kernel and a __device__ function and compile __device__ function in a relocatable way(-fgpu-rdc). Then I tried to use extractkernel script to dump the AMD GPU assembly code.

Seems that it fails to dump since there is no .hip_fatbin section after extracting(objdump -h) the executable. So does anyone know which section (names) extractkernel needs to recognize

[2021-05-19 00:05] searlmc1 commented on #1452
+@david-salinas

[2021-05-19 00:07] brad-mengchi commented on #1452
Since hcc is no longer supported. I also move this question to https://github.com/ROCm-Developer-Tools/HIP/issues/2274.

[2021-06-19 13:41] AGenchev commented on #883
I tried their (https://bruhnspace.com) .deb files on docker image of Ubuntu 18 (Under Debian "Bullseye"  with kfd working). The hardware was Ryzen 5 PRO 3350G. Got it to the point where TF and PyTorch were reporting CUDA support on the APU. But any execution even of the simplest op on the GPU **failed**. For this reason, I'm waiting the prices of old Tesla M40 to drop a bit.

[2021-07-24 23:56] alephpt commented on #155
is there a solution to this?

[2022-03-24 19:52] twilight1996 opened #1453 "running heterogeneous benchmark like chai in gem5gcn3"
Hi
I cant run chai benchmark in gem5gcn3, would you please if you have any informations about running benchmarks in gem5gcn3(also gem5gpu) tell me.
Thanks regard

[2022-03-31 12:10] DeeptimayeeSethi opened #1454 "Please enable two factor authentication in your github account"
@rocm-hcc

We are going to enforce two factor authentication in (https://github.com/RadeonOpenCompute/) organization on 7th April , 2022 . Since we identified you as outside collaborator for this organization, you need to enable two factor authentication in your github account else you shall be removed from the organization after the enforcement. Please skip if already done.
To set up two factor a

[2022-03-31 20:20] terU3760 opened #1455 "How to convert LDS memory address to the address can be passed into DS_READ_* and DS_WRITE_* instructions?"
Have followed [here](https://github.com/RadeonOpenCompute/hcc/issues/693) to write the following code:
The hip file:
[code]
The cpp file:
[code]
The code just doesn't compile! How to correct it? Thanks in advance!

[2022-03-31 20:49] b-sumner commented on #1455
Accessing `__shared__` memory via inline ASM is not recommended and will probably cause more harm than good.  What problem are you trying to solve?  Why not simply code `temp_local...[i]`?

[2022-04-01 09:47] terU3760 commented on #1455
@b-sumner I'm trying to test and let the inline assembly working. How to make this program(inline assembly) workable? Or could you please provide a program architecture to let these inline assembly workable?

[2022-04-01 22:38] terU3760 opened #1456 "Inline assembly of DS_WRITE_B128 compile error Don't know how to handle indirect register inputs yet for constraint 'v'"
By referencing [here](https://github.com/adityaatluri/gemm-vega64/blob/master/shared_ops.h), wrote the following inline assembly code:
[code]
But when compile it reports the following error:
[code]
The hip file is something as
[code]
The cpp file is something as
[code]
Thanks in advance!

[2022-04-24 16:58] terU3760 opened #1457 "hipcc does not hipify __nvvm_get_smem_pointer function"
In many CUDA related project, we can see the line of code as the following:
[code]
It is used to convert the shared memory address into an 32 bit int address. But when I tried to use hipcc to build the project containing such line, it just doesn't hipify this line i.e. compile OK but link error:
[code]
So what is the equivalent on AMD gpu platform of the function __nvvm_get_smem_pointer in Nvidia

[2022-04-24 21:38] searlmc1 commented on #1457
+ @b-sumner , @yxsamliu , @emankov

[2022-04-24 23:18] b-sumner commented on #1457
This looks like an internal function to me, well outside the scope of the cuda programming language.  Why are those "many Cuda related project" choosing such a risky direction?  What is wrong with just using ordinary pointers?

[2022-04-25 15:09] terU3760 commented on #1457
@b-sumner "many Cuda related project", Yes, there a few of them, such as cutlass, apex, etc. A lot of applications using shared memory mechanism of CUDA may use it. So by your answer, I guess you mean, in AMD gpu platform, just replace this __nvvm_get_smem_pointer function with an simple type conversion from void* to uint32_t is enough? Or there are more things needed to be done other than just a